<%=bootstrap_fields_for "assessment_criterion" do |f| %>
  <%=f.hidden_field :assessment_rubric_id %>
  <div class="row">
    <div class="col-sm-6">
      <%=f.text_field :criterion, :label => "Criterion Label" %>
      <%=f.text_area  :criterion_desc, :size => "35x10", :label => "Criterion Description" %>
    </div>

    <div class="col-sm-6">
      <%=f.text_field :standard %>
      <%=f.select :type, [["Default", "default"], ["Select", "select"], ["Text Field", "text"]], {:label => "Score Type"} %>
      <%=f.text_field :type_option, :label => "Score Type Option" %>
      <%=f.check_box :active, {}, 1, 0 %>
    </div>
  </div>
<% end %>
