<% content_for(:dialog) do %>

  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "filter_dialog", :modal_title => "Search", :modal_form_id => "filter_form"} do %>
    <%=bootstrap_form_for(:filter, :url => kapa_assessment_rubrics_path, :html => {:method => :get, :id => "filter_form"}) do |f| %>
      <%=f.text_field :title %>
      <div class="form-group">
        <label for="filter_program">Program</label>
        <%=program_select :filter, :program, {:include_blank => "Any"}, :class => "form-control" %>
      </div>
      <%=f.property_select :course, {:name => :assessment_course, :include_blank => "Any"} %>
      <%=f.property_select :transition_point, :include_blank => "Any" %>
      <%=f.select :per_page, Rails.configuration.items_per_page_selections %>
    <% end %>
  <% end %>

<% end %>

<% content_for(:box1) do %>

  <h3>Assessments</h3>

  <div class="row">
    <div class="col-sm-12 text-right">
      <%=button_to_link "New", {:action => :new}, :icon => "glyphicon-plus" %>
      <%=button_to_link "Search", nil, "data-toggle" => "modal", "data-target" => "#filter_dialog", :icon => "glyphicon-search" %>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Program</th>
        <th>Effective</th>
        <th>Criteria</th>
        <th><%=t(:kapa_global_dept) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for assessment_rubric in @assessment_rubrics %>
        <tr>
          <td><%=abbr assessment_rubric.title, 50 %></td>
          <td><%=abbr assessment_rubric.program.join(", "), 23 %></td>
          <td><%=assessment_rubric.effective_term %></td>
          <td><%=assessment_rubric.assessment_criterions.length.to_i %></td>
          <td><%=assessment_rubric.dept.join(", ") %></td>
          <td class="right"><%=link_to "Show", {:action => :show, :id => assessment_rubric}, :class => "btn btn-default btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center"><%=will_paginate @assessment_rubrics, :renderer => BootstrapPagination::Rails %></div>

<% end %>
