<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $('#change_program').click(function() {jQuery('#change_program_dialog').dialog('open');})
    });
  </script>
<% end %>

<% content_for(:hidden) do %>

  <div id="change_program_dialog" class="form-dialog" title="Change Program">
    <%=label_form_for(:curriculum, :url => main_curriculums_path(:action => :update, :id => @curriculum, :return_uri => request.symbolized_path_parameters)) do |t| %>
      <%= t.model_select :program_id, {:model_name => :program, :model_options => {:value => :id, :depts => @current_user.depts}, :label => "Program"} %>
    <% end %>
    <div style = "width:300px;">
      <p class="notice">Changing academic program will reset major, distribution, location, and track options to default values.</p>
    </div>
  </div>

<% end %>

<%= bootstrap_fields_for :curriculum do |f| %>
  <div class="row">
    <div class="col-xs-4">
      <div class="form-group"><%=label :program, :description, "Program" %>
        <p class="form-control-static"></span><%=@program.description%> <%=link_to_function("<span class='glyphicon glyphicon-pencil'></span>".html_safe, nil, :id => "change_program", :class => "btn btn-default btn-xs") if @current_user.manage? %></p>
      </div>
      <%= f.select :second_degree, [["Second Degree", "Y"]], {:label => "Degree option", :inlucde_blank => "Regular"} %>
      <%= f.property_select :track, {:include_blank => true, :program => @program} %>
    </div>

    <div class="col-xs-4">
      <%= f.property_select :distribution, {:label =>"Program Distribution", :program => @program} %>
      <%= f.property_select :location, {:include_blank => true, :label =>"Program Location"} %>
    </div>

    <div class="col-xs-4">
      <%= f.property_select :major_primary, {:name => :major, :label => "Primary Major/Concentration", :include_code => true, :program => @program} %>
      <%= f.property_select :major_secondary, {:name => :major, :label => "Secondary Major/Concentration", :include_code => true, :include_blank => true} %>
    </div>
  </div>
  <%= f.hidden_field :person_id %>
<% end %>
