<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      <% if @modal %>$('#change_program_dialog').modal({show : true});<% end %>
    });
  </script>
<% end %>

<% content_for(:dialog) do %>
  <%=render :layout => '/layouts/modal', :locals => {:modal_id => "change_program_dialog", :modal_title => "Change Program", :modal_form_id => "change_program_form"} do %>
    <%=bootstrap_form_for(:curriculum, :url => main_curriculum_path(:id => @curriculum, :return_uri => request.symbolized_path_parameters), :html => {:method => :put, :id => "change_program_form"}) do |t| %>
      <%= t.model_select :program_id, {:model_name => :program, :model_options => {:value => :id, :depts => @current_user.depts}, :label => "Program"} %>
    <% end %>
    <p>Changing academic program will reset major, distribution, location, and track options to default values.</p>
  <% end %>
<% end %>

<%= bootstrap_fields_for :curriculum do |f| %>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group"><%=label :program, :description, "Program" %>
        <p class="form-control-static"></span><%=@program.description%>
          <% if @current_user.manage? %>
            <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#change_program_dialog"><span class="glyphicon glyphicon-pencil"></span></button>
          <% end %>
        </p>
      </div>
      <%= f.select :second_degree, [["Second Degree", "Y"]], {:label => "Degree option", :inlucde_blank => "Regular"} %>
      <%= f.property_select :track, {:include_blank => true, :program => @program} %>
    </div>

    <div class="col-sm-4">
      <%= f.property_select :distribution, {:label =>"Program Distribution", :program => @program} %>
      <%= f.property_select :location, {:include_blank => true, :label =>"Program Location"} %>
    </div>

    <div class="col-sm-4">
      <%= f.property_select :major_primary, {:name => :major, :label => "Primary Major/Concentration", :include_code => true, :program => @program} %>
      <%= f.property_select :major_secondary, {:name => :major, :label => "Secondary Major/Concentration", :include_code => true, :include_blank => true} %>
    </div>
  </div>
  <%= f.hidden_field :person_id %>
<% end %>
