<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function ($) {

      $('#person_id_number').keyup(function () {
        if ($(this).val().match(/[\d]{8}/i)) {
          $.get('<%=ajax_main_person_path(:id => @person, :commnad => :verify)%>',
                  {key: $(this).val()},
                  function (data) {
                    $('#person_form').html(data);
                  },
                  'html');
        }
      })

      $('#person_email').keyup(function () {
        if ($(this).val().match(/\w+@hawaii.edu/i)) {
          $.get('<%=ajax_main_person_path(:id => @person, :command => :verify)%>',
                  {key: $(this).val()},
                  function (data) {
                    $('#person_form').html(data);
                  },
                  'html');
        }
      })

      $('#person_sync_button').click(function () {
        $.get('<%=ajax_main_person_path(:id => @person, :command => :sync)%>',
                {key: $('#person_id_number').val()},
                function (data) {
                  $('#person_form').html(data);
                },
                'html');
      })
    });
  </script>
<% end %>

<h3>
  <div class="btn-group person-detail">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-user"></span><span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#" data-toggle="modal" data-target="#person_profile_modal">Show Person Profile</a></li>
      <li><a href="#" data-toggle="modal" data-target="#person_contact_modal">Show Contact Information</a></li>
      <li><a href="#" data-toggle="modal" data-target="#person_artifact_modal">Show Artifacts</a></li>
      <li><a href="#">Send E-mail</a></li>
      <li><a href="#">Open External Site</a></li>
    </ul>
  </div>
  <%= link_to @person.full_name, main_person_path(:action => :show, :id => @person) %>
</h3>

<%=render :layout => '/layouts/modal', :locals => {:modal_id => "person_profile_modal", :modal_title => "Person Profile", :modal_form_id => "person_form"} do %>
  <%= bootstrap_form_for :person, :url => main_person_path(:id => @person, :focus => "profile", :return_uri => request.symbolized_path_parameters), :remote => true, :html => {:method => :put, :id => "person_form"} do %>
    <%= render :partial => "/main/person_form" %>
  <% end %>
<% end if @current_user.read? :main %>

<%=render :layout => '/layouts/modal', :locals => {:modal_id => "person_contact_modal", :modal_title => "Contacts", :modal_form_id => "contact_form"} do %>
  <%= bootstrap_form_for :contact, :url => main_contact_path(:id => @person, :focus => "contact", :return_uri => request.symbolized_path_parameters), :remote => true, :html => {:method => :put, :id => "contact_form"} do %>
    <%= render :partial => "/main/contact_form", :locals => {:object_name => :contact} %>
  <% end %>
<% end if @current_user.read? :main %>

<%=render :layout => '/layouts/modal', :locals => {:modal_id => "person_artifact_modal", :modal_title => "Artifacts"} do %>
  <%= render :partial => "/artifact/document_table" %>
<% end if @current_user.read? :artifact %>
