<table>

<tr>
<th></th>
<th>Requirments</th>
<th>Evaluation</th>
</tr>

<tr>
<th rowspan="8">Courseworks:</th>
<td>Overall Cum GPA:</td>
<td><%=text_field "curriculum_admission", "cum_gpa", :size => 3  %>
<%=select "curriculum_admission", "cum_gpa_type", ["+", "adj"], :include_blank => true %></td>
</tr>

<tr>
<td>Major Cum GPA:</td>
<td><%=text_field "curriculum_admission", "major_cum_gpa", :size => 3  %>
<%=select "curriculum_admission", "major_cum_gpa_type", ["+", "adj"], :include_blank => true %></td>
</tr>

<tr>
<td>Completed 55 credits</td>
<td><%=evaluation_select "curriculum_admission", "coursework_req01"%></td>
</tr>

<tr>
<td>Completed core requirments</td>
<td><%=evaluation_select "curriculum_admission", "coursework_req02"%></td>
</tr>

<tr>
<td>Completed prerequisite courses</td>
<td><%=evaluation_select "curriculum_admission", "coursework_req03"%></td>
</tr>

<tr>
<td>Completed baccalaureate degree (PBCSE & 2nd Bac.)</td>
<td><%=evaluation_select "curriculum_admission", "coursework_req04"%></td>
</tr>

<tr>
<td>Completed 50% of academic major req (Sec. BEd.)</td>
<td><%=evaluation_select "curriculum_admission", "coursework_req05"%></td>
</tr>

<tr>
<td>Completed AA or AAT degree</td>
<td><%=evaluation_select "curriculum_admission", "coursework_req06"%></td>
</tr>

<tr>
<th rowspan="6">Required Documents:</th>
<td>Field experiences:</td>
<td><%=evaluation_select "curriculum_admission", "field_exp_req1"%></td>
</tr>

<tr>
<td>Praxis Reading</td>
<td><%=evaluation_select "curriculum_admission", "praxis_reading_passed"%></td>
<td></td>
</tr>

<tr>
<td>Praxis Writing</td>
<td><%=evaluation_select "curriculum_admission", "praxis_writing_passed"%></td>
<td></td>
</tr>

<tr>
<td>Praxis Math</td>
<td><%=evaluation_select "curriculum_admission", "praxis_math_passed"%></td>
<td></td>
</tr>

<tr>
<td>Praxis Composit Score</td>
<td><%=evaluation_select "curriculum_admission", "praxis_composit_passed"%></td>
<td></td>
</tr>

<tr>
<td>Praxis Content Knowledge</td>
<td><%=evaluation_select "curriculum_admission", "praxis_conknow_passed"%></td>
<td></td>
</tr>

<tr>
<th rowspan="2">Interviews:</th>
<td>First interview</td>
<td><%=evaluation_select "curriculum_admission", "interview_first_passed"%></td>
</tr>

<tr>
<td>Second interview</td>
<td><%=evaluation_select "curriculum_admission", "interview_second_passed"%></td>
</tr>

<tr>
<th>Comments &<br> Overall score:</th>
<td><%=hidden_text_area "curriculum_admission", "admission_note", :style => "width:100%; height:100px" %></td>
<td><%=text_field "curriculum_admission", "score", :size => 5  %></td>
</tr>


</table>
<%=hidden_field "curriculum_admission", "curriculum_event_id"  %>
