<%= bootstrap_fields_for :transition_point do |t| %>
  <div class="row">
    <div class="col-xs-4">
      <%= t.property_select :academic_period, :label => "Semester" %>
      <%= t.property_select :category, :name => "#{@transition_point.type}_category", :include_blank => true %>
      <%= t.property_select :priority, :name => "#{@transition_point.type}_priority", :include_blank => true %>
      <%= t.property_select :status, :name => "#{@transition_point.type}_status", :include_blank => true %>
      <%= t.user_select :user_primary_id, :include_blank => true, :label => "Primary Reviewer", :depts => @current_user.depts %>
      <%= t.user_select :user_secondary_id, :include_blank => true, :label => "Secondary Reviewer" %>
    </div>

    <div class="col-xs-4">
      <%= bootstrap_fields_for :transition_point_ext do |t| %>
        <% if @transition_point.type == "admission" %>
          <%= t.date_select :coe_received_date %>
          <%= t.date_select :caf_received_date %>
          <%= t.date_select :caf_returned_date %>
          <%= t.date_select :fe_received_date %>
          <%= t.date_select :praxis1_received_date, :label => "Passing Praxis I Received date" %>
          <%= t.date_select :praxis2_received_date, :label => "Passing Praxis II Received date" %>
          <%= t.date_select :lack_letter_sent_date %>
          <%= t.date_select :rsvp_date %>
        <% end %>
      <% end %>
    </div>

    <div class="col-xs-4">
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12">
       <%= t.text_area :note, :style => "width:100%", :rows => 3 %>
    </div>
  </div>

  <%= t.hidden_field :curriculum_id %>
<% end %>