<% content_for(:box1) do %>

  <%- model_class = Dataset -%>

  <h3>Reports</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= model_class.human_attribute_name(:type) %></th>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:data_source) %></th>
        <th><%= model_class.human_attribute_name(:loaded_at) %></th>
        <th><%= model_class.human_attribute_name(:record_count) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @datasets.each do |dataset| %>
      <tr>
        <td><%= link_to dataset.id, kapa_report_dataset_path(dataset) %></td>
        <td><%= dataset.type %></td>
        <td><%= dataset.name %></td>
        <td><%= dataset.data_source %></td>
        <td><%= dataset.loaded_at %></td>
        <td><%= dataset.record_count %></td>
        <td class="right">
          <%= link_to "Show", kapa_report_report_path(dataset), :class => 'btn btn-default btn-xs' %>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%end%>
