<% content_for(:box1) do %>

  <%- model_class = DataSet -%>

  <h3>Reports</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= model_class.human_attribute_name(:type) %></th>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:data_source) %></th>
        <th><%= model_class.human_attribute_name(:loaded_at) %></th>
        <th><%= model_class.human_attribute_name(:record_count) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @data_sets.each do |data_set| %>
        <tr>
          <td><%= link_to data_set.id, kapa_report_data_set_path(data_set) %></td>
          <td><%= data_set.type %></td>
          <td><%= data_set.name %></td>
          <td><%= data_set.data_source.name %></td>
          <td><%= data_set.loaded_at %></td>
          <td><%= data_set.record_count %></td>
          <td class="right">
            <%= link_to "Show", kapa_report_report_path(data_set), :class => 'btn btn-default btn-xs' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%end%>
