<% content_for(:head) do %>

  <%= stylesheet_link_tag "pivot", :media => "all" %>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
  <script src="https://www.google.com/jsapi"></script>
  <%= javascript_include_tag "pivot" %>
  <%= javascript_include_tag "pivot_gchart_renderers" %>

  <script>
    google.load("visualization", "1", {packages:["corechart", "charteditor"]});
    jQuery(document).ready(function ($) {
      var derivers = $.pivotUtilities.derivers;
      var renderers = $.extend($.pivotUtilities.renderers, $.pivotUtilities.gchart_renderers);

      $.getJSON('<%=kapa_report_datasets_feed_path(:id => @dataset)%>', function (response) {
        var data = response['data'];
        data.unshift(response['data_columns']);
        $("#output").pivotUI(data);
      });
    });
  </script>

<% end %>

<% content_for(:dialog) do %>

  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "filter_report_dialog", :modal_title => "Filter Criteria", :modal_form_id => "filter_form"} do %>
    <%=bootstrap_form_for(:filter, :url => kapa_report_datasets_feed_path(:id => @dataset), :html => {:method => :get, :id => "filter_form"}) do |f| %>

      <% if @parameters.length.present? %>
        <% (1..@parameters.length.to_i).each do |i| %>

          <% if @parameters.send("active#{i}") == "Y" %>
            <%
              name = @parameters.send("name#{i}")
              type = @parameters.send("type#{i}")
              default = @parameters.send("default#{i}")
              label = @parameters.send("label#{i}")
              property_name = "major" # TODO: Implement later
            %>

            <% if type == "text_field" %>
              <%=f.send(type, name, :label => label) %>
            <%# elsif type == "select" # TODO %>
              <%#=f.send(type, name, [["LDAP", "ldap"],["Local" , "local"]], :label => label, :include_blank => "Any") %>
            <% elsif type == "property_select" %>
              <%=f.send(type, name, :name => property_name, :label => label, :include_blank => "Any") %>
            <% elsif type == "term_select" or type == "program_select"  %>
              <%=f.send(type, name, :label => label, :include_blank => "Any") %>
            <% elsif type == "user_select" %>
              <%=f.send(type, name, :label => label, :include_blank => "Any", :depts => @current_user.depts) %>
            <% elsif type == "date_picker" %>
              <div class="form-group">
                <%=label_tag "filter_#{name}", label %>
                <%=send(type, :filter, name) %>
              </div>
            <% elsif type == "check_box" %>
              <%=f.send(type, name, {:label => label}, "Y", "N") %>
            <% end %>
          <% end %>

        <% end %>
      <% end %>

    <% end %>
  <% end %>

<% end %>

<% content_for(:box1) do %>

  <h4 class="section-header">
    <%=link_to "", {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
    <%= @dataset.name %>
  </h4>

  <div class="row">
    <div class="col-sm-12 text-right">
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#filter_report_dialog">Filter</button>
    </div>
  </div>

  <div id="output">
    <!-- Dynamically generated content -->
  </div>

<%end%>
