<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      // Set active tab and pane
      var focus = '<%=params[:focus]%>' || 'dataset_profile';
      $('a[href="#' + focus + '_tab"]').parent().addClass('active');
      $('#' + focus + '_tab').addClass('active');
    });
  </script>
<% end %>

<% content_for(:box1) do %>

  <h4 class="section-header">
    <%=link_to "", {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
    <%=h @dataset.name %>
  </h4>

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li><a href="#dataset_profile_tab" data-toggle="tab">Profile</a></li>
      <li><a href="#parameters_tab" data-toggle="tab">Parameters</a></li>
    </ul>

    <div class="tab-content">
      <div id="dataset_profile_tab" class="tab-pane">
        <%= bootstrap_form_for :dataset, :url => kapa_report_dataset_path(:id => @dataset), :html => {:method => :put} do |f| %>
          <%= render :partial => '/kapa/report/dataset_form' %>
          <%= render :layout => "/kapa/layouts/controls" do %>
            <%= link_to "Load", kapa_report_datasets_load_path(:id => @dataset), :class => "btn btn-default" %>
            <%= link_to "Feed", kapa_report_datasets_feed_path(:id => @dataset), :class => "btn btn-default" %>
          <% end %>
        <% end %>
      </div>

      <div id="parameters_tab" class="tab-pane">

        <div id="accordion" class="panel-group">
          <% @dataset_params.each_pair do |dataset_param_id, p| %>
            <% @dataset_param = OpenStruct.new(p) %>
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#parameter_<%= dataset_param_id %>"><span class="strong"><%= dataset_param_id %>
                      . <%= @dataset_param.name %></span></a>
                  </h3>
                </div>
              <div id="parameter_<%= dataset_param_id %>" class="panel-collapse collapse">
                <div class="panel-body">
                  <%= bootstrap_form_for :dataset, :url => kapa_report_dataset_path(:id => @dataset, :dataset_param_id => dataset_param_id, :focus => :parameters), :html => {:method => :put} do |f| %>
                    <%= render :partial => "/kapa/report/dataset_param_form" %>
                    <%= render :partial => "/kapa/layouts/controls" if @current_user.manage?(:report) %>
                  <% end %>
                </div>
                </div>
              </div>
            <% end %>

          <% @dataset_param = OpenStruct.new %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#new_dataset_param"><span class="new">New Parameter</span></a>
              </h3>
            </div>

            <div id="new_dataset_param" class="panel-collapse collapse">
              <div class="panel-body">
                <%= bootstrap_form_for :dataset, :url => kapa_report_dataset_path(:id => @dataset, :focus => :parameters), :html => {:method => :put} do |f| %>
                  <%= render :partial => "/kapa/report/dataset_param_form" %>
                  <%= render :partial => "/kapa/layouts/controls" if @current_user.manage?(:report) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

<% end %>
