<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      // Set active tab and pane
      var focus = '<%=params[:focus]%>' || 'dataset_profile';
      $('a[href="#' + focus + '_tab"]').parent().addClass('active');
      $('#' + focus + '_tab').addClass('active');
    });
  </script>
<% end %>

<% content_for(:box1) do %>

  <h4 class="section-header">
    <%=link_to "", {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
    <%=h @dataset.name %>
  </h4>

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li><a href="#dataset_profile_tab" data-toggle="tab">Profile</a></li>
      <li><a href="#parameters_tab" data-toggle="tab">Parameters</a></li>
    </ul>

    <div class="tab-content">
      <div id="dataset_profile_tab" class="tab-pane">
        <%= bootstrap_form_for :dataset, :url => kapa_report_dataset_path(:id => @dataset), :html => {:method => :put} do |f| %>
          <%= render :partial => '/kapa/report/dataset_form' %>
          <%= render :layout => "/kapa/layouts/controls" do %>
            <%= link_to "Load", kapa_report_datasets_load_path(:id => @dataset), :class => "btn btn-default" %>
            <%= link_to "Feed", kapa_report_datasets_feed_path(:id => @dataset), :class => "btn btn-default" %>
          <% end %>
        <% end %>
      </div>

      <div id="parameters_tab" class="tab-pane">

        <div id="accordion" class="panel-group">
          <%=bootstrap_form_for :parameters, :url => kapa_report_dataset_path(:id => @dataset, :focus => :parameters), :html => {:method => :put} do |f| %>
            <% (1..@parameters.length.to_i).each do |i| %>
              <% name = "name#{i}" %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#parameter_<%=name %>"><span class="strong"><%=@parameters.send(name) %></span></a>
                  </h3>
                </div>
                <div id="parameter_<%=name %>" class="panel-collapse collapse">
                  <div class="panel-body">
                    <%=render :partial => "/kapa/report/parameters_form", :locals => {:name => name, :type => "type#{i}", :default => "default#{i}", :label => "label#{i}", :active => "active#{i}"} %>
                  </div>
                </div>
              </div>
            <% end %>

            <%=f.hidden_field :length, :value => @parameters.length.to_i %>
            <%=render :partial => "/kapa/layouts/controls" if @current_user.manage? :report %>
          <% end %>
        </div>

      </div>
    </div>
  </div>

<% end %>
