<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      <% if @modal %>$('#change_mentor_dialog').modal({show : true});<% end %>

      // When selecting a person from the change mentor dialog,
      //   automatically set the values in last name, first name, and email fields
      function get_mentor() {
        var mentor_person_id = $('#mentor_person_id').val();
        if(mentor_person_id !== '') {
          $.getJSON('<%=kapa_practicum_placements_get_mentor_path %>', {
              person_id: mentor_person_id
            },
            function(data) {
              $('#mentor_last_name').val(data['last_name']);
              $('#mentor_first_name').val(data['first_name']);
              $('#mentor_email').val(data['email']);
            });
        }
        else {
          $('#mentor_last_name').val('');
          $('#mentor_first_name').val('');
          $('#mentor_email').val('');
        }
      }
      $('#mentor_person_id').change(get_mentor);
      get_mentor();

      // Turn off the default call (located in kapa.js) to submit on the modal submit button
      $('button[data-submit="#change_mentor_form"]#modal_submit').off('click');

      // Add a new click event handler on the modal submit button
      // Instead of performing an update, send a GET request
      $('button[data-submit="#change_mentor_form"]#modal_submit').click(function(e) {
        e.preventDefault();
        // If user selects "New Mentor" and either last name or first name fields are blank upon submission
        if ($('#mentor_person_id').val() === '' && ($('#mentor_last_name').val() === '' || $('#mentor_first_name').val() === '')) {
          return alert('Please select an existing mentor or fill out the fields if a new mentor.');
        }
        $.ajax({
          type: 'PUT',
          url: '<%=kapa_practicum_placements_update_mentor_path %>',
          data: $('#change_mentor_form').serialize(),
          success: function (data) {
            $('#practicum_placement_mentor_person_name').text(data['full_name']);
            $('#practicum_placement_mentor_person_id').val(data['person_id']);
            $('#change_mentor_dialog').modal('hide');
          }
        });
      });

    });
  </script>
<% end %>

<% content_for(:dialog) do %>
  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "change_mentor_dialog", :modal_title => "Select/Create Mentor", :modal_form_id => "change_mentor_form"} do %>
    <%=bootstrap_form_for(:mentor, :url => nil, :html => {:method => :get, :id => "change_mentor_form"}) do |m| %>
      <%=m.select :person_id, @mentors.collect{|c| ["#{c.last_name}, #{c.first_name}", c.id]}, {:include_blank => "New Mentor", :selected => @practicum_placement.mentor_person_id}, {:class => "search-select"} %>
      <%=m.text_field :last_name %>
      <%=m.text_field :first_name %>
      <%=m.text_field :email %>
    <% end %>
  <% end %>
<% end %>

<%=bootstrap_fields_for :practicum_placement do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <%=f.term_select :term_id %>
      <%=f.select :curriculum_id, @curriculums.collect {|c| ["#{c.code_desc}", c.id]}, :include_blank => true, :label => {:text => "Program"} %>
      <%=f.property_select :category, :name => :placement_category, :include_blank => true %>
      <%=f.select :practicum_site_id, @practicum_sites.collect {|c| [c.name_short, c.id]}, :include_blank => true, :label => "Placement Site" if @practicum_placement.person %>
      <div class="form-group"><%=label :practicum_placement, :mentor_person_name, "Mentor Teacher" %>
        <p class="form-control-static">
          <span id="practicum_placement_mentor_person_name"><%=@practicum_placement.mentor ? @practicum_placement.mentor.full_name : "Not assigned..."%></span>
          <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#change_mentor_dialog"><span class="glyphicon glyphicon-pencil"></span></button>
        </p>
      </div>
      <%=f.user_select :user_ids, {:label => "Assignee", :depts => @current_user.depts}, {:multiple => true} %>
    </div>
    <div class="col-sm-6">
      <%=f.text_area :note, {:cols => 54, :rows => 20} %>
    </div>
  </div>
  <%=f.hidden_field :person_id %>
  <%=f.hidden_field :mentor_person_id %>
<% end %>
