<%=bootstrap_fields_for :practicum_placement do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <%=f.term_select :start_term_id %>
        </div>
        <div class="col-sm-6">
          <%=f.term_select :end_term_id %>
        </div>
      </div>
      <%=f.select :curriculum_id, @curriculums.collect {|c| ["#{c.code_desc}", c.id]}, :include_blank => true, :label => {:text => "Program"} %>
      <%=f.property_select :type, :name => :placement_type %>
      <%=f.select :practicum_site_id, @practicum_sites.collect {|c| [c.name_short, c.id]}, {:include_blank => "Not assigned...", :label => "Placement Site"}, {:class => "search-select"} %>
      <div class="form-group"><%=label :practicum_placement, :mentor_person_name, "Mentor" %>
        <p class="form-control-static">
          <span id="practicum_placement_mentor_person_name"><%=@practicum_placement.mentor ? @practicum_placement.mentor.full_name : "Not assigned..."%></span>
          <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#change_mentor_dialog"><span class="glyphicon glyphicon-pencil"></span></button>
        </p>
      </div>
      <%=f.user_select :user_ids, {:label => t(:kapa_global_user_ids), :depts => @current_user.depts}, {:multiple => true} %>
    </div>
    <div class="col-sm-6">
      <%=f.text_area :note, {:cols => 54, :rows => 20} %>
    </div>
  </div>
  <%=f.hidden_field :person_id %>
  <%=f.hidden_field :mentor_person_id %>
<% end %>
