<% content_for(:dialog) do %>

  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "filter_dialog", :modal_title => "Search", :modal_form_id => "filter_form"} do %>
    <%=bootstrap_form_for(:filter, :url => kapa_practicum_placements_path, :html => {:method => :get, :id => "filter_form"}) do |f| %>
      <div class="row">
        <div class="col-sm-6">
          <%=f.term_select :term_id, :include_blank => "Any" %>
          <%=f.program_select :program_id, :include_blank => "Any", :depts => @current_user.depts, :value => :id %>
          <%=f.property_select :major, :include_blank => "Any", :include_code => true, :depts => @current_user.depts, :label => "Major/Concentration" %>
          <%=f.property_select :distribution, :include_blank => "Any" %>
        </div>
        <div class="col-sm-6">
          <%=f.property_select :placement_type, :include_blank => "Any" %>
          <%=f.select :practicum_site_id, @practicum_sites.collect {|c| [c.name_short, "0#{c.id}"]}, {:include_blank => "Any", :label => "Site"} %>
          <%=f.user_select :user_id, {:include_blank => "Any", :depts => @current_user.depts}, {:class => "search-select"} %>
          <%=f.select :per_page, Rails.configuration.items_per_page_selections %>
        </div>
      </div>
    <% end %>
  <% end %>

<% end %>

<% content_for(:box1) do %>

  <h3>Placements (<%=@filter.term_id.present? ? Kapa::Term.find(@filter.term_id).description : "Any Terms" %>)</h3>

  <div class="row">
    <div class="col-sm-12 text-right">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to "Placements", {:action => :export}, :icon => "glyphicon-download" %></li>
          <li><%= link_to "Placements with logs", export_kapa_practicum_logs_path, :icon => "glyphicon-download" %></li>
        </ul>
      </div>



      <%=button_to_link "Search", nil, "data-toggle" => "modal", "data-target" => "#filter_dialog", :icon => "glyphicon-search" %>
    </div>
  </div>

  <table id="student_list" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Program</th>
        <th>Type</th>
        <th>Site</th>
        <th>Logs</th>
        <th><%=t(:kapa_global_user_ids) %></th>
      </tr>
    </thead>
    <tbody>
      <% for practicum_placement in @practicum_placements %>
        <tr>
          <td><%=practicum_placement.person.id_number %></td>
          <td><%=link_to_if @current_user.read?(:kapa_persons), abbr(practicum_placement.person.full_name), kapa_person_path(:id => practicum_placement.person, :anchor => :practicum)%></td>
          <td><%=abbr(practicum_placement.curriculum.code_desc, practicum_placement.curriculum.code) if practicum_placement.curriculum %></td>
          <td><%=practicum_placement.type %></td>
          <td><%=link_to practicum_placement.practicum_site.name_short, kapa_practicum_site_path(:id => practicum_placement.practicum_site) if practicum_placement.practicum_site %></td>
          <td><%=practicum_placement.practicum_logs.length %></td>
          <td><%=practicum_placement.rsend(:users, :first, :person, :last_name) %></td>
          <td class="right"><%=link_to "Show", kapa_practicum_placement_path(:id => practicum_placement), :class => "btn btn-default btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center"><%=will_paginate @practicum_placements, :renderer => BootstrapPagination::Rails %></div>

<% end %>
