<% content_for(:box1) do %>
  <%=render :partial => "/kapa/persons/person_detail" %>

  <h4 class="section-header divider">
    New Placement
  </h4>

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#practicum_placement_tab" data-toggle="tab">Placement</a></li>
    </ul>

    <div class="tab-content">
      <div id="practicum_placement_tab" class="tab-pane active">
        <%=bootstrap_form_for :practicum_placement, :url => kapa_practicum_placements_path(:id => @person) do |f| %>
          <div class="row">
            <div class="col-sm-3">
              <%=f.term_select :term_id %>
            </div>
            <div class="col-sm-6">
              <%=f.select :curriculum_id, @curriculums.collect {|c| ["#{c.code_desc}", c.id]}, :include_blank => "N/A", :label => "Program" %>
            </div>
            <div class="col-sm-3">
              <%=f.property_select :type, :name => :placement_type %>
            </div>
          </div>
          <%=render :partial => "/kapa/layouts/controls" if @current_user.write? %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
