<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      // When selecting a person from the change mentor dialog,
      // automatically set the values in last name, first name, and email fields
      function get_mentor() {
        var mentor_person_id = $('#mentor_person_id').val();
        if(mentor_person_id !== '') {
          $.getJSON('<%=kapa_practicum_placements_get_mentor_path %>', {
              person_id: mentor_person_id
            },
            function(data) {
              $('#mentor_last_name').val(data['last_name']);
              $('#mentor_first_name').val(data['first_name']);
              $('#mentor_email').val(data['email']);
            });
        }
        else {
          $('#mentor_last_name').val('');
          $('#mentor_first_name').val('');
          $('#mentor_email').val('');
        }
      }
      $('#mentor_person_id').change(get_mentor);
      get_mentor();

      // Turn off the default call (located in kapa.js) to submit on the modal submit button
      $('button[data-submit="#change_mentor_form"]#modal_submit').off('click');

      // Add a new click event handler on the modal submit button
      // Instead of performing an update, send a GET request
      $('button[data-submit="#change_mentor_form"]#modal_submit').click(function(e) {
        e.preventDefault();
        // If user selects "New Mentor" and either last name or first name fields are blank upon submission
        if ($('#mentor_person_id').val() === '' && ($('#mentor_last_name').val() === '' || $('#mentor_first_name').val() === '')) {
          return alert('Please select an existing mentor or fill out the fields if a new mentor.');
        }
        $.ajax({
          type: 'PUT',
          url: '<%=kapa_practicum_placements_update_mentor_path %>',
          data: $('#change_mentor_form').serialize(),
          success: function (data) {
            $('#practicum_placement_mentor_person_name').text(data['full_name']);
            $('#practicum_placement_mentor_person_id').val(data['person_id']);
            $('#change_mentor_dialog').modal('hide');
          }
        });
      });

    });
  </script>
<% end %>

<% content_for(:dialog) do %>
  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "change_mentor_dialog", :modal_title => "Select/Create Mentor", :modal_form_id => "change_mentor_form"} do %>
    <%=bootstrap_form_for(:mentor, :url => nil, :html => {:method => :get, :id => "change_mentor_form"}) do |m| %>
      <%=m.select :person_id, @mentors.collect{|c| ["#{c.last_name}, #{c.first_name}", c.id]}, {:include_blank => "New Mentor", :selected => @practicum_placement.mentor_person_id}, {:class => "search-select"} %>
      <%=m.text_field :last_name %>
      <%=m.text_field :first_name %>
      <%=m.text_field :email %>
    <% end %>
  <% end %>
<% end %>

<% content_for(:box1) do %>
  <%=render :partial => "/kapa/persons/person_detail" %>

  <h4 class="section-header divider">
    <%=link_to "", session[:last_index], :class => "glyphicon glyphicon-chevron-left" %>
    Placement
  </h4>

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#practicum_placement_tab" data-toggle="tab">Placement</a></li>
      <li><a href="#practicum_logs_tab" data-toggle="tab">Support Logs</a></li>
    </ul>

    <div class="tab-content">
      <div id="practicum_placement_tab" class="tab-pane active">
        <%=bootstrap_form_for :practicum_placement, :url => kapa_practicum_placement_path(:id => @practicum_placement), :html => {:method => :put}  do |f| %>
          <%=render :partial => "placement_form" %>
          <%=render :partial => '/kapa/layouts/controls', :locals => {:delete_path => kapa_practicum_placement_path(:id => @practicum_placement)} if @current_user.write? %>
        <% end %>
      </div>

      <div id="practicum_logs_tab" class="tab-pane">
        <p class="text-right">
          <%=button_to_link "New Log", new_kapa_practicum_log_path(:practicum_placement_id => @practicum_placement), :icon => "glyphicon-plus" %>
        </p>
          <table id="practicum_logs" class="table table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Minutes</th>
                <th>Frequency</th>
                <th>Supported by</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="practicum_logs-rows">
              <% for practicum_log in @practicum_logs %>
                <tr>
                  <td>
                    <%=practicum_log.log_date %>
                  </td>
                  <td>
                    <%=practicum_log.type_desc %>
                  </td>
                  <td>
                    <%=practicum_log.duration %>
                  </td>
                  <td>
                    <%=practicum_log.frequency %>
                  </td>
                  <td>
                    <%=practicum_log.user.person.full_name if practicum_log.user %>
                  </td>
                  <td>
                  </td>
                  <td class="right">
                    <%=popover_button "", practicum_log.note, :icon => "glyphicon-comment", :class => "btn-default btn-xs" %>
                    <%=link_to "Show", kapa_practicum_log_path(:id => practicum_log), :class => "btn btn-default btn-xs" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
<% end %>
