<% content_for(:document) do %>
  <%=content_tag :iframe, :src => artifact_documents_url(:action => :show, :id => @document, :format => :file, :inline => true) do %>
  [Your browser does not support iframe, or has been configured not to display inline frames.
   You can access <%=link_to "the document", :action => :show, :id => @document, :format => :file %>
   via a link though.]
  <% end %>
<% end %>

<% content_for(:navigation) do %>
  <%=label_form_for :document, :url => artifact_document_path(:id => @document), :html => {:method => :put, :multipart => true }, :remote => true do |f| %>
      <%=f.text_field :name %>
      <%=f.file_field :data, :text => "Replace file" if @current_user.write? :artifact, :dept => @document.dept %>
      <%=f.check_box :public, {:text => "Share document"}, "Y", "N" %>
      <%=f.text_area :note, :size => "25x30" %>
      <%=f.text_field :dept if @current_user.manage? %>
      <%=f.hidden_field :person_id, :value => @person.id %>
      <%= controls do %>
      <% end if @current_user.write? :artifact, :dept => @document.dept %>
  <% end %>
  <!-- Delete button with popover confirmation -->
  <% if @current_user.write? :artifact, :dept => @document.dept %>
    <form method="post" action="<%=artifact_document_path(:id => @document) %>" class="btn-delete-form">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class="btn btn-default btn-delete"><i class="glyphicon glyphicon-trash"></i> Delete</button>
    </form>
  <% end %>
<% end %>

