<% content_for(:box1) do %>

  <h3>Datasets</h3>

  <div class="row">
    <div class="col-sm-12 text-right">
      <%=button_to_link "New", {:action => :new}, :icon => "glyphicon-plus" %>
      <%=button_to_link "Search", nil, "data-toggle" => "modal", "data-target" => "#filter_dialog", :icon => "glyphicon-search" %>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Source</th>
      <th>Category</th>
      <th>Table Name</th>
      <th>Record Count</th>
      <th>Last Load</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @datasets.each do |dataset| %>
      <tr>
        <td><%=dataset.id %></td>
        <td><%=dataset.name %></td>
        <td><%=dataset.datasource %></td>
        <td><%=dataset.category %></td>
        <td><%=dataset.cache_id %></td>
        <td><%=dataset.record_count %></td>
        <td><%=dataset.loaded_at %></td>
        <td class="right"><%=button_to_link "", {:action => :show, :id => dataset}, :icon => "glyphicon-chevron-right", :class => "btn-default btn-xs pull-right" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>
