<%= bootstrap_fields_for :case do |t| %>
  <div class="row">
    <div class="col-sm-6">
      <%=t.property_select :type, :name => "case_type" %>
      <%=t.datetime_picker :reported_at, :label => "Case reported" %>
      <%=t.datetime_picker :will_close_at, :label => "Closing target" %>
      <%=t.datetime_picker :closed_at, :label => "Case closed" %>
      <%=t.property_select :dept, :include_blank => true, :label => t(:kapa_global_dept) %>
      <%=t.property_select :status, :name => "#{@case.type}_status", :include_blank => true %>
    </div>

    <div class="col-sm-6">
      <%=t.text_area :note, {:label => "Case description", :cols => 54, :rows => 15} %>
    </div>
  </div>
<% end %>
