<%= bootstrap_fields_for :person_reference do |f| %>
  <%= f.select :type, [["Internal Person", "internal"], ["External Person", "external"]] %>
  <div id="involved-person">
    <%= f.person_select :person_id, {:label => "Person", :depts => @current_user.depts, :include_blank => "Select a person..."} %>
  </div>
  <div class="row" id="involved-person-name">
    <div class="col-sm-5">
      <%= f.text_field :last_name, {:label => "Last Name"} %>
    </div>
    <div class="col-sm-5">
      <%= f.text_field :first_name, {:label => "First Name"} %>
    </div>
    <div class="col-sm-2">
      <%= f.text_field :middle_initial, {:label => "MI"} %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= f.text_field :email, {:label => "E-mail"} %>
    </div>
    <div class="col-sm-6">
      <%= f.text_field :phone, {:label => "Phone"} %>
    </div>
  </div>

<% end %>