<% content_for(:box1) do %>
  <%=render :partial => "/kapa/persons/person_detail" %>

  <h4 class="section-header divider">
    New Case
  </h4>
  <%=bootstrap_form_for :case, :url => kapa_cases_path(:id => @person) do |f| %>
    <div class="row">
      <div class="col-sm-6">
        <%=f.date_picker :start_date, :label => "Case Reported date" %>
      </div>
      <div class="col-sm-6">
        <%=f.property_select :type, :name => :case_type %>
      </div>
    </div>
    <%=f.hidden_field :person_id %>
    <%=render :partial => "/kapa/layouts/controls" if @current_user.write? %>
  <% end %>
<%end%>