<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      <% if @case_person_reference.nil? || @case_person_reference.internal? %>
        $("#involved-person-name").hide();
      <% elsif @author.external? %>
        $("#involved-person").hide();
      <% end %>

      $("#case_person_reference_type").change(function() {
        if ($(this).val() == 'internal') {
          $("#involved-person").show(300);
          $("#involved-person-name").hide(300);
        }
        else if ($(this).val() == 'external') {
          $("#involved-person").hide(300);
          $("#involved-person-name").show(300);
        }
      });
    });
  </script>
<% end %>

<% content_for(:dialog) do %>
  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "add_person_reference_dialog", :modal_title => "Add Person", :modal_form_id => "add_person_reference_form" } do %>
    <%= bootstrap_form_for(:case_person_reference, :url => kapa_person_references_path(:referenceable_id => @case), :html => {:id => "add_person_reference_form"}) do %>
      <%=render "person_reference_form" %>
    <% end %>
  <% end %>
<% end %>

<% content_for(:box1) do %>
  <%=render :partial => "/kapa/persons/person_detail" %>

  <h4 class="section-header divider">
     Case #<%=@case.id %>
  </h4>

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li><a href="#case_tab" data-toggle="tab">Profile</a></li>
      <li><a href="#person_references_tab" data-toggle="tab">Parties Involved</a></li>
      <li><a href="#documents_tab" data-toggle="tab">Documents</a></li>
      <li><a href="#actions_tab" data-toggle="tab">Actions</a></li>
    </ul>

    <div class="tab-content">
      <div id="case_tab" class="tab-pane">
        <%= bootstrap_form_for :case, :url => kapa_case_path(:id => @case, :anchor => :case), :html => {:method => :put} do %>
          <%=render :partial => "case_form" %>
          <%=render :partial => "/kapa/layouts/controls", :locals => {:delete_path => kapa_case_path(:id => @case)} if @current_user.write? %>
        <% end %>
      </div>

      <div id="person_references_tab" class="tab-pane">
        <p class="text-right">
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#add_person_reference_dialog"><span class="glyphicon glyphicon-plus"></span> Add Person</button>
        </p>
          <table id="person_references" class="table table-striped">
            <thead>
              <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Phone</th>
                <th>E-mail</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="person_references-rows">
              <% for person_reference in @person_references %>
                <tr>
                  <td>
                    <%=person_reference.type %>
                  </td>
                  <td>
                    <%= link_to_if person_reference.type == "internal", person_reference.person.full_name, kapa_person_path(:id => person_reference.person_id) %>
                  </td>
                  <td>
                    <%#=person_reference.phone %>
                  </td>
                  <td>
                    <%#=person_reference.email %>
                  </td>
                  <td class="right">
                    <%= link_to "Show", kapa_person_reference_path(:id => person_reference), :class => "btn btn-default btn-xs" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>

      <div id="documents_tab" class="tab-pane">
        <p class="text-right">
          <%=bootstrap_button "New File", nil, "data-toggle" => "modal", "data-target" => "#document_dialog", :icon => "glyphicon-plus" %>
          <%=bootstrap_button "New Form", nil, "data-toggle" => "modal", "data-target" => "#form_dialog", :icon => "glyphicon-plus" %>
        </p>
        <table class="table table-striped">
          <thead>
           <tr>
             <th>Type</th>
             <th>Name</th>
             <th>Date</th>
             <th></th>
           </tr>
          </thead>
          <tbody>
           <% @documents.sort_by {|d| d.created_at}.reverse_each do |d| %>
             <tr>
               <td><%=document_icon d%></td>
               <td><%=d.name%></td>
               <td><%=format_date d.date %></td>
               <td class="right"><%= link_to "Show", document_path(d), :target => "_blank", :class => "btn btn-default btn-xs" %></td>
             </tr>
           <% end %>
          </tbody>
        </table>
      </div>

      <div id="actions_tab" class="tab-pane">
        <p class="text-right">
          <%=bootstrap_button "New Action", new_kapa_case_action_path(:case_id => @case), :icon => "glyphicon-plus" %>
        </p>
        <table class="table table-striped">
          <thead>
           <tr>
             <th>Date</th>
             <th>Action</th>
             <th>Note</th>
             <th>User</th>
             <th></th>
           </tr>
          </thead>
          <tbody>
           <% @case_actions.each_with_index do |case_action, index| %>
             <tr>
               <td><%=format_date case_action.action_date %></td>
               <td><%=case_action.action_desc %> </td>
               <td><%=case_action.note %></td>
               <td><%=case_action.rsend(:user, :uid) %></td>
               <td class="right">
                 <%= link_to "Show", kapa_case_action_path(:id => case_action), :class => "btn btn-default btn-xs" %>
               </td>
             </tr>
           <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>

<% end %>
