<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      function get_table_row(person) {
        console.log(person);
        var tag = '<tr><td>#full_name</td><td>#email</td><td><div><input type="radio" value="#person_id" name="person_assignment[person_id]"><label></div></td></tr>'
        tag = tag.replace('#person_id', person['person_id']);
        tag = tag.replace('#full_name', person['full_name']);
        tag = tag.replace('#email', person['email'] ? person['email'] : 'none');
        return tag
      }

      $('#search_person_form').submit(function( event ) {
        $.getJSON('<%=kapa_persons_path(:format => :json) %>',
        $('#search_person_form').serialize(),
        function(data) {
          $('#persons_search_result tbody').html('');
          var persons = data['persons'];
          for(i = 0; i < persons.length; i++) {
            $('#persons_search_result tbody').append(get_table_row(persons[i]));
          }
        });
        event.preventDefault();
      });
    });
  </script>
<% end %>

<% content_for(:dialog) do %>
  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "add_person_assignment_dialog", :modal_title => "Add Person", :modal_form_id => "add_person_assignment_form" } do %>
    <%=form_for(:filter, :url => nil, :html => {:id => "search_person_form"}) do |f| %>
      <div class="row">
        <div class="col-lg-12">
          <div class="input-group">
            <%=f.text_field :key, :placeholder => "Search Person", "data-toggle" => "tooltip", "data-placement" => "bottom", :title => "ID, Name, Email, or Phone", :class => "form-control"%>
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Show</button>
            </span>
          </div>
        </div>
      </div>
    <% end %>
    <table id="persons_search_result" class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>E-mail</th>
          <th>Select</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

  <% end %>
<% end %>

<% content_for(:box1) do %>
  <%=render :partial => "/kapa/persons/person_detail" %>

  <h4 class="section-header divider">
     Case #<%=@case.id %>
  </h4>

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li><a href="#case_tab" data-toggle="tab">Profile</a></li>
      <li><a href="#person_assignments_tab" data-toggle="tab">Additional Contacts</a></li>
      <li><a href="#documents_tab" data-toggle="tab">Documents</a></li>
      <li><a href="#actions_tab" data-toggle="tab">Actions</a></li>
    </ul>

    <div class="tab-content">
      <div id="case_tab" class="tab-pane">
        <%= bootstrap_form_for :case, :url => kapa_case_path(:id => @case, :anchor => :case), :html => {:method => :put} do %>
          <%=render :partial => "case_form" %>
          <%=render :partial => "/kapa/layouts/controls", :locals => {:delete_path => kapa_case_path(:id => @case)} if @current_user.write? %>
        <% end %>
      </div>

      <div id="person_assignments_tab" class="tab-pane">
        <p class="text-right">
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#add_person_assignment_dialog"><span class="glyphicon glyphicon-plus"></span> Add Person</button>
        </p>
          <table id="person_assignments" class="table table-striped">
            <thead>
              <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Phone</th>
                <th>E-mail</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="person_assignments-rows">
              <% for person_assignment in @person_assignments %>
                <tr>
                  <td>
                    <%=person_assignment.type %>
                  </td>
                  <td>
                    <%= link_to_if person_assignment.type == "internal", person_assignment.person.full_name, kapa_person_path(:id => person_assignment.person_id) %>
                  </td>
                  <td>
                    <%#=person_assignment.phone %>
                  </td>
                  <td>
                    <%#=person_assignment.email %>
                  </td>
                  <td class="right">
                    <%= link_to "Show", kapa_person_assignment_path(:id => person_assignment), :class => "btn btn-default btn-xs" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>

      <div id="documents_tab" class="tab-pane">
        <p class="text-right">
          <%=bootstrap_button "New File", nil, "data-toggle" => "modal", "data-target" => "#document_dialog", :icon => "glyphicon-plus" %>
          <%=bootstrap_button "New Form", nil, "data-toggle" => "modal", "data-target" => "#form_dialog", :icon => "glyphicon-plus" %>
        </p>
        <table class="table table-striped">
          <thead>
           <tr>
             <th>Type</th>
             <th>Name</th>
             <th>Date</th>
             <th></th>
           </tr>
          </thead>
          <tbody>
           <% @documents.sort_by {|d| d.created_at}.reverse_each do |d| %>
             <tr>
               <td><%=document_icon d%></td>
               <td><%=d.name%></td>
               <td><%=format_date d.date %></td>
               <td class="right"><%= link_to "Show", document_path(d), :target => "_blank", :class => "btn btn-default btn-xs" %></td>
             </tr>
           <% end %>
          </tbody>
        </table>
      </div>

      <div id="actions_tab" class="tab-pane">
        <p class="text-right">
          <%=bootstrap_button "New Action", new_kapa_case_action_path(:case_id => @case), :icon => "glyphicon-plus" %>
        </p>
        <table class="table table-striped">
          <thead>
           <tr>
             <th>Date</th>
             <th>Action</th>
             <th>Note</th>
             <th>Actioned by</th>
             <th></th>
           </tr>
          </thead>
          <tbody>
           <% @case_actions.each_with_index do |case_action, index| %>
             <tr>
               <td><%=format_date case_action.action_date %></td>
               <td><%=case_action.action_desc %> </td>
               <td><%=case_action.note %></td>
               <td><%=case_action.users.first.person.last_name if case_action.users.first %></td>
               <td class="right">
                 <%= link_to "Show", kapa_case_action_path(:id => case_action), :class => "btn btn-default btn-xs" %>
               </td>
             </tr>
           <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>

<% end %>
