<% content_for(:head) do %>

  <%=javascript_include_tag "kapa/ckeditor" %>

<% end %>

<%=bootstrap_fields_for :message do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <%=f.text_field :title %>
      <%=f.property_select :status, :name => :yes_no %>
      <%=f.hidden_field :person_id %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <%=f.text_area :body, :id => "editor" %>
    </div>
  </div>
<% end %>
