<% content_for(:box1) do %>
  <%=render :partial => "/kapa/persons/person_detail", :locals => {:uri => {:action => :show, :id => @person}} %>

  <h4 class="section-header divider">
    <%=link_to "", kapa_person_path(:action => :show, :id => @person), :class => "glyphicon glyphicon-chevron-left" %>
    New Message
  </h4>

  <%=bootstrap_form_for :message, :url => kapa_messages_path do |f| %>
    <%=render :partial => "message_form" %>
    <%=render :partial => "/kapa/layouts/controls" if @current_user.write? %>
  <% end %>
<%end%>