<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function ($) {

      var lookup_person = function(key) {
          $.getJSON('<%=kapa_main_persons_lookup_path(:id => @person)%>',
                    {key: key},
                    function(data) {
                      if(data['person']) {
                        $('#person_id_number').val(data['person']['id_number']);
                        $('#person_email').val(data['person']['email']);
                        $('#person_last_name').val(data['person']['last_name']);
                        $('#person_first_name').val(data['person']['first_name']);
                        $('#person_status').val(data['person']['status']);
                      }

                      if(data['action'] == 'promote') {
                        alert('Person was verified with the external directory.  Please check the name and save this record.');

                      } else if(data['action'] == 'merge') {
                        $('#person_id_verified').val(data['person_id_verified'])
                        alert('This person already exists in this system.  Please check the name and click OK to merge this record.');

                      } else if(data['action'] == 'alert') {
                        $('#person_id_number').val('');
                        $('#person_email').val('');
                        alert('No record was found in the external directory. Please check ID or Email');
                      }
                    }
                   );
      }

      $('#person_id_number').keyup(function() {
        if($(this).val().match(/<%=Rails.configuration.regex_id_number %>/i)) {
          lookup_person($(this).val());
        }
      });

      $('#person_email').keyup(function() {
         if($(this).val().match(/<%=Rails.configuration.regex_email %>/i)) {
          lookup_person($(this).val());
         }
      });

    });
  </script>
<% end %>

<h3>
  <div class="btn-group person-detail">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-user"></span><span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#" data-toggle="modal" data-target="#person_profile_modal">Show Person Profile</a></li>
      <li><a href="#" data-toggle="modal" data-target="#person_contact_modal">Show Contact Information</a></li>
      <li><a href="#">Send Email</a></li>
      <li><a href="#">Open External Site</a></li>
    </ul>
  </div>
  <%= link_to @person.full_name, kapa_main_person_path(:action => :show, :id => @person) %>
</h3>

<%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "person_profile_modal", :modal_title => "Person Profile", :modal_form_id => "person_form"} do %>
  <%= bootstrap_form_for :person, :url => kapa_main_person_path(:id => @person, :return_uri => request.fullpath), :html => {:method => :put, :id => "person_form"} do %>
    <%= render :partial => "/kapa/main/person_form" %>
  <% end %>
<% end if @current_user.read? :kapa_main_persons %>

<%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "person_contact_modal", :modal_title => "Contacts", :modal_form_id => "contact_form"} do %>
  <%= bootstrap_form_for :contact, :url => kapa_main_contact_path(:id => @person, :return_uri => request.fullpath), :html => {:method => :put, :id => "contact_form"} do %>
    <%= render :partial => "/kapa/main/contact_form", :locals => {:object_name => :contact} %>
  <% end %>
<% end if @current_user.read? :kapa_main_contacts %>

<%= render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "person_artifact_modal", :modal_title => "Documents"} do %>
  <div class="row">
    <div class="col-sm-12">
      <%= bootstrap_flash unless params[:artifacts_modal].nil? %>
    </div>
  </div>
  <%= render :partial => "/kapa/document/document_table" %>
<% end if @current_user.read? :kapa_document_files or @current_user.read? :kapa_document_forms or @current_user.read? :kapa_document_exams %>

<%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "document_dialog", :modal_title => "Select a document", :modal_form_id => "new_document_form"} do %>
  <%= bootstrap_form_for :file, :url => kapa_document_files_path(:id => @person, :return_url => request.path), :html => {:multipart => true, :id => "new_document_form"} do |f| %>
    <%=f.file_field :data, :label => "File to upload" %>
    <%=f.text_field :name, :placeholder => "Enter filename (optional)" %>
    <%=f.check_box :public, {:label => "Share document"}, "Y", "N" %>
  <% end %>
<% end %>

<%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "form_dialog", :modal_title => "Select a form", :modal_form_id => "new_form_form"} do %>
  <%= bootstrap_form_for :form, :url => kapa_document_forms_path(:id => @person, :return_url => request.path), :html => {:id => "new_form_form"} do |f| %>
    <%=f.property_select :type, :name => :form %>
  <% end %>
<% end %>
