<%= bootstrap_fields_for :transition_point do |t| %>
  <div class="row">
    <div class="col-sm-6">
      <%= t.term_select :term_id, :label => "Term" %>
      <%= t.property_select :category, :name => "#{@transition_point.type}_category", :include_blank => true %>
      <%= t.property_select :priority, :name => "#{@transition_point.type}_priority", :include_blank => true %>
      <%= t.property_select :status, :name => "#{@transition_point.type}_status", :include_blank => true %>
    </div>

    <div class="col-sm-6">
      <%= t.user_select :user_primary_id, :include_blank => true, :label => "Primary Reviewer", :depts => @current_user.depts %>
      <%= t.user_select :user_secondary_id, :include_blank => true, :label => "Secondary Reviewer" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
       <%= t.text_area :note, :style => "width:100%", :rows => 3 %>
    </div>
  </div>

  <%= t.hidden_field :curriculum_id %>
<% end %>