<% content_for(:box1) do %>
  <%=render :partial => "/main/person_detail" %>

  <h4 class="section-header divider">
    <%=link_to "", main_person_path(:id => @person, :focus => :curriculum), :class => "glyphicon glyphicon-chevron-left" %>
    New Program
  </h4>

  <div class="row">
    <div class="col-sm-6">
      <%=bootstrap_form_for :curriculum, :url => main_curriculums_path(:id => @person), :remote => true do |f| %>
        <%=f.model_select :program_id, {:model_name => :program, :model_options => {:value => :id, :depts => @current_user.depts}, :label => "Program"} %>
        <%=controls if @current_user.write? %>
      <% end %>
    </div>
  </div>
<% end %>
