<%= bootstrap_fields_for :dataset do |f| %>

  <div class="row">
    <div class="col-sm-6">
      <%= f.text_field :name %>
      <%= f.select :type, [["Database", "database"], ["LDAP", "ldap"], ["File", "file"]] %>
      <%= f.select :datasource, @datasource_options %>
    </div>
    <div class="col-sm-6">
      <%= f.text_area :description %>
    </div>
  </div>

<% end %>
