<%= bootstrap_fields_for :dataset do |f| %>

  <div class="row">
    <div class="col-sm-6">
      <% if @dataset.type == "database" %>
        <%= f.text_area :query, :rows => 20 %>
      <% elsif @dataset.type == "ldap" %>
        <%= f.text_field :ldap_base, :label => "LDAP Base" %>
        <%= f.text_field :ldap_filter, :label => "LDAP Filter" %>
        <%= f.text_field :ldap_attr, :label => "LDAP Attributes Included" %>
      <% elsif @dataset.type == "file" %>

      <% end %>
    </div>
    <div class="col-sm-6">
      <%= f.static :record_count, :content => @dataset.record_count %>
      <%= f.static :loaded_at, :content => @dataset.loaded_at %>
      <%= f.static :columns, :content => @columns.inspect if @columns %>
    </div>
  </div>

<% end %>
