<% content_for(:box1) do %>
  <%=render :partial => "/kapa/persons/person_detail" %>

  <h4 class="section-header divider">
    <%=link_to "", params[:return_path], :class => "bi-chevron-left" %>
    Notifications
  </h4>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Message</th>
        <th>Date Read</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for @notification in @notifications %>
        <tr>
          <td><%=@notification.date %></td>
          <td><%=@notification.title %></td>
          <td><%=abbr @notification.body.html_safe, 40 %></td>
          <td><%=@notification.read_at %></td>
          <td class="right"><%=button_to_link "", {:action => :show, :id => @notification}, :icon => "bi-chevron-right", :class => "btn-light btn-xs pull-right" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
