<% transition_action = @transition_action.new_record? ? "transition_action" : "transition_action[]" %>
<%=bootstrap_fields_for transition_action do |a| %>
  <div class="row">
    <div class="col-sm-3">
      <%=a.date_picker :action_date, :label => "Action Date" %>
    </div>
    <div class="col-sm-3">
      <%=a.property_select "action", :name => "#{@transition_action.transition_point.type}_action", :include_blank => true %>
    </div>
    <div class="col-sm-3">
      <%=a.text_field "action_specify" %>
    </div>
    <div class="col-sm-3">
      <%= a.user_select "user_id", :include_blank => true, :label => "Action by" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <%=a.text_area "note", :style => "width:100%; height:100px" %>
    </div>
  </div>
<% end %>
