<% content_for(:dialog) do %>

  <%= render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "filter_dialog", :modal_title => "Search", :modal_form_id => "filter_form"} do %>
    <%= bootstrap_form_for(:filter, :url => kapa_transition_points_path, :html => {:method => :get, :id => "filter_form"}) do |f| %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.term_select :term_id, :include_blank => "Any", :label => "Term" %>
          <%= f.program_select :program_id, :include_blank => "Any", :depts => @current_user.depts, :value => :id %>
          <%= f.property_select :type, :name => :transition_point %>
          <%= f.property_select :major_primary, :name => :major, :include_blank => "Any", :depts => @current_user.depts %>
        </div>
        <div class="col-sm-6">
          <%= f.property_select :status, :name => :admission_status, :include_blank => "Any" %>
          <%= f.property_select :distribution, :name => :distribution, :include_blank => "Any" %>
          <%= f.user_select :user_id, :include_blank => "Any", :depts => @current_user.depts %>
          <%= f.select :per_page, [10, 20, 30, 40, 50] %>
        </div>
      </div>
    <% end %>
  <% end %>

<% end %>

<% content_for(:box1) do %>

  <h3>Transition Points/<%= Kapa::Property.lookup_description(:transition_point, @filter.type) %>
    (<%= @filter.term_id.present? ? Kapa::Term.find(@filter.term_id).description : "Any Terms" %>)</h3>

  <div class="row">
    <div class="col-sm-12 text-right">
      <%=bootstrap_button "Download", {:action => :export}, :icon => "glyphicon-download" %>
      <%=bootstrap_button "Search", nil, "data-toggle" => "modal", "data-target" => "#filter_dialog", :icon => "glyphicon-search" %>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Program</th>
      <th>Latest Action</th>
      <th>Status</th>
      <th>Assignee</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% for transition_point in @transition_points %>
      <tr>
        <td><%= transition_point.curriculum.person.id_number %></td>
        <td><%= link_to_if @current_user.read?(:kapa_persons), abbr(transition_point.curriculum.person.full_name), kapa_person_path(:id => transition_point.curriculum.person_id) %></td>
        <td><%= abbr transition_point.curriculum.code_desc, transition_point.curriculum.code %></td>
        <td><%= h transition_point.last_transition_action.action_desc if transition_point.last_transition_action %></td>
        <td><%= h transition_point.status_desc %></td>
        <td><%= h transition_point.rsend(:users, :first, :person, :last_name) %></td>
        <td class="right"><%= link_to "Show", {:action => :show, :id => transition_point}, :class => "btn btn-default btn-xs" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="text-center"><%= will_paginate @transition_points, :renderer => BootstrapPagination::Rails %></div>

<% end %>
