<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      $(".hidden-text-area a").click(function () {
        $(this).next().toggle();
      });

      // Set active tab and pane
      var focus = '<%=params[:focus]%>' || 'transition_point';
      $('a[href="#' + focus + '_tab"]').parent().addClass('active');
      $('#' + focus + '_tab').addClass('active');

      $('#filter_assessment_rubric_id').change(function () {
        $('<input>', {
          type: 'hidden',
          name: 'focus',
          value: 'assessment'
        }).appendTo('#assessment_form');
        $(this).parents('form').submit();
      });
    });
  </script>
<% end %>

<% content_for(:dialog) do %>
  <%= render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "move_transition_point_dialog", :modal_title => "Move Transition Point to Different Curriculum", :modal_form_id => "move_transition_point_form"} do %>
    <%= bootstrap_form_for(:transition_point, :url => kapa_transition_point_path(:id => @transition_point), :html => {:method => :put, :id => "move_transition_point_form"}) do |t| %>
      <%= t.select :curriculum_id, @curriculums.collect { |c| ["#{c.code_desc} - #{@transition_point.term_desc}", c.id] }, :label => "Program" %>
    <% end %>
  <% end %>
<% end %>

<% content_for(:box1) do %>
  <%= render :partial => "/kapa/persons/person_detail" %>

  <h4 class="section-header divider">
    <%=link_to "", kapa_person_path(:id => @transition_point.curriculum.person_id), :class => "glyphicon glyphicon-chevron-left" %>
    <%=link_to @curriculum.code_desc, kapa_curriculum_path(:id => @curriculum) %> - <%= @transition_point.type_desc %>
  </h4>

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li><a href="#transition_point_tab" data-toggle="tab">Profile</a></li>
      <li><a href="#assessment_tab" data-toggle="tab">Assessment</a></li>
      <li><a href="#actions_tab" data-toggle="tab">Actions</a></li>
    </ul>

    <div class="tab-content">
      <div id="transition_point_tab" class="tab-pane">
        <%= bootstrap_form_for :transition_point, :url => kapa_transition_point_path(:id => @transition_point, :focus => :transition_point), :html => {:method => :put} do %>
          <%= render :partial => "transition_point_form" %>
          <%= render :layout => "/kapa/layouts/controls" do %>
            <% if @current_user.manage? %>
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#move_transition_point_dialog">Move</button>
            <% end %>
          <% end if @current_user.write? %>
        <% end %>
      </div>

      <div id="assessment_tab" class="tab-pane">
        <div class="row">
          <div class="col-sm-6">
            <%= bootstrap_form_for :filter, :url => kapa_transition_point_path(:id => @transition_point, :focus => :assessment), :html => {:method => :get, :id => "assessment_form"} do |f| %>
              <%= f.select(:assessment_rubric_id, @assessment_rubrics.collect { |r| [r.title, "0#{r.id}"] }, {}, {:minWidth => "600"}) %>
            <% end %>
          </div>
        </div>
        <%= bootstrap_form_for :assessment_score, :url => kapa_transition_point_path(:id => @transition_point, :focus => :assessment), :html => {:method => :put} do |f| %>
          <%= render :partial => "assessment_form" %>
          <%= render :partial => "/kapa/layouts/controls" if @current_user.write? %>
        <% end %>
      </div>

      <div id="actions_tab" class="tab-pane">
        <div class="panel-group" id="accordion">

          <% @transition_actions.each_with_index do |transition_action, index| %>
            <% @transition_action = transition_action %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#transition_action_<%= @transition_action.id %>"><span class="strong"><%= format_date @transition_action.action_date %>
                    - <%= h @transition_action.action_desc %> <%= h @transition_action.action_specify %></span></a>
                </h3>
              </div>
              <div id="transition_action_<%= @transition_action.id %>" class="panel-collapse collapse<%= ' in' if params[:action_panel] == @transition_action.id.to_s || (params[:action_panel].nil? && index == 0) %>">
                <div class="panel-body">
                  <%= bootstrap_form_for :transition_action, :url => kapa_transition_action_path(:id => @transition_action, :focus => :actions, :action_panel => @transition_action.id), :html => {:method => :put} do |f| %>
                    <%= render :partial => "transition_action_form" %>
                    <%= render :partial => "/kapa/layouts/controls", :locals => {:delete_path => kapa_transition_action_path(:id => @transition_action, :focus => :actions)} if @current_user.write?(:kapa_transition_actions) %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#new_transition_action"><span class="new">New Action </span></a>
              </h3>
            </div>

            <div id="new_transition_action" class="panel-collapse collapse<%= ' in' if @transition_actions.length == 0 %>">
              <div class="panel-body">
                <% @transition_action = @transition_point.transition_actions.build(:user_id => @current_user.id, :action_date => Date.today) %>
                <%= bootstrap_form_for :transition_action, :url => kapa_transition_actions_path(:id => @transition_point, :focus => :actions) do %>
                  <%= render :partial => "transition_action_form" %>
                  <%= render :partial => "/kapa/layouts/controls" if @current_user.write?(:kapa_transition_actions) %>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

<% end %>
