<table class="table table-striped">
  <thead>
    <tr>
      <th>UID</th>
      <th>Category</th>
      <th>Status</th>
      <th>Last update</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for user in @users %>
      <tr>
        <td><%=h user.uid %></td>
        <td><%=h user.category %></td>
        <td><%=h user.status_desc %></td>
        <td><%=format_datetime user.updated_at %></td>
        <td class="right"><%=link_to "Show", {:action => :show, :id => user}, :class => "btn btn-default btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
