<%=bootstrap_fields_for "assessment_criterion" do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <%=f.text_field :criterion, :label => "Criterion Label" %>
      <%=f.hidden_text_area  :criterion_desc, :size => "35x10", :label => "Criterion Description"   %>
    </div>

    <div class="col-sm-6">
      <%=f.text_field :standard %>
      <%=f.select :type, [["Default (0, 1, 2, N)", "default"], ["Select", "select"], ["Text Field", "text"]], {:label => "Score Type"}, {:id => id_for_multiple(:assessment_criterion, :score_type)} %>
      <%=f.text_field :type_option, :label => "Score Type Option" %>
    </div>
  </div>
<% end %>
