<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      <% if @author.nil? || @author.internal? %>
        $("#author-name").hide();
      <% elsif @author.external? %>
        $("#author-person").hide();
      <% end %>

      $("#author_type").change(function() {
        if ($(this).val() == 'internal') {
          $("#author-person").show(300);
          $("#author-name").hide(300);
        }
        else if ($(this).val() == 'external') {
          $("#author-person").hide(300);
          $("#author-name").show(300);
        }
      });
    });
  </script>
<% end %>

<%= bootstrap_fields_for :author do |f| %>
  <%= f.select :type, [["Internal", "internal"], ["External", "external"]] %>
  <div id="author-person">
    <%= f.person_select :person_id, {
      :label => "Author",
      :depts => @current_user.depts,
      :include_blank => "Select a person..."
    } %>
  </div>
  <div class="row" id="author-name">
    <div class="col-sm-5">
      <%= f.text_field :last_name, {:label => "Last Name"} %>
    </div>
    <div class="col-sm-5">
      <%= f.text_field :first_name, {:label => "First Name"} %>
    </div>
    <div class="col-sm-2">
      <%= f.text_field :middle_initial, {:label => "MI"} %>
    </div>
  </div>
<% end %>