<% content_for(:box1) do %>
  <%= render :partial => "/kapa/persons/person_detail" %>

  <h4 class="section-header divider">
    <%= link_to "", kapa_faculty_publication_path(:id => @publication), :class => "glyphicon glyphicon-chevron-left" %>
    Publication Author
  </h4>

  <div>
    <%= bootstrap_form_for(:author, :url => kapa_faculty_publications_author_path(:id => @author, :faculty_publication_id => @publication), :html => {:method => :put}) do %>
      <%= render :partial => "author_form" %>
      <%= render :partial => '/kapa/layouts/controls', :locals => {:delete_path => kapa_faculty_publications_author_path(:id => @author)} if @current_user.write? %>
    <% end %>
  </div>
<% end %>
