<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $('#assessment_score_assessment_scorable_id').change(function() {
        updating_field = $('#assessment_score_assessment_rubric_id')
        selected = $(this).val();
        $.ajax({
          url: '<%=assessment_scores_path(:action => :assessment_rubric_selections)%>',
          data: {assessment_scorable_id: selected},
          dataType: "json",
          success: function(data) {
            // Get the raw DOM object for the select box
            select = document.getElementById(updating_field.attr('id'));
            select.options.length = 0;
            for (i = 0; i < data.length; i++) {
              select.options.add(new Option(data[i][0], data[i][1]));
            }
            //updating_field.multiselect("refresh");
          }
        });
      });
    });
  </script>
<%end%>

<% content_for(:box1) do %>
  <%=render :partial => "/main/person_detail" %>
<%end%>

<% content_for(:box2) do %>
  <h4>New Assessment</h4>
    <%=label_form_for :assessment_score, :url => {:action => :create, :id => @person}, :remote => true do |f| %>
      <table>
        <tr>
          <td>
            <%=f.select :assessment_scorable_id, @curriculum_enrollments.collect {|c| ["#{c.code_desc} - #{c.academic_period_desc}", c.id]}, :label => "Program" %>
          </td>
        </tr>
        <tr>
          <td>
            <div id="assessment_rubric_select"><%=f.select :assessment_rubric_id, @assessment_rubrics.collect {|r| [r.title, "0#{r.id}"]}, :label => "Assessment" %></div>
          </td>
        </tr>
      </table>
      <%=controls if @current_user.write? %>
    <% end %>
  <%=link_to "Back", main_persons_path(:action => :show, :id => @person, :focus => :course) %>

<% end %>
