<% content_for(:dialog) do %>

  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "filter_dialog", :modal_title => "Search", :modal_form_id => "filter_form"} do %>
    <%=bootstrap_form_for(:filter, :url => kapa_advising_sessions_path, :html => {:method => :get, :id => "filter_form"}) do |f| %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.date_picker :date_start, "Start Date" %>
          <%= f.date_picker :date_end, "End Date" %>
          <%= f.property_select :task, :include_blank => "Any", :name => :advising_task %>
        </div>
        <div class="col-sm-6">
          <%= f.property_select :interest, :include_blank => "Any", :name => :advising_interest, :label => "Area of Interest" %>
          <%= f.user_select :user_id, :include_blank => "Any", :depts => @current_user.depts %>
          <%= f.select :per_page, Rails.configuration.items_per_page_selections %>
        </div>
      </div>
    <% end %>
  <% end %>

<% end %>

<% content_for(:box1) do %>

  <h3>Advising Sessions</h3>

  <div class="row">
    <div class="col-sm-12 text-right">
      <%=bootstrap_button "Download", {:action => :export}, :icon => "glyphicon-download" %>
      <%=bootstrap_button "Search", nil, "data-toggle" => "modal", "data-target" => "#filter_dialog", :icon => "glyphicon-search" %>
    </div>
  </div>

  <table id="advising_list" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date</th>
        <th>Task</th>
        <th>Area of Interest</th>
        <th><%=t(:kapa_global_user_ids) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for advising_session in @advising_sessions %>
        <tr>
          <td><%=advising_session.person.id_number %></td>
          <td><%=link_to_if @current_user.read?(:kapa_persons), abbr(advising_session.person.full_name), kapa_person_path(:id => advising_session.person_id) %></td>
          <td><%=format_date advising_session.session_date %></td>
          <td><%=abbr advising_session.task.to_s, 25 %></td>
          <td><%=abbr advising_session.interest.to_s, 25 %></td>
          <td><%=h advising_session.rsend(:users, :first, :person, :last_name)  %></td>
          <td class="right"><%=link_to "Show", {:action => :show, :id => advising_session}, :class => "btn btn-default btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center"><%=will_paginate @advising_sessions, :renderer => BootstrapPagination::Rails %></div>

<% end %>
