<% content_for(:box1) do %>
  <%=render :partial => "/kapa/persons/person_detail" %>

  <h4 class="section-header divider">
    <%=link_to "", kapa_person_path(:id => @person, :anchor => :advising), :class => "glyphicon glyphicon-chevron-left" %>
    Advising Session
  </h4>

  <div>
    <%=bootstrap_form_for :advising_session, :url => kapa_advising_session_path(:id => @advising_session), :html => {:method => :put} do |f| %>
      <%=render :partial => "session_form" %>
      <%=render :partial => '/kapa/layouts/controls', :locals => {:delete_path => kapa_advising_session_path(:id => @advising_session)} if @current_user.write? %>
    <% end %>
  </div>
<% end %>
