<% object_name = @practicum_assignment.new_record? ? "practicum_assignment" : "practicum_assignment[]"%>
<%=label_fields_for object_name do |f| %>
  <table>
    <tr>
      <td>
        <div>
          <%=label object_name, :name, "Mentor Teacher" %><br>
          <%=text_field object_name, :name, :readonly => true, :value => @practicum_assignment.person ? @practicum_assignment.person.full_name : "" %>
          <%=link_to_function(image_tag("/images/icons/edit.png"), nil, :class => "edit-mentor")%>
        </div>
        <%=f.select :practicum_school_id, @practicum_schools.collect {|c| [c.name_short, c.id]}, {:include_blank => true}, :class => "single-select", :label => "School" if @practicum_assignment.mentor? %>
        <%=f.property_select :content_area, {:include_blank => true} if @practicum_assignment.mentor? %>
        <%=f.text_field :payment, :label => "Payment", :disabled => !@current_user.manage?(:practicum, :delegate => :maintain) %>
      </td>
      <td>
        <%=f.user_select :user_primary_id, {:include_blank => true, :include => :employee, :label => "Supervisor Primary"} %>
        <%=f.user_select :user_secondary_id, {:include_blank => true, :include => :employee, :label => "Supervisor Secondary"} %>
        <%=f.hidden_text_area :note, :size => "35x10" %>
      </td>
    </tr>
  </table>
  <%=f.hidden_field :person_id %>
  <%=f.hidden_field :assignment_type %>
<% end %>
