<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      <% if @modal %>$('#filter_dialog').modal({show : true});<% end %>
    });
  </script>
<% end %>

<% content_for(:dialog) do %>

  <%=render :layout => '/layouts/modal', :locals => {:modal_id => "filter_dialog", :modal_title => "Filter Criteria", :modal_form_id => "filter_form"} do %>
    <%=bootstrap_form_for(:filter, :url => admin_programs_path, :html => {:method => :get, :id => "filter_form"}) do |f| %>
      <%= f.property_select :dept, :include_blank => true %>
      <%= f.select :active, [["Active", "1"],["In-Active","0"]], :include_blank => true %>
    <% end %>
  <% end %>

<% end %>

<% content_for(:box1) do %>

  <h3>Academic Programs</h3>

  <div class="row">
    <div class="text-right">
      <%=link_to "New", {:action => :new}, :class => "btn btn-default" %>
      <button class="btn btn-default" data-toggle="modal" data-target="#filter_dialog">Filter</button>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Code</th>
        <th>Description</th>
        <th>Category</th>
        <th>Dept</th>
        <th>Sequence</th>
        <th>Active</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for program in @programs %>
        <tr>
          <td><%=h program.code %></td>
          <td><%=h program.description %></td>
          <td><%=abbr program.category, 20 %></td>
          <td><%=h program.dept %></td>
          <td><%=h program.sequence %></td>
          <td><%=h program.active %></td>
          <td class="right"><%=link_to "Show", {:action => :show, :id => program}, :class => "btn btn-default btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center"><%=will_paginate @programs, :renderer => BootstrapPagination::Rails %></div>

<%end%>
