<%= label_fields_for :course do |c| %>
<table>
  <tr>
    <td>
      <%=c.property_select :academic_period, :label => "Semester", :disabled => true %>
      <%=c.text_field :name, :disabled => true  %>
      <%=c.text_field :crn, :disabled => true  %>
      <%=c.text_field :title, :disabled => true  %>
      <%=c.text_field :instructor, :disabled => true %>
      <%=c.text_field :final_grade, :disabled => true  %>
      <%=c.text_field :status, :disabled => true  %>
    </td>

  </tr>
</table>
<% end %>