<table class="table table-striped">
  <thead>
    <tr>
      <th>UID</th>
      <th>Category</th>
      <th>Status</th>
      <th>Last update</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for user in @users %>
      <tr>
        <td><%=user.uid %></td>
        <td><%=user.category %></td>
        <td><%=user.status_desc %></td>
        <td><%=format_datetime user.updated_at %></td>
        <td class="right"><%=button_to_link "", {:action => :show, :id => user}, :icon => "glyphicon-chevron-right", :class => "btn-default btn-xs pull-right" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
