<table id="activities" class="table table-striped">
  <thead>
    <tr>
      <th>Date & Time</th>
      <th>Action</th>
      <th>Location</th>
      <th>Client</th>
      <% if params[:action] == "logs" %><th>User</th><% end %>
    </tr>
  </thead>
  <tbody>
    <% for timestamp in @timestamps %>
      <tr>
        <td><%=format_datetime timestamp.created_at %></td>
        <td><%=timestamp.method %> <%=timestamp.path %></td>
        <td><%=timestamp.remote_ip %></td>
        <td><%=abbr timestamp.agent, 10 %></td>
        <% if params[:action] == "logs" %><td><%=link_to abbr(timestamp.user.uid, 10), :action => :show, :id => timestamp.user if timestamp.user %></td><% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="text-center"><%=will_paginate @timestamps, :renderer => BootstrapPagination::Rails, :params => {:anchor => :activity} %></div>
