<div class="row">
  <div class="col-sm-6">
    <%=f.text_field :uid, :label => "UID" %>
    <%=f.text_field :password %>
    <%=f.select :category, Rails.configuration.user_categories, :label => {:text => "Auth Method"} %>
    <%=f.select :status, Rails.configuration.user_status, :label => "User Status" %>
  </div>
  <div class="col-sm-6">
    <%=f.property_select :depts, {:name => :dept, :label => t(:kapa_global_dept).pluralize}, {:multiple => true} %>
    <%=f.property_select :primary_dept, :name => :dept, :label => "Primary #{t(:kapa_global_dept)}", :include_blank => true %>
    <%=f.text_field :position %>
    <%=f.select :role, Rails.configuration.roles.keys, :include_blank => true %>
  </div>
</div>
<%=f.hidden_field :person_id %>
