<% content_for(:box1) do %>
  <%=render :partial => "/kapa/persons/person_detail" %>

  <h4 class="section-header divider">
    <%=link_to "", session[:return_path], :class => "glyphicon glyphicon-chevron-left" %>
    User Record
  </h4>

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li><a href="#user_profile_tab" data-toggle="tab">Profile</a></li>
      <li><a href="#activity_tab" data-toggle="tab">Activities</a></li>
      <li><a href="#other_accounts_tab" data-toggle="tab">Related Accounts</a></li>
    </ul>

    <div class="tab-content">

      <div class="text-right">
      </div>

      <div id="user_profile_tab" class="tab-pane">
        <%=bootstrap_form_for :user, :url => kapa_user_path(:id => @user), :html => {:method => :put} do |f| %>
          <%=render :partial => "user_form", :locals => {:f => f} %>
          <%=render :partial => "/kapa/layouts/controls", :locals => {:delete_path =>  kapa_user_path(:id => @user)} %>
        <% end %>
      </div>

      <div id="activity_tab" class="tab-pane">
        <%=render :partial => "activity_table" %>
      </div>

      <div id="other_accounts_tab" class="tab-pane">
        <%=render :partial => "account_table" %>
      </div>
    </div>
  </div>

<% end %>
