<% content_for(:dialog) do %>
  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "edit_permission_dialog", :modal_title => "Edit Permissions", :modal_form_id => "apply_role_form"} do %>
    <%=bootstrap_form_for :permission, :url => kapa_user_path(:id => @user, :anchor => :permission), :html => {:method => :put, :id => "apply_role_form"}  do |f| %>
      <%=render :partial => "permission_form", :locals => {:f => f} %>
    <% end %>
  <% end %>
<% end %>

<% content_for(:box1) do %>
  <%=render :partial => "/kapa/persons/person_detail" %>

  <h4 class="section-header divider">
    <%=link_to "", session[:return_path], :class => "glyphicon glyphicon-chevron-left" %>
    User Record
  </h4>

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li><a href="#user_profile_tab" data-toggle="tab">Profile</a></li>
      <li><a href="#activity_tab" data-toggle="tab">Activities</a></li>
      <li><a href="#other_accounts_tab" data-toggle="tab">Other Accounts</a></li>
    </ul>

    <div class="tab-content">

      <div class="text-right">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-option-vertical"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%=link_to("Delete", kapa_user_path(:id => @user), :method => :delete, "data-confirm" => "Are you sure you want to delete?")%></li>
          </ul>
        </div>
      </div>

      <div id="user_profile_tab" class="tab-pane">
        <%=bootstrap_form_for :user, :url => kapa_user_path(:id => @user), :html => {:method => :put} do |f| %>
          <%=render :partial => "user_form", :locals => {:f => f} %>
          <%=render :layout => "/kapa/layouts/controls" do %>
            <%=button_to_link "Permissions", nil, {:icon => "glyphicon-edit", "data-toggle" => "modal", "data-target" => "#edit_permission_dialog"} if @current_user.write? %>
          <% end if @current_user.write? %>
        <% end %>
      </div>

      <div id="activity_tab" class="tab-pane">
        <%=render :partial => "activity_table" %>
      </div>

      <div id="other_accounts_tab" class="tab-pane">
        <%=render :partial => "account_table" %>
      </div>
    </div>
  </div>

<% end %>
