<% content_for(:box1) do %>
  <%=render :partial => "/kapa/main/person_detail" %>

  <h4>New Placement</h4>
  <div class="tabs">
    <ul>
      <li><a href="#practicum_profile_tab">Profile</a></li>
    </ul>

    <div id="practicum_profile_tab">
      <%=label_form_for :practicum_placement, :url => kapa_practicum_placments_path(:id => @person), :remote => true do |f| %>
        <table>
          <tr>
            <td>
              <%=f.term_select :term_id, :label => "Term" %>
            </td>
            <td>
              <%=label_fields_for :practicum_profile do |p| %>
              <%=p.select :curriculum_id, @curriculums.collect {|c| ["#{c.code} - #{c.term_desc}", c.id]}, :include_blank => true, :label => {:text => "Program"} %>
              <% end %>
            </td>
          </tr>
        </table>
        <%=render :partial => "/kapa/layouts/controls" if @current_user.write? %>
      <% end %>
    </div>
  </div>

  <%=link_to "Back", kapa_main_persons_path(:action => :show, :id => @person, :focus => :practicum) %>

<% end %>

