<% content_for(:box1) do %>
  <%=render :partial => "/kapa/main/person_detail" %>

  <h4 class="section-header divider">
    <%=link_to "", kapa_main_person_path(:id => @person), :class => "glyphicon glyphicon-chevron-left" %>
    Placement
  </h4>

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#practicum_placement_tab" data-toggle="tab">Placement</a></li>
    </ul>

    <div class="tab-content">
      <div id="practicum_placement_tab" class="tab-pane active">
        <%=bootstrap_form_for :practicum_placement, :url => kapa_practicum_placement_path(:id => @practicum_placement), :html => {:method => :put}  do |f| %>
          <%=render :partial => "/kapa/practicum/placement_form" %>
          <%=render :partial => '/kapa/layouts/controls', :locals => {:delete_path => kapa_practicum_placement_path(:id => @practicum_placement)} if @current_user.write? %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
