<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {

      var prefix;
      $('div#mentor_dialog').dialog(
       {autoOpen: false,
        width: 'auto',
        height: 'auto',
        buttons: {
          'Cancel': function() {
            $(this).dialog('close');
           },
          'Save' : function() {
            $.getJSON('<%#=kapa_practicum_assignments_path(:action => :update_mentor)%>',
                      $('#mentor_form').serialize(),
                      function(data) {
                        $(prefix + 'name').val(data['full_name']);
                        $(prefix + 'person_id').val(data['person_id']);

                        if(prefix  == '#practicum_assignment_') {
                          $(prefix + 'practicum_site_id').val(data['practicum_site_id']);
                          $(prefix + 'practicum_site_id').multiselect('refresh');
                          $(prefix + 'user_primary_id').val(data['user_primary_id']);
                          $(prefix + 'user_primary_id').multiselect('refresh');
                          $(prefix + 'user_secondary_id').val(data['user_secondary_id']);
                          $(prefix + 'user_secondary_id').multiselect('refresh');
                          $(prefix + 'content_area').val(data['content_area']);
                        }
                        $('#mentor_dialog').dialog('close');
                      });
          }
        }
      });

      $('a.edit-mentor').click(function() {
        prefix = '#' + $(this).siblings('input').attr('id').replace('name', '');
        $('#mentor_person_id').val($(prefix + 'person_id').val());
        $('#mentor_person_id').multiselect('refresh');
        $('#mentor_person_id').change();
        $('#mentor_dialog').dialog('open');
      });

      $('#mentor_person_id').change(function() {
        if($(this).val() != '') {
          $.getJSON('<%=kapa_practicum_assignments_path(:action => :get_mentor)%>',
                  { person_id: $(this).val()},
                  function(data) {
                    $('#id').val($(this).attr('practicum_assignment_id'));
                    $('#mentor_last_name').val(data['last_name']);
                    $('#mentor_first_name').val(data['first_name']);
                    $('#mentor_email').val(data['email']);
                  }
           );
        }
        else {
          $('#mentor_last_name').val('');
          $('#mentor_first_name').val('');
          $('#mentor_email').val('');
        }
      });
    });
  </script>
<% end %>


<% content_for(:dialog) do %>
  <%= render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "move_transition_point_dialog", :modal_title => "Move Transition Point to Different Curriculum", :modal_form_id => "move_transition_point_form"} do %>
    <div id="mentor_dialog" title="Select/Create Mentor">
      <%=bootstrap_form_for(:mentor, :html => {:id => "mentor_form"}) do |p| %>
        <%=p.select :person_id, @mentors.collect{|c| ["#{c.last_name}, #{c.first_name}", c.id]}, {:include_blank => "New Mentor"}, :class => "single-select", :label => "Mentor Teacher" %>
        <table>
          <tr>
            <td>
              <%=p.text_field :last_name, :tabindex => 1 %>
            </td>
            <td>
              <%=p.text_field :first_name, :tabindex => 2 %>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <%=p.text_field :email, :tabindex => 3, :style => "width:100%" %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  <% end %>
<% end %>


<% content_for(:box1) do %>
  <%=render :partial => "/kapa/main/person_detail" %>

  <h4>Placement</h4>

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li><a href="#practicum_placement_tab" data-toggle="tab">Placement</a></li>
    </ul>

    <div class="tab-content">
      <div id="practicum_placement_tab" class="tab-pane<%=' active' if params[:focus] == 'placement' || params[:focus].nil? %>">
      <%=bootstrap_form_for :practicum_placement, :url => kapa_practicum_placement_path(:id => @practicum_placement, :focus => :practicum_placement), :remote => true, :html => {:method => :put}  do |f| %>
        <%=render :partial => "/kapa/practicum/placement_form" %><br/>
        <%=render :partial => "/kapa/layouts/controls" if @current_user.write? %>
      <% end %>
      </div>
    </div>
  </div>

  <%=link_to "Back", kapa_main_persons_path(:action => :show, :id => @person, :focus => :practicum) if @current_user.read?(:main)%>

<% end %>