<%= bootstrap_fields_for :case_person do |a| %>
  <%= bootstrap_fields_for :case_person_person do |p| %>
    <%= bootstrap_fields_for :case_person_contact do |c| %>
      <div class="row">
        <div class="col-sm-4">
          <%=p.text_field :last_name, :size => 30 %>
          <%=p.text_field :first_name, :size => 30 %>
          <%=a.property_select :type, :name => "#{@case.type}_case_person_type" %>
          <%=a.text_area :note %>
        </div>
        <div class="col-sm-4">
          <%= c.text_field :cur_phone, :label => "Phone" %>
          <%= c.text_field :mobile_phone, :label => "Mobile Phone" %>
          <%= c.text_field :email, :label => "Personal E-mail" %>
        </div>
        <div class="col-sm-4">
          <%= c.text_field :cur_street, :label => "Street" %>
          <%= c.text_field :cur_city, :label => "City" %>
          <%= c.text_field :cur_state, :label => "State" %>
          <%= c.text_field :cur_postal_code, :label => "ZIP" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
