<%= bootstrap_fields_for :case_person do |a| %>
  <%= bootstrap_fields_for :case_person_profile do |p| %>
    <%= bootstrap_fields_for :case_person_contact do |c| %>
      <div class="row">
        <div class="col-sm-6">
          <%=p.text_field :last_name, :size => 30 %>
          <%=p.text_field :first_name, :size => 30 %>
          <%= c.text_field :email, :label => "E-mail" %>
          <%= c.text_field :cur_phone, :label => "Home Phone" %>
          <%= c.text_field :mobile_phone, :label => "Mobile Phone" %>
        </div>
        <div class="col-sm-6">
          <%=a.property_select :type, :name => "case_person_type" %>
          <%=a.text_area :note, :size => "10x12"%>
          <%=a.hidden_field :case_id %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
