<% content_for(:box1) do %>
  <h4 class="section-header divider">
    <%= link_to "", kapa_case_path(:id => @case), :class => "glyphicon glyphicon-chevron-left" %>
    Case #<%=@case.id%>: New Contact
  </h4>
  <%=bootstrap_form_for :case_person, :url => kapa_case_persons_path(:case_id => @case) do |f| %>
    <%=render :partial => "case_person_form" %>
    <%=render :partial => "/kapa/layouts/controls" if @current_user.write? %>
  <% end %>
<%end%>