<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      appFn.initAssessmentTable('#course_table');

      $('#all_green_button').click(function() {
        if(confirm('Would you like to fill in all empty cells in green?')) {
          appFn.setAssessmentScores('2');
        }
      });

      $('#filter_assessment_rubric_id').change(function() {
        $(this).parents('form').submit();
      });

      $('#save_button').click(function() {
        form = $('#course_form');
        $.post(form.attr('action'), form.serialize(),
          function(data) {
            var now = new Date();
            $('#course_table').html(data);
            $('#notice2').html('Scores were saved on ' + now).effect('highlight');
            appFn.initAssessmentTable('#course_table');
          },
          "html");
        return false;
      })

      window.setInterval(function() {
        form = $('#course_form');
        console.log('form updated?', form.attr('data-changed'));
        if(form.attr('data-changed') == 'true') {
          $.post(form.attr('action'), form.serialize(),
            function(data) {
              var now = new Date();
              $('#notice2').html('Scores were saved on ' + now);
              form.attr('data-changed', false);
            },
            "html");
        }
      }, 15000);
    });
  </script>
<% end %>

<% content_for(:box1) do %>

  <%=bootstrap_form_for :filter, :url => kapa_course_roster_path(:id =>  @course), :html => {:method => :get}  do |f| %>
    <h4 class="section-header">
      <%=link_to "", {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
      <%=h @course.name %> Roster
    </h4>
    <div class="row">
      <div class="col-sm-6">
        <%=f.select :assessment_rubric_id, @assessment_rubrics.collect {|r| [r.title, "0#{r.id}"]}, {:label => "Assessment"}, {:minWidth => 500}%>
        <%=link_to "Open Rubric", @assessment_rubric.reference_url, {:target => "_blank", :class => "btn btn-default"} unless @assessment_rubric.reference_url.blank? %>
      </div>
    </div>
  <% end %>

  <%=label_form_for(:course, :url => kapa_course_roster_path(:id => @course), :html => {:method => :put, :id => "course_form", "data-changed" => false}) do %>
    <div class="right">
      <span id="save_notice"><%=flash[:save_notice] %></span>
      <%=button_to_function "Save", nil, {:id => "save_button", :class => "btn btn-default"} if @current_user.write? %>
      <%=link_to "Download", {:action => :show, :id => @course, :format => :file}, {:id => "export_button"} %>
    </div>

    <div id = "course_table">
      <%=render :partial => "/kapa/course/table" %>
    </div>
  <% end %>
  <p class="right"><%=button_to_function "All Green", nil, {:id => "all_green_button", :class => "btn btn-default"} if @current_user.write? %></p>
<% end %>
