<% content_for(:box1) do %>

  <h4>Program Cohorts</h4>
  <%=form_tag :action => :list do %>
    <table>
      <tr class="bottom">
        <td>
          <label>Semester Admitted:<br>
          <%=property_select :filter, :academic_period, :include_blank => "Any" %></label>
        </td>
        <td>
          <label>Program<br>
          <%=property_select :filter, :program, :include_blank => "Any", :depts => @current_user.depts %></label>
        </td>
        <td>
          <label>Distribution:<br>
          <%=property_select :filter, :distribution, :name => :distribution, :include_blank => "Any" %></label>
        </td>
      </tr>
      <tr class="bottom">
        <td>
          <label>Type<br>
          <%=property_select :filter, :type, :name => :transition_point, :conditions => "category = 'entrance'" %></label>
        </td>
        <td>
          <label>Major/Concentration:<br>
          <%=property_select :filter, :major_primary, :name => :major, :include_blank => "Any", :include_code => true, :depts => @current_user.depts %></label>
        </td>
        <td>
        </td>
        <td class="right">
          <%=submit_tag "Show" %>
        </td>
      </tr>

    </table>
  <% end %>

<%end%>

<% content_for(:box2) do %>
  <table>
    <tr>
      <th>UH ID</th>
      <th>Name</th>
      <th>Program</th>
      <th>Last Transition Point</th>
      <th>Last Action</th>
      <th>User</th>
    </tr>
  
    <% for transition_point in @transition_points %>
      <tr>
        <td><%=link_to_id_number transition_point.curriculum.person %></td>
        <td><%=link_to_if @current_user.manage?(:main, :delegate => :search), abbr(transition_point.curriculum.person.full_name), main_persons_path(:action => :show, :id => transition_point.curriculum.person_id) %></td>
        <td><%=abbr transition_point.curriculum.code_desc, transition_point.curriculum.code %></td>
        <td><%=h transition_point.rsend(:curriculum, :last_transition_point, :type_desc)%></td>
        <td><%=h transition_point.rsend(:curriculum, :last_transition_point, :last_transition_action, :action_desc) %></td>
        <td><%=h transition_point.rsend(:curriculum, :user_primary, :person, :last_name) %></td>
        <td><%=link_to "Show", :action => :show, :id => transition_point.curriculum %></td>
      </tr>
    <% end %>
  </table>
  <br>
  <div class="center"><%=will_paginate @transition_points %></div>
  <p class="right">
    <%=link_to "Download", :action => :export if @current_user.manage? :main, :delegate => :export %>
  </p>
<%end%>
