<% content_for(:box1) do %>
  <%=render :partial => "/main/person_detail" %>
<%end%>

<% content_for(:box2) do %>
  <h4 class="section-header">
    <%=link_to "", main_person_path(:id => @person, :focus => :curriculum), :class => "glyphicon glyphicon-chevron-left" %>
    New Program
  </h4>
  <br>

  <%=bootstrap_form_for :curriculum, :url => main_curriculums_path(:id => @person), :remote => true do |f| %>
    <%=f.model_select :program_id, {:model_name => :program, :model_options => {:value => :id, :depts => @current_user.depts}, :label => "Program"}, {:style => "width:300px"} %>
    <%=controls if @current_user.write? %>
  <% end %>
<% end %>
