<% content_for(:box1) do %>
  <%=render :partial => "/main/person_detail" %>
<%end%>

<% content_for(:box2) do %>
  <h4 class="section-header">
    <%=link_to "", main_person_path(:id => @curriculum.person_id, :focus => :curriculum), :class => "glyphicon glyphicon-chevron-left" %>
    <%= @program.description %>
  </h4>

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#curriculum_tab" data-toggle="tab">Curriculum</a></li>
      <li><a href="#transition_points_tab" data-toggle="tab">Transition Points</a></li>
    </ul>

    <div class="tab-content">
      <div id="curriculum_tab" class="tab-pane active">
        <%=label_form_for :curriculum, :url => main_curriculum_path(:id => @curriculum), :remote => true, :html => {:method => :put}  do %>
          <%=render :partial => "/main/curriculum_form" %>
          <%=controls if @current_user.write?(:main) %>
        <% end %>
      </div>

      <div id="transition_points_tab" class="tab-pane">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Semester</th>
              <th>Type</th>
              <th>Latest Action</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for transition_point in @transition_points %>
              <tr>
                <td><%=h transition_point.academic_period_desc %></td>
                <td><%=h transition_point.type.to_s.capitalize %></td>
                <td><%=h transition_point.last_transition_action.action_desc if transition_point.last_transition_action %></td>
                <td class="right"><%=link_to "Show", main_transition_point_path(:id => transition_point), :class => "btn btn-default btn-xs" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <p class="new right"><%=link_to "New Transition Point", new_main_transition_point_path(:id => @curriculum) %></p>
      </div>
    </div>
  </div>
<%end%>
