<% content_for(:box1) do %>          
  <%=render :partial => "/main/person_detail" %>
<%end%>

<% content_for(:box2) do %>
  <h4><%= @program.description %></h4>
  <div class="tabs">
    <ul>
      <li><a href="#curriculum_tab">Curriculum</a></li>
      <li><a href="#transition_points_tab">Transition Points</a></li>
      <li><a href="#journey_tab">Mākālei</a></li>
    </ul>

    <div id="curriculum_tab">
      <%=label_form_for :curriculum, :url => main_curriculum_path(:id => @curriculum), :remote => true, :html => {:method => :put}  do %>
        <%=render :partial => "/main/curriculum_form" %>
        <%=controls if @current_user.write?(:main) %>
      <% end %>
    </div>

    <div id="transition_points_tab">
      <table>
        <tr>
          <th>Semester</th>
          <th>Type</th>
          <th>Latest Action</th>
        </tr>
        <% for transition_point in @transition_points %>
          <tr>
            <td><%=h transition_point.academic_period_desc %></td>
            <td><%=h transition_point.type.to_s.capitalize %></td>
            <td><%=h transition_point.last_transition_action.action_desc if transition_point.last_transition_action %></td>
            <td class="right"><%=link_to "Show", main_transition_point_path(:id => transition_point) %></td>
          </tr>
        <% end %>
      </table>
      <p class="new right"><%=link_to "New Transition Point", new_main_transition_point_path(:id => @curriculum) %></p>
    </div>

    <div id="journey_tab">
      <%=label_form_for :curriculum, :url => main_curriculum_path(:id => @curriculum), :remote => true, :html => {:method => :put}  do %>
        <%=render :partial => "/main/journey_form" %>
        <%=controls if @current_user.manage?(:main) %>
      <% end %>
    </div>
  </div>

  <%=link_to "Back", main_person_path(:id => @curriculum.person_id, :focus => :curriculum) %>

<%end%>
