<%
   @examinee_profile = @exam.deserialize(:examinee_profile, :as => OpenStruct)
   @examinee_contact = @exam.deserialize(:examinee_contact, :as => OpenStruct)
%>
<fieldset class="form-block">
  <legend>Praxis Scores Overview</legend>
  <table class="table table-striped">
    <tr>
      <th>Test date</th>
      <th>Code</th>
      <th>Subject</th>
      <th>Score</th>
      <th>Required score</th>
      <th>Status</th>
    </tr>
    <% @exam.exam_scores.each_with_index do |exam_score, i| %>
      <tr class="middle">
        <td><%=format_date exam_score.taken_date %></td>
        <td><%=exam_score.subject %></td>
        <td><%=abbr exam_score.subject_desc, 45 %></td>
        <td><%=exam_score.score %></td>
        <td><%=exam_score.required_score %></td>
        <td><%=exam_score.status %></td>
      </tr>
    <% end if @exam %>
  </table>
  <br>
</fieldset>

<% for exam_score in @exam_scores %>
  <% if exam_score.subscores.length > 0 %>
    <fieldset class="form-block">
      <legend><%=exam_score.subject %>/<%=abbr exam_score.subject_desc, 80 %></legend>
      <table class="table table-striped">
        <tr>
          <th width="5%">#</th>
          <th width="70%">Title</th>
          <th width="25%">Subscores</th>
        </tr>
        <% for subscore in exam_score.subscores %>
          <tr>
            <td><%=subscore[:category_number] %></td>
            <td><%=subscore[:category_text] %></td>
            <td><%=subscore[:category_points] %>/<%=subscore[:category_points_max] %></td>
          </tr>
        <% end %>
      </table>
      <br>
    </fieldset>
  <% end %>
<% end %>

<%=bootstrap_fields_for :examinee_profile do |f| %>
  <fieldset class="form-block">
    <legend>Background Information</legend>
    <div class="row">

      <div class="col-sm-6">
        <%=f.text_field :last_name %>
        <%=f.text_field :birth_date %>
        <%=f.text_field :ets_id, :text => "ETS ID" %>
        <%=f.text_field :gender %>
        <%=f.text_field :ethnicity %>
      </div>

      <div class="col-sm-6">
        <%=f.text_field :first_name %>
<% end %>

<%=bootstrap_fields_for :examinee_contact do |g| %>
  <%=g.text_field :street %>
  <%=g.text_field :city %>
  <%=g.text_field :state %>
  <%=g.text_field :postal_code %>
<% end %>
</div>

</div>
</fieldset>

<%=bootstrap_fields_for :examinee_profile do |j| %>
  <fieldset class="form-block">
    <legend>Educational Information</legend>
    <div class="row">

      <div class="col-sm-6">
        <%=j.text_field :attending_institution %>
        <%=j.text_field :educational_level %>
      </div>

      <div class="col-sm-6">
        <%=j.text_field :undergraduate_gpa %>
        <%=j.text_field :undergraduate_major %>
        <%=j.text_field :graduate_major %>
      </div>

    </div>
  </fieldset>
<% end %>