<% content_for(:box1) do %>

  <h4>Advising Sessions</h4>
  <table>
    <tr class="bottom">
      <%=form_tag :action => :index do %>
        <td>
          <p><label>Start date:<br>
            <%=date_picker :filter, :date_start %></label></p>
        </td>
        <td>
          <p><label>End date:<br>
            <%=date_picker :filter, :date_end %></label></p>
        </td>
        <td>
          <p><label>Task:<br>
            <%=property_select :filter, :task, :include_blank => true, :name => :advising_task %></label></p>
        </td>
        <td>
          <p><label>Area of Interest:<br>
            <%=property_select :filter, :interest, :include_blank => true, :name => :advising_interest %></label></p>
        </td>
        <td>
          <p><label>User:<br>
            <%=user_select :filter, :user_id, :include_blank => true, :depts => @current_user.depts%></label></p>
        </td>
        <td>
          <p class="right"><%=submit_tag "Show" %></p>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>


<% content_for(:box2) do %>
  <table id="advising_list">
    <tr>
      <th>UH ID</th>
      <th>Name</th>
      <th>Date</th>
      <th>Task</th>
      <th>Area of Interest</th>
      <th>Adviser</th>
    </tr>
    <% for advising_session in @advising_sessions %>
      <tr>
        <td><%=link_to_id_number advising_session.person %></td>
        <td><%=link_to_if @current_user.manage?(:main, :delegate => :search), abbr(advising_session.person.full_name), main_persons_path(:action => :show, :id => advising_session.person_id) %></td>
        <td><%=format_date advising_session.session_date %></td>
        <td><%=abbr advising_session.task.to_s, 25 %></td>
        <td><%=abbr advising_session.interest.to_s, 25 %></td>
        <td><%=h advising_session.user_primary.person.last_name if advising_session.user_primary %></td>
        <td class="right"><%=link_to "Show", :action => :show, :id => advising_session %></td>
      </tr>
    <% end %>
  </table>
  <div class="center"><%=will_paginate @advising_sessions %></div>
  <p class="right"><%=link_to "Download", :action => :export, :action => :export if @current_user.manage? :advising, :delegate => :export %></p>

<% end %>
