<% content_for(:box1) do %>
  <%unless @advising_session.anonymous?%>
    <%=render :partial => "/main/person_detail" %>
  <%end%>

  <h4 class="section-header <%='divider' unless @advising_session.anonymous? %>">
    <%=link_to "", main_person_path(:id => @person), :class => "glyphicon glyphicon-chevron-left" %>
    Advising Record
  </h4>

  <div>
    <%=bootstrap_form_for :advising_session, :url => advising_sessions_path, :remote => true do |f| %>
      <%=render :partial => "/advising/session_form", :locals => {:f => f} %>
      <%=controls if @current_user.write? %>
    <% end %>
  </div>
<%end%>
