
<%unless @advising_session.anonymous?%>
  <% content_for(:box1) do %>
    <%=render :partial => "/main/person_detail" %>
  <%end%>
<%end%>

<% content_for(:box2) do %>
  <h4 class="section-header">
    <%=link_to_unless @advising_session.anonymous?, "", main_person_path(:id => @person), :class => "glyphicon glyphicon-chevron-left" %>
    Advising Session
  </h4>

  <div>
    <%=bootstrap_form_for :advising_session, :url => advising_session_path(:id => @advising_session), :remote => true, :html => {:method => :put} do |f| %>
      <%=render :partial => "/advising/session_form", :locals => { :f => f, :anonymous => @advising_session.anonymous? } %>
      <%=controls do %>
        <%# TODO: link_to_button method is undefined %>
        <%#= link_to_button "Delete", advising_session_path(:id => @advising_session), {:method => :delete, "data-confirm" => "Are you sure?"} %>
      <% end if @current_user.write? %>
    <% end %>
  </div>
<%end%>
