<% content_for(:dialog) do %>

  <%= render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "filter_dialog", :modal_title => "Search", :modal_form_id => "filter_form"} do %>
    <%= bootstrap_form_for(:filter, :url => kapa_files_path, :html => {:method => :get, :id => "filter_form"}) do |f| %>
      <%= f.text_field :name, :label => "File Name" %>
      <%= f.select :per_page, Rails.configuration.items_per_page_selections %>
    <% end %>
  <% end %>

<% end %>

<% content_for(:box1) do %>

  <h3>Files</h3>

  <div class="row">
    <div class="col-sm-12 text-right">
      <%=button_to_link "Download", {:action => :export}, :icon => "glyphicon-download" %>
      <%=button_to_link "Search", nil, "data-toggle" => "modal", "data-target" => "#filter_dialog", :icon => "glyphicon-search" %>
    </div>
  </div>

  <table id="form_list" class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>File Name</th>
      <th>Uploaded</th>
      <th><%=t(:kapa_global_dept) %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% for file in @files %>
      <tr>
        <td><%= file.person.id_number if file.person %></td>
        <td><%= link_to abbr(file.person.full_name), kapa_person_path(:id => file.person_id) if file.person %></td>
        <td><%= file.name %></td>
        <td><%= format_date file.updated_at %></td>
        <td><%= h file.dept.join(", ") %></td>
        <td class="right"><%= link_to "Show", {:action => :show, :id => file}, {:target => "_blank", :class => "btn btn-default btn-xs"} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="text-center"><%= will_paginate @files, :renderer => BootstrapPagination::Rails %></div>

<% end %>
