<% content_for(:main) do %>

  <%=render :partial => "file_container", :locals => {:file => @file} %>

<% end %>

<% content_for(:sidebar) do %>

  <%=bootstrap_form_for(:file, :url => kapa_file_path(:id => @file), :html => {:method => :put, :id => "edit_file_form"}) do |f| %>

    <%=f.text_area :note, :text => "Note", :size => "5x7" %>
    <%=f.text_field :name %>
    <%= f.property_select(:depts, {:name => :dept, :label => t(:kapa_global_dept).pluralize}, :multiple => true) if manage? :kapa_files %>

    <%=render(:layout => "/kapa/layouts/controls", :locals => {:hide_cancel => true}) do %>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-option-vertical"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%=link_to("Download", kapa_file_path(:id => @file, :format => :file))%></li>
          <% if destroy?%><li><%=link_to("Delete this file", kapa_file_path(:id => @file, :return_path => session[:return_path]), :method => :delete, "data-confirm" => "Are you sure you want to delete?")%></li><% end %>
        </ul>
      </div>
      <%=button_to_link "Cancel", nil, "data-close" => true %>
    <% end if update? %>

  <% end %>

<% end %>