<% content_for(:main) do %>

  <%=render :partial => "file_container", :locals => {:file => @file} %>

  <div class="text-center">
    <%=button_to_link "Download File", kapa_file_path(:id => @file, :format => :file), :icon => "glyphicon-download" %>
  </div>

<% end %>

<% content_for(:sidebar) do %>

  <%=bootstrap_form_for(:file, :url => kapa_file_path(:id => @file), :html => {:method => :put, :id => "edit_file_form"}) do |f| %>

    <div class="row form-block">
        <%=f.text_area :note, :text => "Note", :size => "5x7" %>
        <%=f.text_field :name %>
        <%=f.property_select :dept, :name => :dept, :label => t(:kapa_global_dept) if @current_user.manage? :kapa_files %>
    </div>

    <%=render :partial => "/kapa/layouts/controls", :locals => {:delete_path => kapa_file_path(:id => @file, :return_path => params[:return_path])} if @current_user.write? %>

  <% end %>

<% end %>