<% content_for(:box1) do %>

  <h3><%=@person.full_name if @person %> <%=format_date @file.date %></h3>

  <%=content_tag :iframe, :src => kapa_file_url(:id => @file, :format => :file, :inline => true), :width => "100%", :height => 1070, :frameborder => 0 do %>
    [Your browser does not support iframe, or has been configured not to display inline frames.
     You can access <%=link_to "the document", kapa_file_url(:id => @file, :format => :file) %>
     via a link though.]
  <% end %>
  <p class="text-center">
    <%=bootstrap_button "Download", kapa_file_path(:id => @file, :format => :file), :icon => "glyphicon-download" %>
    <% if @current_user.write? %>
      <%=bootstrap_button "Delete", kapa_file_path(:id => @file), :method => :delete, "data-confirm" => "Proceed with deletion?", :icon => "glyphicon-trash" %>
      <%=bootstrap_button "Setting", nil, "data-toggle" => "modal", "data-target" => "#edit_file_dialog", :icon => "glyphicon-wrench" %>
    <% end %>
  </p>


  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "edit_file_dialog", :modal_title => "Edit file property", :modal_form_id => "edit_file_form"} do %>
    <%= bootstrap_form_for(:file, :url => kapa_file_path(:id => @file), :html => {:method => :put, :id => "edit_file_form"}) do |f| %>
      <%= f.text_area :note, :text => "Note", :size => "5x7" %>
      <div class="row form-block">
        <div class="col-sm-4">
          <%= f.text_field :name %>
          <%= f.text_field :dept, :label => t(:kapa_global_dept) if @current_user.manage? :kapa_files %>
          <%= f.check_box :public, {:label => "Share document"}, "Y", "N" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
