<% content_for(:box1) do %>

  <h3><%=@file.name %></h3>
  <div class="row">
    <div class="col-sm-6">
      <h4>Form ID: <%=@form.id %></h4>
    </div>
    <div class="col-sm-6">
      <h4><%="#{@person.full_name} (#{@person.id_number})" if @person %></h4>
    </div>
  </div>
  <h4 class="right"><%=@person.full_name %></h4>
  <h4 class="right">File ID: <%=@file.id %></h4>


  <%=render :partial => "file_container", :locals => {:file => @file} %>
  <p class="text-center">
    <%=button_to_link "Download", kapa_file_path(:id => @file, :format => :file), :icon => "glyphicon-download" %>
    <% if @current_user.write? %>
      <%=button_to_link "Delete", kapa_file_path(:id => @file, :return_path => params[:return_path]), :method => :delete, "data-confirm" => "Proceed with deletion?", :icon => "glyphicon-trash" %>
      <%=button_to_link "Setting", nil, "data-toggle" => "modal", "data-target" => "#edit_file_dialog", :icon => "glyphicon-wrench" %>
    <% end %>
  </p>


  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "edit_file_dialog", :modal_title => "Edit file property", :modal_form_id => "edit_file_form"} do %>
    <%=bootstrap_form_for(:file, :url => kapa_file_path(:id => @file), :html => {:method => :put, :id => "edit_file_form"}) do |f| %>
      <%=f.text_area :note, :text => "Note", :size => "5x7" %>
      <div class="row form-block">
        <div class="col-sm-6">
          <%=f.text_field :name %>
          <%=f.text_field :dept, :label => t(:kapa_global_dept) if @current_user.manage? :kapa_files %>
          <%=f.check_box :public, {:label => "Share document"}, "Y", "N" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
