<table class="table table-striped">
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @docs_forms_list.sort_by {|d| d.created_at}.reverse_each do |d| %>
      <tr>
        <td>
          <% if d.is_a? Document %>
            File <!-- File icon -->
          <% elsif d.is_a? Form %>
            Form <!-- Form icon -->
          <% end %>
        </td>
        <td><%=d.name%></td>
        <td><%=format_date d.date %></td>
        <td class="right">
          <% if d.is_a? Document %>
            <%=link_to "Show", artifact_document_path(:id => d), :target => :blank, :class => "btn btn-default btn-xs"  %>
          <% elsif d.is_a? Form %>
            <%=link_to "Show", artifact_form_path(:id => d), :target => :blank, :class => "btn btn-default btn-xs"  %>
          <% end %>
        </td>
      </tr>
    <% end if @docs_forms_list %> <!-- @docs_forms_list loop -->
  </tbody>
</table>
<div class="row">
  <div class="col-sm-12">
    <% if @current_user.write? :artifact %>
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#document_dialog">Upload a document</button>
    <% end %>
  </div>
</div>

<%=render :layout => '/layouts/modal', :locals => {:modal_id => "document_dialog", :modal_title => "Select a document", :modal_form_id => "new_document_form"} do %>
  <%=bootstrap_form_for :document, :url => artifact_documents_path(:id => @person, :focus => "document", :return_url => request.symbolized_path_parameters), :html => {:multipart => true, :id => "new_document_form"} do |f| %>
    <%=f.text_field :name, :placeholder => "Enter filename (optional)" %>
    <%=f.file_field :data %>
    <%=f.check_box :public, {:label => "Share document"}, "Y", "N" %>
  <% end %>
<% end %>
