<%= bootstrap_fields_for :person do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <%= f.text_field :cur_phone, :label => "Phone" %>
    </div>

    <div class="col-sm-6">
      <%= f.text_field :mobile_phone, :label => "Mobile Phone" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h4>Current Address</h4>
      <%= f.text_field :cur_street, :label => "Street" %>
      <%= f.text_field :cur_city, :label => "City" %>
      <%= f.text_field :cur_state, :label => "State" %>
      <%= f.text_field :cur_postal_code, :label => "ZIP" %>
    </div>

    <div class="col-sm-6">
      <h4>Permanent Address</h4>
      <%= f.text_field :per_street, :label => "Street"  %>
      <%= f.text_field :per_city, :label => "City"  %>
      <%= f.text_field :per_state, :label => "State"  %>
      <%= f.text_field :per_postal_code, :label => "ZIP"  %>
    </div>
  </div>

<% end %>
