<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function ($) {

      var lookup_person = function(key) {
        $.ajax({
          type: 'GET',
          url: '<%=kapa_persons_lookup_path(:id => @person.id)%>',
          data: {key: key},
          dataType: 'json',
          success: function(data) {
            if(data['person']) {
              $('#person_id_number').val(data['person']['id_number']);
              $('#person_email').val(data['person']['email']);
              $('#person_last_name').val(data['person']['last_name']);
              $('#person_first_name').val(data['person']['first_name']);
              $('#person_status').val(data['person']['status']);
            }

            if(data['action'] == 'promote') {
              $('#person_alert').addClass('alert alert-success');
              $('#person_alert').html(data['notice']);

            } else if(data['action'] == 'merge') {
              $('#person_id_verified').val(data['person_id_verified'])
              $('#person_alert').addClass('alert alert-success');
              $('#person_alert').html(data['notice']);

            } else if(data['action'] == 'alert') {
              $('#person_alert').addClass('alert alert-danger');
              $('#person_alert').html(data['notice']);
            }
          },
          error: function(data) {
              $('#person_alert').addClass('alert alert-danger');
              $('#person_alert').html('Unable to process the data lookup.');
          }
        });
      }

      $('#add_id_number').click(function() {
        lookup_person(prompt("Please enter an ID number"));
      });

      $('#add_email').click(function() {
        lookup_person(prompt("Please enter an E-mail", "<%=Rails.configuration.email_domain if Rails.configuration.respond_to?(:email_domain)%>"));
      });

      $('#sync_person').click(function() {
        $('#person_profile_modal').modal('show');
        $.ajax({
          type: 'GET',          
          url: '<%= kapa_persons_sync_path(:id => @person) %>',
          data: { key: $('#person_id_number').val() },
          dataType: 'json',
          success: function(data) {
            $('#person_alert').addClass('alert alert-success');
            $('#person_alert').html(data['notice']);
            $('#person_form_fields').html(data['html']);
          }
        });  
      });
    });
  </script>
<% end %>

<h3>
  <%=button_to_link "", "#person_detail_panel", "data-toggle" => "collapse", "aria-expanded" => false, "aria-controls" => "person_detail_panel", :icon => "glyphicon-user" %></li>
  <%=link_to_if read?(:kapa_persons), @person.full_name, kapa_person_path(:action => :show, :id => @person) %>
</h3>

<div class="collapse" id="person_detail_panel">
      <div class="panel panel-default ">
        <div class="panel-heading"><h4 class="panel-title">Profile</h4></div>
        <div class="panel-body">
          <div class="text-right">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-pencil"></span>
                Edit Profile
              </button>
              <ul class="dropdown-menu">
                <li><%=link_to "Personal Profile", "#", "data-toggle" => "modal", "data-target" => "#person_profile_modal" if update?(:kapa_persons) %></li>
                <li><%=link_to "Contact", "#", "data-toggle" => "modal", "data-target" => "#person_contact_modal" if update?(:kapa_persons)  %></li>
                <li><%=link_to "Sync", "#", :id => "sync_person" if update?(:kapa_persons) %></li>
              </ul>
            </div>          
          </div>

          <div class="row">
            <div class="col-sm-6">
              <dl class="dl-horizontal">
                <dt><strong>ID Number:</strong></dt>
                <dd><%=@person.id_number %></dd>

                <dt><strong>Other Name:</strong></dt>
                <dd><%=@person.other_name %></dd>

                <dt><strong>Birth Date:</strong></dt>
                <dd><%=@person.birth_date %></dd>

                <dt><strong>Title:</strong></dt>
                <dd><%=@person.title %></dd>

                <dt><strong>Gender:</strong></dt>
                <dd><%=@person.gender %></dd>

                <% if read?(:kapa_users) %>
                  <dt><strong>User Accounts:</strong></dt>
                  <dd>
                    <% @person.users.each do |user| %>
                      <%=link_to user.uid, kapa_user_path(:id => user)%><br/>
                    <% end %>
                  </dd>
                <% end %>
              </dl>
            </div>

            <div class="col-sm-6">
              <dl class="dl-horizontal">
                <dt><strong>Campus Email:</strong></dt>
                <dd><%=mail_to @person.email %></dd>

                <dt><strong>Other Email:</strong></dt>
                <dd><%=mail_to @person.email_alt %></dd>

                <dt><strong>Current Phone:</strong></dt>
                <dd><%=@person.cur_phone %></dd>

                <dt><strong>Mobile Phone:</strong></dt>
                <dd><%=@person.mobile_phone %></dd>

                <dt><strong>Current Address:</strong></dt>
                <dd><%=@person.cur_address %></dd>

                <dt><strong>Permanent Address:</strong></dt>
                <dd><%=@person.per_address %></dd>
              </dl> 
            </div>
          </div>

          </dl>
        </div>

  </div>
</div>

<%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "person_profile_modal", :modal_title => "Profile", :modal_form_id => "person_form", :modal_class => "modal-lg"} do %>
  <div role="alert" id="person_alert"></div>
  <%=bootstrap_form_for :person, :url => kapa_person_path(:id => @person, :return_path => request.fullpath), :html => {:method => :put, :id => "person_form"} do %>
    <div id="person_form_fields">
      <%= render :partial => "kapa/persons/person_form" %>
    </div>
  <% end %>
<% end if read? :kapa_persons %>

<%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "person_contact_modal", :modal_title => "Contacts", :modal_form_id => "contact_form", :modal_class => "modal-lg"} do %>
  <%=bootstrap_form_for :contact, :url => kapa_person_path(:id => @person, :return_path => request.fullpath), :html => {:method => :put, :id => "contact_form"} do %>
    <%=render :partial => "kapa/persons/contact_form" %>
  <% end %>
<% end if read? :kapa_persons %>