<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function ($) {

      var lookup_person = function(key) {
          $.getJSON('<%=kapa_persons_lookup_path(:id => @person)%>',
                    {key: key},
                    function(data) {
                      if(data['person']) {
                        $('#person_id_number').val(data['person']['id_number']);
                        $('#person_email').val(data['person']['email']);
                        $('#person_last_name').val(data['person']['last_name']);
                        $('#person_first_name').val(data['person']['first_name']);
                        $('#person_status').val(data['person']['status']);
                      }

                      if(data['action'] == 'promote') {
                        alert('Person was verified with the external directory.  Please check the name and save this record.');

                      } else if(data['action'] == 'merge') {
                        $('#person_id_verified').val(data['person_id_verified'])
                        alert('This person already exists in this system.  Please check the name and click OK to merge this record.');

                      } else if(data['action'] == 'alert') {
                        $('#person_id_number').val('');
                        $('#person_email').val('');
                        alert('No record was found in the external directory. Please check ID or Email');
                      }
                    }
                   );
      }

      $('#person_id_number').keyup(function() {
        if($(this).val().match(/<%=Rails.configuration.regex_id_number %>/i)) {
          lookup_person($(this).val());
        }
      });

      $('#person_email').keyup(function() {
         if($(this).val().match(/<%=Rails.configuration.regex_email %>/i)) {
          lookup_person($(this).val());
         }
      });

    });
  </script>
<% end %>

<h3>
  <div class="btn-group person-detail">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-user"></span><span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <% if  @current_user.read?(:kapa_persons) %><li><a href="#" data-toggle="modal" data-target="#person_profile_modal">Show Profile</a></li><% end %>
      <% if  @current_user.read?(:kapa_contacts) %><li><a href="#" data-toggle="modal" data-target="#person_contact_modal">Show Contacts</a></li><% end %>
      <li><%=mail_to @person.email, "Send Email" %></li>
      <li><%=link_to "External Site", nil%></li>
    </ul>
  </div>
  <%= link_to_if @current_user.read?(:kapa_persons), @person.full_name, kapa_person_path(:action => :show, :id => @person) %>
</h3>

<%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "person_profile_modal", :modal_title => "Profile", :modal_form_id => "person_form"} do %>
  <%= bootstrap_form_for :person, :url => kapa_person_path(:id => @person, :return_path => request.fullpath), :html => {:method => :put, :id => "person_form"} do %>
    <%= render :partial => "kapa/persons/person_form" %>
  <% end %>
<% end if @current_user.read? :kapa_persons %>

<%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "person_contact_modal", :modal_title => "Contacts", :modal_form_id => "contact_form"} do %>
  <%= bootstrap_form_for :contact, :url => kapa_contact_path(:id => @person, :return_path => request.fullpath), :html => {:method => :put, :id => "contact_form"} do %>
    <%= render :partial => "kapa/persons/contact_form", :locals => {:object_name => :contact} %>
  <% end %>
<% end if @current_user.read? :kapa_contacts %>

<%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "document_dialog", :modal_title => "Select a document", :modal_form_id => "new_document_form"} do %>
  <%= bootstrap_form_for :file, :url => kapa_files_path(:id => @person, :return_path => url_for(:anchor => "documents", :only_path => true)), :html => {:multipart => true, :id => "new_document_form"} do |f| %>
    <%=f.file_field :data, :label => "File to upload" %>
    <%=f.text_field :name, :placeholder => "Enter filename (optional)" %>
    <%#=f.check_box :public, {:label => "Share document"}, "Y", "N" %>
    <%=f.hidden_field :attachable_type, :value => @attachable_type %>
    <%=f.hidden_field :attachable_id, :value => @attachable_id %>
  <% end %>
<% end %>

<%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "form_dialog", :modal_title => "Select a form", :modal_form_id => "new_form_form"} do %>
  <%= bootstrap_form_for :form, :url => kapa_forms_path(:id => @person, :return_path => url_for(:anchor => "documents", :only_path => true)), :html => {:id => "new_form_form"} do |f| %>
    <%=f.property_select :type, :name => :form %>
    <%=f.hidden_field :attachable_type, :value => @attachable_type %>
    <%=f.hidden_field :attachable_id, :value => @attachable_id %>
  <% end %>
<% end %>
