<%=bootstrap_fields_for :person do |f| %>

  <div class="row">
    <div class="col-sm-6">
      <%=f.text_field :id_number, :size => 10, :readonly => @person.verified?, :class => "id_number", :label => "Campus ID" unless @unverified  %>
      <%=f.text_field :last_name, :size => 30 %>
      <%=f.text_field :middle_initial, :size => 30 %>
      <%=f.date_picker :birth_date, :label => "Birth Date" %>
      <%=f.property_select :title, :include_blank => true %>
    </div>

    <div class="col-sm-6">
      <%=f.text_field :email, :size => 30, :readonly => @person.verified?, :label => "Campus Email" unless @unverified  %>
      <%=f.text_field :first_name, :size => 30 %>
      <%=f.text_field :other_name %>
      <%=f.property_select :gender, :include_blank => true %>
      <%=f.text_field :email_alt, :size => 30, :label => "Personal Email" %>
    </div>
  </div>

  <%=f.hidden_field :status %>
  <%=hidden_field_tag :person_id_verified %>
<% end %>