<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      // Set active panel
      var focus = document.location.hash;
      if(focus.length > 0) {
        $(focus + '_detail').addClass('in');
      }
      else {
        $('[id$=_detail]').first().addClass('in');
      }
    });
  </script>
<% end %>

<% content_for(:title) do %>
  <%=@person.full_name %>
<% end %>

<% content_for(:box1) do %>
  <%=render :partial => "/kapa/persons/person_detail", :locals => {:uri => {:action => :show, :id => @person}} %>

  <div class="panel-group" id="accordion">
    <% if @current_user.read?(:kapa_files) %>
    <% @documents = @person.documents %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#document_detail">
            Documents (<%=@documents.length%>)
          </a>
        </h4>
      </div>
      <div id="document_detail" class="panel-collapse collapse">
        <div class="panel-body">
          <p class="text-right">
            <%=button_to_link "New File", nil, "data-toggle" => "modal", "data-target" => "#document_dialog", :icon => "glyphicon-plus" %>
            <%=button_to_link "New Form", nil, "data-toggle" => "modal", "data-target" => "#form_dialog", :icon => "glyphicon-plus" %>
          </p>
          <table class="table table-hover">
           <tr>
             <th>Type</th>
             <th>Name</th>
             <th>Date</th>
             <th></th>
           </tr>
           <% @documents.sort_by {|d| d.created_at}.reverse_each do |d| %>
             <tr>
               <td><%=d.type%></td>
               <td><%=d.name%></td>
               <td><%=format_date d.date %></td>
               <td class="right"><%=link_to "Show", document_path(d), :target => "_blank", :class => "btn btn-default btn-xs" %></td>
             </tr>
           <% end %>
          </table>
        </div>
      </div>
    </div>
    <% end %>

  </div>
<% end %>
