<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      // Set active panel
      var focus = document.location.hash;
      if(focus.length > 0) {
        $(focus + '_detail').addClass('in');
      }
      else {
        $('[id$=_detail]').first().addClass('in');
      }
    });
  </script>
<% end %>

<% content_for(:title) do %>
  <%=@person.full_name %>
<% end %>

<% content_for(:box1) do %>
  <%=render :partial => "/kapa/persons/person_detail", :locals => {:uri => {:action => :show, :id => @person}} %>

  <div class="panel-group" id="accordion">
    <% if read?(:kapa_files) %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#document_detail">
            Documents (<%=@documents.length%>)
          </a>
        </h4>
      </div>
      <div id="document_detail" class="panel-collapse collapse">
        <div class="panel-body">
          <p class="text-right">
            <%=button_to_link "New File", nil, "data-toggle" => "modal", "data-target" => "#document_dialog", :icon => "glyphicon-plus" if create?(:kapa_files) %>
            <%=button_to_link "New Form", nil, "data-toggle" => "modal", "data-target" => "#form_dialog", :icon => "glyphicon-plus" if create?(:kapa_forms) %>
            <%=button_to_link "New Text Doc", nil, "data-toggle" => "modal", "data-target" => "#text_dialog", :icon => "glyphicon-plus" if create?(:kapa_texts) %>
          </p>
          <table class="table table-hover">
           <tr>
             <th>Type</th>
             <th>Title</th>
             <th>Date</th>
             <th><%=t(:kapa_global_dept).pluralize %></th>
             <th>Status</th>
             <th></th>
           </tr>
           <% @documents.sort_by {|d| d.created_at}.reverse_each do |d| %>
             <tr>
               <td><%=d.type%></td>
               <td><%=d.title%></td>
               <td><%=format_date d.date %></td>
               <td><%=d.depts.join(", ") %></td>
               <td><%=d.status_desc %></td>
               <td class="right"><%=link_to "Show", document_path(d), :class => "btn btn-default btn-xs", :target => "_blank" %></td>
             </tr>
           <% end %>
          </table>
        </div>
      </div>
    </div>
    <% end %>

  </div>

  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "document_dialog", :modal_title => "Select a document", :modal_form_id => "new_document_form"} do %>
    <%=bootstrap_form_for :file, :url => kapa_files_path(:id => @person, :return_path => url_for(:anchor => :document, :only_path => true)), :html => {:multipart => true, :id => "new_document_form"} do |f| %>
      <%=f.file_field :data, :label => "File to upload" %>
      <%=f.hidden_field :person_id, :value => @person.id %>
    <% end %>
  <% end %>

  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "form_dialog", :modal_title => "Select a form", :modal_form_id => "new_form_form"} do %>
    <%=bootstrap_form_for :form, :url => kapa_forms_path(:id => @person, :return_path => url_for(:anchor => :document, :only_path => true)), :html => {:id => "new_form_form"} do |f| %>
      <%=f.select :form_template_id, @form_templates.collect {|t| [t.title, t.id]} %>
      <%=f.hidden_field :person_id, :value => @person.id %>
    <% end %>
  <% end %>

  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "text_dialog", :modal_title => "Select a template", :modal_form_id => "new_text_form"} do %>
    <%= bootstrap_form_for :text, :url => kapa_texts_path(:return_path => url_for(:anchor => :document, :only_path => true)), :html => {:id => "new_text_form"} do |f| %>
      <%=f.select :text_template_id, @text_templates.collect {|t| [t.title, t.id]}, {:label => "Template"} %>
      <%=f.hidden_field :person_id, :value => @person.id %>
    <% end %>
  <% end %>

<% end %>
