<% content_for(:box1) do %>

  <h4><%=h @assessment_rubric.title %></h4>

  <div class="tabs">
    <ul>
      <li><a href="#rubric_profile_tab">Profile</a></li>
      <li><a href="#criterions_tab">Criteria</a></li>
    </ul>

    <div id="rubric_profile_tab">
      <%=label_form_for :assessment_rubric, :url => {:action => :update, :id => @assessment_rubric}, :remote => true do |f| %>
        <%=render :partial => "/admin/rubric_form", :locals => {:f => f} %>
        <%=controls do %>
          <%= button_to_redirect "Delete", admin_rubrics_path(:action => :destroy, :id => @assessment_rubric), {"confirm" => "Are you sure?"} %>
        <% end if @current_user.manage?  :admin, :delegate => :rubric %>
      <% end %>
    </div>

    <div id="criterions_tab">
      <div class="accordion">
        <%for @assessment_criterion in @assessment_criterions %>
          <h3>
            <a href="#"><span class="strong"><%=h @assessment_criterion.criterion %></span></a>
          </h3>
          <div>
            <%=label_form_for :assessment_criterion, :url => admin_criterions_path(:action => :update, :id => @assessment_criterion), :remote => true do |f| %>
              <%=render :partial => "/admin/criterion_form" %>
              <%=controls do %>
                <%= button_to_redirect "Delete", admin_criterions_path(:action => :destroy, :id => @assessment_criterion), {"confirm" => "Are you sure?"} %>
              <% end if @current_user.manage?  :admin, :delegate => :rubric %>
            <% end %>
          </div>
        <%end%>

        <h3>
          <a href="#"><span class="new">New Criterion</span></a>
        </h3>
        <div>
          <% @assessment_criterion = AssessmentCriterion.new %>
          <%=label_form_for :assessment_criterion, :url => admin_criterions_path(:action => :create, :id => @assessment_rubric), :remote => true do |f| %>
            <%=render :partial => "/admin/criterion_form" %>
            <%=controls if @current_user.manage? :admin, :delegate => :rubric %>
          <% end %>
        </div>

      </div>
    </div>

    <div id="preview_tab">
    </div>

  </div>

  <%=link_to "Back", :action => :list %>

<% end %>