<% content_for(:box1) do %>
  <%=render :partial => "/kapa/persons/person_detail" %>

  <h4 class="section-header divider">
    <%= link_to "", kapa_practicum_placement_path(:id => @practicum_placement, :anchor => :practicum_logs), :class => "glyphicon glyphicon-chevron-left" %>
    New Log
  </h4>

  <%=bootstrap_form_for :practicum_log, :url => kapa_practicum_logs_path(:practicum_placement_id => @practicum_placement) do |f| %>
    <%=render :partial => "log_form" %>
    <%=render :partial => "/kapa/layouts/controls" if @current_user.write? %>
  <% end %>

<% end %>
