<% content_for(:box1) do %>
  <%=render :partial => "/kapa/persons/person_detail" %>

  <h4 class="section-header divider">
    <%=link_to "", kapa_practicum_placement_path(:id => @practicum_placement, :anchor => :practicum_logs), :class => "glyphicon glyphicon-chevron-left" %>
    Log <%=@practicum_log.log_date%>
  </h4>

  <%=bootstrap_form_for(:practicum_log, :url => kapa_practicum_log_path(:id => @practicum_log, :anchor => :logs), :html => {:method => :put}) do |f| %>
    <%=render :partial => "log_form" %>
    <%=render :partial => "/kapa/layouts/controls", :locals => {:delete_path => kapa_practicum_log_path(:id => @practicum_log, :anchor => :logs)}if @current_user.write? %>
  <% end %>

<% end %>
