<% content_for(:box1) do %>
<%- model_class = DataSource -%>
<div class="page-header">
  <h3>DataSources</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:type) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%= model_class.human_attribute_name(:user) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @data_sources.each do |data_source| %>
      <tr>
        <td><%= link_to data_source.id, report_data_source_path(data_source) %></td>
        <td><%= data_source.type %></td>
        <td><%= data_source.name %></td>
        <td><%= data_source.url %></td>
        <td><%= data_source.user %></td>
        <td>
          <%= link_to "Show", report_data_source_path(data_source), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_report_data_source_path,
            :class => 'btn btn-primary' %>
<%end%>