<% content_for(:dialog) do %>

  <%= render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "filter_dialog", :modal_title => "Search", :modal_form_id => "filter_form"} do %>
    <%= bootstrap_form_for(:filter, :url => kapa_courses_path, :html => {:method => :get, :id => "filter_form"}) do |f| %>
      <%= f.term_select :term_id, :include_blank => "Any", :label => "Term" %>
      <%= f.text_field :name, :label => "Filter (e.g., ITE317 or ITE317-001)" %>
      <%= f.select :per_page, [10, 20, 30, 40, 50] %>
    <% end %>
  <% end %>

<% end %>

<% content_for(:box1) do %>

  <h3>Courses (<%= @filter.term_id.present? ? Kapa::Term.find(@filter.term_id).description : "Any Terms" %>)</h3>

  <div class="row">
    <div class="col-sm-12 text-right">
      <%=bootstrap_button "Download", {:action => :export}, :icon => "glyphicon-download" %>
      <%=bootstrap_button "Search", nil, "data-toggle" => "modal", "data-target" => "#filter_dialog", :icon => "glyphicon-search" %>
    </div>
  </div>

  <table id="course_list" class="table table-striped">
    <thead>
    <tr>
      <th>Course</th>
      <th>CRN</th>
      <th>Title</th>
      <th>Instructor</th>
      <th>Registration</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% for course in @courses %>
      <tr>
        <td><%= h course.name %></td>
        <td><%= h course.crn %></td>
        <td><%= h course.title %></td>
        <td><%= h course.instructor %></td>
        <td><%= h course.course_registrations.length.to_i %></td>
        <td class="right"><%= link_to "Show", kapa_course_path(:id => course), :class => "btn btn-default btn-xs" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="text-center"><%= will_paginate @courses, :renderer => BootstrapPagination::Rails %></div>

<% end %>
