<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      initAssessmentTable('#course_table');

      $('#filter_assessment_rubric_id').change(function() {
        $(this).parents('form').submit();
      });

      $('#save_button').click(function() {
        form = $('#course_form');
        $.post(form.attr('action'), form.serialize(),
          function(data) {
            var now = new Date();
            $('#course_table').html(data);
            alert('Scores were saved on ' + now);
            initAssessmentTable('#course_table');
          },
          "html");
        return false;
      });

      function initAssessmentTable(selector) {
        $(selector).find('div.score').each(function(i, e) {
          var score_select_items = $(e).find('div.score_select_item');
          var score_select = $(e).find('div.score_select');
          var score_field = $(e).find('input.score_field');
          // console.log('...int table', score_select_items, score_select, score_field);

          score_select_items.click(function() {
            setAssessmentScore(score_field, $(this).html());
            score_select.hide();
          });
          score_select.mouseleave(function() {
            score_select.hide();
          });
          score_field.click(function() {
            score_select.show();
          });
          score_field.keypress(function(event) {
            var keychar = String.fromCharCode(event.which);
            if ('0123'.indexOf(keychar) > -1) {
              score_field.val('');
              setAssessmentScore(score_field, keychar);
              return true;
            }
            // When delete is pressed
            else if (event.which === 8) {
              setAssessmentScore(score_field, 'Clr');
              return true;
            }
            else {
              return false;
            }
          });
          score_field.keyup(function(event) {
            score_select.hide();
            $('#' + score_field.attr('next_id')).focus();
          });
        });
        $(selector).parents('form').attr('data-changed', false);
      }

      function setAssessmentScore(field, score) {
        var field = $(field);
        field.removeClass('target');
        field.removeClass('acceptable');
        field.removeClass('unacceptable');
        field.removeClass('no_evidence');

        if (score === '2') {
          field.val('2');
          field.addClass('target');
        }
        else if (score === '1') {
          field.val('1');
          field.addClass('acceptable');
        }
        else if (score === '0') {
          field.val('0');
          field.addClass('unacceptable');
        }
        else if (score === '3' || score === 'N') {
          field.val('N');
          field.addClass('no_evidence');
        }
        else {
          field.val('');
        }
        field.parents('form').attr('data-changed', true);
      }
    });
  </script>
<% end %>

<% content_for(:box1) do %>

  <%=bootstrap_form_for :filter, :url => kapa_course_path(:id => @course), :html => {:method => :get}  do |f| %>
    <h4 class="section-header">
      <%=link_to "", {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
      <%=@course.name %> - <%=@course.term_desc %>
    </h4>
    <div class="row">
      <div class="col-sm-6">
        <%=f.select :assessment_rubric_id, @assessment_rubrics.collect {|r| [r.title, "0#{r.id}"]}, {:label => "Assessment"}, {:minWidth => 500}%>
      </div>
    </div>
  <% end %>

  <%=bootstrap_form_for(:course, :url => kapa_course_path(:id => @course), :html => {:method => :put}) do %>
    <%=render :partial => "table" %>
    <%=render :layout => "/kapa/layouts/controls" do %>
      <%=button_to_link "Download", {:action => :show, :id => @course, :format => :file}, :icon => "glyphicon-download" %>
    <% end if @current_user.write? %>
  <% end %>
<% end %>
