<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      <% if @modal %>$('#filter_dialog').modal({show : true});<% end %>
      // $('#open_dialog').click(function() {jQuery('#dialog').dialog('open');});
    });
  </script>
<% end %>

<% content_for(:dialog) do %>

  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "filter_dialog", :modal_title => "Filter Criteria", :modal_form_id => "filter_form"} do %>
    <%=bootstrap_form_for(:filter, :url => kapa_practicum_sites_path, :html => {:method => :get, :id => "filter_form"}) do |f| %>
      <%=f.text_field :name %>
      <%=f.property_select :district, :include_blank => "Any" %>
      <%=f.property_select :area_group, :include_blank => "Any", :label => "Area" %>
      <%= f.select :per_page, [10, 20, 30, 40, 50], :selected => @per_page_selected %>
    <% end %>
  <% end %>

  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "import_dialog", :modal_title => "Import School Data", :modal_form_id => "import_site_form"} do %>
    <%=bootstrap_form_for(:data, :url => import_kapa_practicum_sites_path, :html => {:multipart => true, :id => "import_site_form"}) do |f|%>
      <%=f.file_field :import_file %>
    <% end %>
  <% end %>

<% end %>

<% content_for(:box1) do %>

  <h3>Schools</h3>

  <div class="row">
    <div class="col-sm-12 text-right">
      <%=link_to "New", {:action => :new}, :class => "btn btn-default" if @current_user.manage? :practicum, :delegate => :maintain %>
      <% if @current_user.manage? :practicum, :delegate => :import %>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#import_dialog">Import</button>
      <% end %>
      <%=link_to "Download", {:action => :export}, :class => "btn btn-default" if @current_user.manage? :practicum, :delegate => :export %>
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#filter_dialog">Filter</button>
    </div>
  </div>

  <table id="site_list" class="table table-striped">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>District</th>
        <th>Area</th>
        <th>Type</th>
        <th>Grades</th>
        <th>Placements</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for practicum_site in @practicum_sites %>
        <tr>
          <td><%=h practicum_site.code %></td>
          <td><%=abbr practicum_site.name, practicum_site.name_short %></td>
          <td><%=h practicum_site.district %></td>
          <td><%=h practicum_site.area %></td>
          <td><%=h practicum_site.category %></td>
          <td><%=h practicum_site.grades %></td>
          <td><%#=h practicum_site.practicum_placements.length.to_i # TODO %></td>
          <td class="right"><%=link_to "Show", kapa_practicum_site_path(:id => practicum_site), :class => "btn btn-default btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center"><%=will_paginate @practicum_sites, :renderer => BootstrapPagination::Rails %></div>

<% end %>
