<% content_for(:box1) do %>

  <h4 class="section-header">
    <%=link_to "", {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
    <%=h @practicum_site.name%>
  </h4>

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li class="<%='active' if params[:focus] == 'site_profile' || params[:focus].nil? %>"><a href="#site_profile_tab" data-toggle="tab">Profile</a></li>
      <li class="<%='active' if params[:focus] == 'site_contact' %>"><a href="#site_contact_tab" data-toggle="tab">Contact</a></li>
      <li class="<%='active' if params[:focus] == 'mentors' %>"><a href="#mentors_tab" data-toggle="tab">Mentors</a></li>
      <li class="<%='active' if params[:focus] == 'placements' %>"><a href="#placements_tab" data-toggle="tab">Placements</a></li>
    </ul>

    <div class="tab-content">
      <div id="site_profile_tab" class="tab-pane<%=' active' if params[:focus] == 'site_profile' || params[:focus].nil? %>">
        <%=bootstrap_form_for :practicum_site, :url => kapa_practicum_site_path(:id => @practipracticum_site), :html => {:method => :put} do |f|%>
          <%=render :partial => "/kapa/practicum/site_form", :locals => {:f => f}%>
          <br/>
          <%=render :partial => "/kapa/layouts/controls" if @current_user.manage?(:practicum, :delegate => :maintain) %>
        <% end %>
      </div>

      <div id="site_contact_tab" class="tab-pane<%=' active' if params[:focus] == 'site_contact' %>">
        <%=bootstrap_form_for :practicum_site, :url => kapa_practicum_practicum_site_path(@practicum_site, :focus => :site_contact), :remote => true, :html => {:method => :put}  do |f|%>
          <%=render :partial => "/kapa/practicum/site_contact_form" %>
          <br/>
          <%=render :partial => "/kapa/layouts/controls" if @current_user.manage?(:practicum, :delegate => :maintain) %>
        <% end %>
      </div>

      <div id="mentors_tab" class="tab-pane<%=' active' if params[:focus] == 'mentors' %>">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>E-Mail</th>
              <th>Placements</th>
            </tr>
          </thead>
          <tbody>
            <% for mentor in @mentors %>
              <tr>
                <td><%=h mentor.full_name %></td>
                <td><%=mail_to mentor.contact.email if mentor.contact%></td>
                <td><%=h mentor.practicum_assignments.length.to_i %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div id="placements_tab" class="tab-pane<%=' active' if params[:focus] == 'placements' %>">
        <table id="placement_list" class="table table-striped">
          <thead>
            <tr>
              <th>Semester</th>
              <th>ID</th>
              <th>Name</th>
              <th>Mentor</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for practicum_placement in @practicum_placements %>
              <tr>
                <td><%=practicum_placement.term_desc %></td>
                <td><%=practicum_placement.person.id_number %></td>
                <td><%=abbr practicum_placement.person.full_name%></td>
                <td><%=h practicum_placement.mentor.full_name %></td>
                <td class="right"><%=link_to "Show", kapa_practicum_placement_path(:id => practicum_placement.practicum_placement, :focus => :mentors) if practicum_placement.practicum_placement.practicum_profile.coordinator?(@current_user) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<% end %>
