<%=bootstrap_fields_for :user_assignment do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <%=f.user_select :user_id, {:selected => @user_assignment.user_id}, {:class => "search-select"} %>
      <%=f.property_select :task %>
      <%=f.datetime_picker :due_at %>
      <%=f.hidden_field :assignable_type %>
      <%=f.hidden_field :assignable_id %>
    </div>
    <div class="col-sm-6">
    </div>
  </div>
<% end %>
