<% content_for(:dialog) do %>

  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "filter_dialog", :modal_title => "Search", :modal_form_id => "filter_form"} do %>
    <%=bootstrap_form_for(:filter, :url => kapa_properties_path, :html => {:method => :get, :id => "filter_form"}) do |f| %>
      <%=f.history_select :name, {:model_class => Kapa::Property, :model_method => :name, :label => "Property"}, {:class => "search-select"} %>
      <%=f.select :active, [["Active", "1"], ["In-Active", "0"]], :include_blank => "Any" %>
      <%=f.select :per_page, Rails.configuration.items_per_page_selections %>
    <% end %>
  <% end %>

<% end %>

<% content_for(:box1) do %>

  <h3>Properties</h3>

  <div class="row">
    <div class="col-sm-12 text-right">
      <%=button_to_link "New", {:action => :new}, :icon => "glyphicon-plus" if create? %>
      <%=button_to_link "Download", {:action => :export}, :icon => "glyphicon-download" %>
      <%=button_to_link "Search", nil, "data-toggle" => "modal", "data-target" => "#filter_dialog", :icon => "glyphicon-search" %>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Property</th>
      <th>Key</th>
      <th>Value</th>
      <th>Category</th>
      <th>Sequence</th>
      <th>Active</th>
      <th><%=t(:kapa_global_dept).pluralize %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% for property in @properties %>
      <tr>
        <td><%=property.name %></td>
        <td><%=property.code %></td>
        <td><%=property.description %></td>
        <td><%=abbr property.category, 20 %></td>
        <td><%=property.sequence %></td>
        <td><%=property.active %></td>
        <td><%=property.depts_desc %></td>
        <td class="right"><%=button_to_link "", {:action => :show, :id => property}, :icon => "glyphicon-chevron-right", :class => "btn-default btn-xs pull-right" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="text-center"><%=will_paginate @properties, :renderer => BootstrapPagination::Rails %></div>

<% end %>
