<% content_for(:title) do %>
  <%=@case.case_number %>: <%=@case.case_name %>
<% end %>

<% content_for(:box1) do %>
  <h4 class="section-header divider">
    <%= link_to "", kapa_case_path(:id => @case, :anchor => "case_incidents"), :class => "glyphicon glyphicon-chevron-left" %>
    <%=@case.case_number %> Incident
  </h4>
  <%=bootstrap_form_for :case_incident, :url => kapa_case_incident_path(:id => @case_incident, :anchor => :case_incidents), :html => {:method => :put} do |f| %>
    <%=render :partial => "case_incident_form" %>
    <%=render :partial => "/kapa/layouts/controls", :locals => {:delete_path => kapa_case_incident_path(:id => @case_incident, :anchor => :case_incidents)} if @current_user.write? %>
  <% end %>
<%end%>