<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function ($) {
    });
  </script>
<% end %>

<% content_for(:box1) do %>
  <%= render :partial => "/main/person_detail" %>

  <h4>Transition Point/<%= ApplicationProperty.lookup_description(:transition_point, @transition_point.type) %> <%= link_to image_tag("/images/icons/form.png"), artifact_forms_path(:action => :show, :id => @transition_point.form_id), {:target => "_blank"} if @transition_point.form_id %></h4>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#curriculum_tab" data-toggle="tab">Curriculum</a></li>
    <li><a href="#transition_point_tab" data-toggle="tab">Application</a></li>
    <li><a href="#assessment_tab" data-toggle="tab">Assessment</a></li>
    <li><a href="#action_tab" data-toggle="tab">Actions</a></li>
  </ul>

  <div class="tab-content">
    <div id="curriculum_tab" class="tab-pane active">
      <%= label_form_for :curriculum, :url => main_curriculum_path(:id => @curriculum), :remote => true, :html => {:method => :put}  do %>
        <%= render :partial => "/main/curriculum_form" %>
        <%= controls if @current_user.write?(:main) %>
      <% end %>
    </div>

    <div id="transition_point_tab" class="tab-pane">
      <%= label_form_for :transition_point, :url => main_transition_point_path(:id => @transition_point, :focus => "transition_point"), :remote => true, :html => {:method => :put}  do %>
        <%= render :partial => "/main/transition_point_form" %>
        <%= controls do %>
          <%= button_to_function "Move", nil, :id => "open_dialog" if @current_user.manage? %>
        <% end if @current_user.write?(:main) %>
      <% end %>
    </div>

    <div id="assessment_tab" class="tab-pane">
      <h5>
        <%= form_for :filter, :url => main_transition_point_url(:id => @transition_point, :focus => :course), :html => {:method => :get}  do |f| %>
          <%= f.select(:assessment_rubric_id, @assessment_rubrics.collect { |r| [r.title, "0#{r.id}"] }, {}, {:minWidth => "600"}) %>
        <% end %>
      </h5>
      <%= label_form_for :assessment_score, :url => {:action => :update, :id => params[:id]}, :remote => true do |f| %>
        <%= render :partial => "/main/assessment_form" %>
        <%= controls if @current_user.write?(:main) %>
      <% end %>
    </div>

    <div id="action_tab" class="tab-pane">
      <div class="panel-group" id="accordion">

        <%@transition_actions.each_with_index do |transition_action, index| %>
          <%@transition_action = transition_action %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#transition_action_<%=@transition_action.id %>"><span class="strong"><%= format_date @transition_action.action_date %>
                  - <%= h @transition_action.action_desc %> <%= h @transition_action.action_specify %></span></a>
              </h3>
            </div>
            <div id="transition_action_<%=@transition_action.id %>" class="panel-collapse collapse<%=' in' if index == 0 %>">
              <div class="panel-body">
                <%= label_form_for :transition_action, :url => main_transition_action_path(:id => @transition_action, :focus => :action), :remote => true, :html => {:method => :put}  do %>
                  <%= render :partial => "/main/transition_action_form" %>
                  <%= controls do %>
                    <%# TODO: link_to_button method is undefined %>
                    <%# TODO: delete method is undefined %>
                    <%#= link_to_button "Delete", main_transition_action_path(:id => @transition_action, :focus => :action), {:method => :delete, "data-confirm" => "Are you sure?"} %>
                  <% end if @current_user.write?(:main) %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#new_transition_action"><span class="new">New Action </span></a>
            </h3>
          </div>

          <div id="new_transition_action" class="panel-collapse collapse<%=' in' if @transition_actions.length == 0 %>">
            <div class="panel-body">
              <% @transition_action = @transition_point.transition_actions.build(:user_id => @current_user.id, :action_date => Date.today) %>
              <%= label_form_for :transition_action, :url => main_transition_actions_path(:id => @transition_point, :focus => :action), :remote => true do %>
                <%= render :partial => "/main/transition_action_form" %>
                <%= controls if @current_user.write?(:main) %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <%= link_to "Back", main_persons_path(:action => :show, :id => @transition_point.curriculum.person_id, :focus => :curriculum) %>

  <div id="dialog" class="form-dialog" title="Move Transition Point to Different Curriculum">
    <%= label_form_for(:transition_point, :url => main_transition_point_path(:id => @transition_point, :focus => :curriculum), :remote => true, :html => {:method => :put} ) do |t| %>
      <%= t.select :curriculum_id, @curriculums.collect { |c| ["#{c.code_desc} - #{c.academic_period_desc}", c.id] }, :label => "Program" %>
    <% end %>
  </div>

<% end %>
