<%=bootstrap_fields_for "form_field" do |f| %>
  <%=f.hidden_field :form_template_id %>
  <div class="row">
    <div class="col-sm-6">
      <%=f.text_field :criterion, :label => "Criterion Label" %>
      <%=f.text_area  :criterion_desc, :size => "35x10", :label => "Criterion Description" %>
    </div>

    <div class="col-sm-6">
      <%=f.text_field :standard %>
      <%=f.select :type, [["Default", "default"], ["Select", "select"], ["Text Field", "text"]], {:label => "Score Type"} %>
      <%=f.text_field :type_option, :label => "Score Type Option" %>
    </div>
  </div>
<% end %>
