<% content_for(:dialog) do %>

  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "filter_dialog", :modal_title => "Search", :modal_form_id => "filter_form"} do %>
    <%=bootstrap_form_for(:filter, :url => kapa_form_templates_path, :html => {:method => :get, :id => "filter_form"}) do |f| %>
      <%=f.text_field :title %>
      <%=f.select :per_page, Rails.configuration.items_per_page_selections %>
    <% end %>
  <% end %>

<% end %>

<% content_for(:box1) do %>

  <h3>Form Templates</h3>

  <div class="row">
    <div class="col-sm-12 text-right">
      <%=button_to_link "New", {:action => :new}, :icon => "glyphicon-plus" %>
      <%=button_to_link "Search", nil, "data-toggle" => "modal", "data-target" => "#filter_dialog", :icon => "glyphicon-search" %>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Type</th>
        <th>Title</th>
        <th>Fields</th>
        <th><%=t(:kapa_global_dept) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for form_template in @form_templates %>
        <tr>
          <td><%=form_template.type.to_s.capitalize %></td>
          <td><%=abbr form_template.title, 50 %></td>
          <td><%=form_template.form_fields.length.to_i %></td>
          <td><%=form_template.dept.join(", ") %></td>
          <td class="right"><%=link_to "Show", {:action => :show, :id => form_template}, :class => "btn btn-default btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center"><%=will_paginate @form_templates, :renderer => BootstrapPagination::Rails %></div>

<% end %>
