<% content_for(:box1) do %>

  <h4 class="section-header">
    <%=link_to "", {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
    <%=@form_template.title %>
  </h4>

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li><a href="#rubric_profile_tab" data-toggle="tab">Profile</a></li>
      <li><a href="#fields_tab" data-toggle="tab">Criteria</a></li>
    </ul>

    <div class="tab-content">
      <div id="rubric_profile_tab" class="tab-pane">
        <%=bootstrap_form_for :form_template, :url => kapa_form_template_path(:id => @form_template), :html => {:method => :put} do |f| %>
          <%=render :partial => "template_form", :locals => {:f => f} %>
          <%=render :partial => '/kapa/layouts/controls', :locals => {:delete_path => kapa_form_template_path(:id => @form_template)} if @current_user.write? %>
        <% end %>
      </div>

      <div id="fields_tab" class="tab-pane">
        <div id="accordion" class="panel-group">
          <% @form_fields.each_with_index do |form_field, index| %>
            <% @form_field = form_field %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#form_field_<%=@form_field.id %>"><span class="strong"><%=@form_field.label %></span></a>
                </h3>
              </div>
              <div id="form_field_<%=@form_field.id %>" class="panel-collapse collapse<%=' in' if params[:field_panel] == form_field.id.to_s || (params[:field_panel].nil? && index == 0) %>">
                <div class="panel-body">
                  <%=bootstrap_form_for :form_field, :url => kapa_form_field_path(:id => @form_field, :anchor => :fields, :field_panel => form_field.id), :html => {:method => :put} do |f| %>
                    <%=render :partial => "field_form" %>
                    <%=render :partial => '/kapa/layouts/controls', :locals => {:delete_path => kapa_form_field_path(:id => @form_field, :anchor => :fields)} if @current_user.write? :kapa_form_fields %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#new_form_field"><span class="new">New Criterion</span></a>
              </h3>
            </div>
            <div id="new_form_field" class="panel-collapse collapse<%=' in' if @form_fields.length == 0 %>">
              <div class="panel-body">
                <% @form_field = @form_template.form_fields.build %>
                <%=bootstrap_form_for :form_field, :url => kapa_form_fields_path(:form_template_id => @form_template, :anchor => :fields) do |f| %>
                  <%=render :partial => "field_form" %>
                  <%=render :partial => "/kapa/layouts/controls" if @current_user.write? :kapa_form_fields %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div id="preview_tab">
      </div> -->
    </div>

  </div>

<% end %>