<% content_for(:box1) do %>

  <h4 class="section-header">
    <%=link_to "", session[:return_path], :class => "glyphicon glyphicon-chevron-left" %>
    <%=@form_template.title %>
  </h4>

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li><a href="#rubric_profile_tab" data-toggle="tab">Profile</a></li>
      <% if @form_template.type == "simple" %><li><a href="#fields_tab" data-toggle="tab">Fields</a></li><% end %>
    </ul>

    <div class="tab-content">

      <div id="rubric_profile_tab" class="tab-pane">
        <%=bootstrap_form_for :form_template, :url => kapa_form_template_path(:id => @form_template), :html => {:method => :put} do |f| %>
          <%=render :partial => "template_form", :locals => {:f => f} %>
          <% more_actions = [] %>
          <% more_actions << link_to("Delete", kapa_form_template_path(:id => @form_template, :return_path => session[:return_path]), :method => :delete, "data-confirm" => "Are you sure you want to delete?") if destroy? %>
          <%=render :partial => "/kapa/layouts/controls", :locals => {:more_actions => more_actions} if update? %>
        <% end %>
      </div>

      <div id="fields_tab" class="tab-pane">

        <div id="accordion" class="panel-group">
          <% @form_template_fields.each_with_index do |form_template_field, index| %>
            <% @form_template_field = form_template_field %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#form_template_field_<%=@form_template_field.id %>"><span class="strong"><%=@form_template_field.label %></span> - <%=@field_selections[@form_template_field.type.to_sym] %></a>
                </h3>
              </div>
              <div id="form_template_field_<%=@form_template_field.id %>" class="panel-collapse collapse">
                <div class="panel-body">
                  <%=bootstrap_form_for :form_template_field, :url => kapa_form_template_field_path(:id => @form_template_field, :anchor => :fields, :field_panel => form_template_field.id), :html => {:method => :put} do |f| %>
                    <%=render :partial => "field_form" %>
                    <%=render :partial => '/kapa/layouts/controls', :locals => {:delete_path => kapa_form_template_field_path(:id => @form_template_field, :anchor => :fields)} if update?(:kapa_form_template_fields) %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#new_form_template_field"><span class="new">New Field</span></a>
              </h3>
            </div>
            <div id="new_form_template_field" class="panel-collapse collapse<%=' in' if @form_template_fields.length == 0 %>">
              <div class="panel-body">
                <% @form_template_field = @form_template.form_template_fields.build %>
                <%=bootstrap_form_for :form_template_field, :url => kapa_form_template_fields_path(:form_template_id => @form_template, :anchor => :fields) do |f| %>
                  <%=render :partial => "field_form" %>
                  <%=render :partial => "/kapa/layouts/controls" if update? :kapa_form_template_fields %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- <div id="preview_tab">
      </div> -->
    </div>

  </div>

<% end %>