<%= bootstrap_fields_for :award do |f| %>

  <div class="col-sm-6">
    <%= f.text_field :name, :label => "Award Name" %>

    <div class="form-group">
      <%= label_tag "award_award_date", "Award Date" %>
      <%= date_picker :award, :award_date %>
    </div>

    <%= f.text_field :affiliation, :label => "Affiliation" %>
    <span id="affiliation_help" class="help-block">
      Organization making the award
    </span>

    <%= f.select :context, [["University", "university"], ["Professional", "professional"], ["Community", "community"]], :label => "Context" %>
    <%= f.text_field :url, :label => "Award URL" %>
    <span id="affiliation_help" class="help-block">
      Link to information about the award
    </span>

  </div>

  <div class="col-sm-6">
    <% if @award && @award.image.exists? %>
      <p>
        You have already uploaded an image named <strong><%= @award.image_file_name %></strong>. To replace it, choose a new file below.
      </p>
    <% end %>
   <%= f.file_field :image, :label => "Image" %>
    <span id="thumbnail_help" class="help-block">
      <p>
        Descriptive image for web site presentation (.jpg, .gif, or .png).
      </p>
      </p>
    </span>
    <%= f.text_area :description, {:label => "Awarding organization's description of the award", :rows => 6} %>
    <%= f.select :public, [["Yes", "Y"], ["No", "N"]], {:label => "Display publicly"} %>
    <%= f.hidden_field :person_id  %>
  </div>

<% end %>