<% content_for(:dialog) do %>

  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "filter_dialog", :modal_title => "Search", :modal_form_id => "filter_form"} do %>
    <%=bootstrap_form_for(:filter, :url => kapa_faculty_awards_path, :html => {:method => :get, :id => "filter_form"}) do |f| %>
      <%=f.text_field :name, :label => "Award Name" %>
      <%=f.text_field :affiliation, :label => "Affiliation" %>
      <%=f.select :context, [["University", "university"], ["Professional", "professional"], ["Community", "community"]], :label => "Context", :include_blank => "Any" %>
      <%=f.date_picker :award_date_start, :label => "Award Date Start" %>
      <%=f.date_picker :award_date_end, :label => "Award Date End" %>
      <%=f.select :per_page, Rails.configuration.items_per_page_selections %>
    <% end %>
  <% end %>

<% end %>

<% content_for(:box1) do %>

  <h3>Awards</h3>

  <div class="row">
    <div class="col-sm-12 text-right">
      <%=button_to_link "Download", {:action => :export}, :icon => "glyphicon-download" %>
      <%=button_to_link "Search", nil, "data-toggle" => "modal", "data-target" => "#filter_dialog", :icon => "glyphicon-search" %>
    </div>
  </div>

  <table id="advising_list" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Award Name</th>
        <th>Affiliation</th>
        <th>Context</th>
        <th></th>
      </tr>
    </thead>
      <% for award in @awards %>
        <tr>
          <td><%=award.person.id_number if award.person %></td>
          <td><%=link_to abbr(award.person.full_name), kapa_person_path(:id => award.person) if award.person %></td>
          <td><%=abbr award.name, 25 %></td>
          <td><%=abbr award.affiliation, 25 %></td>
          <td><%=award.context %></td>
          <td class="right"><%=link_to "Show", kapa_faculty_award_path(:id => award), :class => "btn btn-default btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center"><%=will_paginate @awards, :renderer => BootstrapPagination::Rails %></div>

<% end %>
