<% content_for(:box1) do %>
  <%= render :partial => "/kapa/persons/person_detail" %>

  <h4 class="section-header divider">
    <%= link_to "", kapa_person_path(:id => @person), :class => "glyphicon glyphicon-chevron-left" %>
    Award
  </h4>

  <div class="row">
    <%= bootstrap_form_for :award, :url => kapa_faculty_award_path(:id => @award), :html => {:method => :put, :multipart => true} do |f| %>
      <%= render :partial => "award_form", :locals => {:f => f} %>
      <%= render :partial => "/kapa/layouts/controls" if @current_user.write? %>
    <% end %>
  </div>
<% end %>
