<%
 if @current_user
   menu_items = {}
   menu_items["Document"] = []
   menu_items["Document"].push ["Files", kapa_files_path] if @current_user.read?(:kapa_files)
   menu_items["Document"].push ["Forms", kapa_forms_path] if @current_user.read?(:kapa_forms)
   menu_items["Document"].push ["Text Documents", kapa_texts_path] if @current_user.read?(:kapa_texts)
   menu_items["Document"].push ["Text Docs", kapa_texts_path] if @current_user.read?(:kapa_texts)
   menu_items["Messaging"] = []
   menu_items["Messaging"].push ["Messages", kapa_messages_path] if @current_user.read?(:kapa_messages)
   menu_items["Messaging"].push ["Bulk Messages", kapa_bulk_messages_path] if @current_user.read?(:kapa_bulk_messages)
   menu_items["Messaging"].push ["Contact Lists", kapa_contact_lists_path] if @current_user.read?(:kapa_contact_lists)
   menu_items["Administration"] = []
   menu_items["Administration"].push ["Form Builder", kapa_form_templates_path] if @current_user.manage?(:kapa_form_templates)
   menu_items["Administration"].push ["Text Doc Templates", kapa_text_templates_path] if @current_user.manage?(:kapa_text_templates)
   menu_items["Administration"].push ["Message Templates", kapa_message_templates_path] if @current_user.manage?(:kapa_message_templates)
   menu_items["Administration"].push ["Properties", kapa_properties_path] if @current_user.manage?(:kapa_properties)
   menu_items["Administration"].push ["Users", kapa_users_path] if @current_user.manage?(:kapa_users)
 end
%>

<div class="navbar-collapse collapse navbar-responsive-collapse">
  <% if @current_user %>
    <ul class="nav navbar-nav">
      <% menu_items.each_pair do |menu, items| %>
        <% if items.present? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=menu %><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% for item in items %>
                <%=content_tag :li, link_to(item[0], item[1]) %>
              <% end %>
            </ul>
          </li>
        <% end %>
      <% end %>
      <%=bootstrap_form_for(:filter, :url => kapa_persons_path, :html => {:method => :get, :class => "navbar-form navbar-left", :role => "search"}) do |f| %>
        <%=f.text_field :key, :label => :no, :placeholder => "Search Person", "data-toggle" => "tooltip", "data-placement" => "bottom", :title => "ID, Name, Email, or Phone" %>
        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      <% end if @current_user.read? :kapa_persons %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged in as
          <strong><%=@current_user.uid %></strong><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%=link_to "Logout", kapa_user_session_path, {:method => :delete} %></li>
        </ul>
      </li>
    </ul>
  <% end %>
</div>
