<div class="modal fade" id="<%=modal_id%>" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
  <div class="modal-dialog <%=modal_class if defined? modal_class %>">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modal_label"><%=modal_title%></h4>
      </div>
      <div class="modal-body">
        <%=yield%>
      </div>
      <div class="modal-footer">
        <button type="button" id="modal_close" class="btn btn-default" data-dismiss="modal">Close</button>
        <% if local_assigns[:modal_form_id] %>
          <button type="button" id="modal_submit" class="btn btn-primary" data-submit="#<%=modal_form_id%>">OK</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
