<% content_for(:box1) do %>

  <h3><%=@person.full_name %> - <%=@exam.report_date %></h3>
  <%= bootstrap_form_for :exam, :url => kapa_document_exam_path(:id => @exam), :html => {:method => :put} do %>
    <%= render :partial => "/kapa/document/#{@exam.type}_exam" %>
    <%= hidden_field :exam, :person_id %>
    <%= hidden_field :exam, :type %>
    <%= render :layout => "/kapa/layouts/controls", :locals => {:delete_path => kapa_document_exam_path(:id => @exam)} do %>
      <%=bootstrap_button "Setting", nil, "data-toggle" => "modal", "data-target" => "#edit_exam_dialog", :icon => "glyphicon-wrench" %>
    <% end if @current_user.write? %>
  <% end %>

  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "edit_exam_dialog", :modal_title => "Edit Test property", :modal_form_id => "edit_exam_form"} do %>
    <%= bootstrap_form_for(:exam, :url => kapa_document_exam_path(:id => @exam), :html => {:method => :put, :id => "edit_exam_form"}) do |f| %>
      <%= f.text_area :note, :text => "Note", :size => "5x7" %>
      <div class="row form-block">
        <div class="col-sm-4">
          <%= f.select :public, [["Share", "Y"], ["Do not share", "N"]], :text => "Share status" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
