<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      <% if @modal %>$('#filter_dialog').modal({show: true});
      <% end %>
    });
  </script>
<% end %>

<% content_for(:dialog) do %>

  <%= render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "filter_dialog", :modal_title => "Filter Criteria", :modal_form_id => "filter_form"} do %>
    <%= bootstrap_form_for(:filter, :url => kapa_course_offers_path, :html => {:method => :get, :id => "filter_form"}) do |f| %>
      <%= f.term_select :term_id, :include_blank => "Any", :label => "Term" %>
      <%= f.text_field :name, :label => "Filter (e.g., ITE317 or ITE317-001)" %>
      <%= f.select :per_page, [10, 20, 30, 40, 50], :selected => @per_page_selected %>
    <% end %>
  <% end %>

<% end %>

<% content_for(:box1) do %>

  <h3>Course Rosters (<%= @filter.term_id.present? ? Term.find(@filter.term_id).description : "Any Terms" %>)</h3>

  <div class="row">
    <div class="col-sm-12 text-right">
      <%= link_to "Download", {:action => :export}, :class => "btn btn-default" if @current_user.manage? :course, :delegate => :export %>
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#filter_dialog">Filter</button>
    </div>
  </div>

  <table id="course_list" class="table table-striped">
    <thead>
    <tr>
      <th>Course</th>
      <th>CRN</th>
      <th>Title</th>
      <th>Instructor</th>
      <th>Registration</th>
      <% if @current_user.manage? :course, :delegate => :export %>
        <th>Progress</th>
      <% end %>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% for course_offer in @course_offers %>
      <tr>
        <td><%= h course_offer.name %></td>
        <td><%= h course_offer.crn %></td>
        <td><%= h course_offer.title %></td>
        <td><%= h course_offer.instructor %></td>
        <td><%= h course_offer.course_registrations.length.to_i %></td>
        <% if @current_user.manage? :course, :delegate => :export %>
          <td><%= number_to_percentage course_offer.progress, :precision => 2 %></td>
        <% end %>
        <td class="right"><%= link_to "Show", kapa_course_offer_path(:id => course_offer), :class => "btn btn-default btn-xs" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="text-center"><%= will_paginate @course_offers, :renderer => BootstrapPagination::Rails %></div>

<% end %>
