<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      var lookup_person = function() {
          if($('#person_id_number').length && $('#person_id_number').val().length) {
            key = $('#person_id_number').val();
          }
          else {
            key = $('#person_email').val();
          }
          $.getJSON('<%=kapa_main_persons_lookup_path(:id => @person)%>',
                    {key: key},
                    function(data) {
                      if(data['person']) {
                         $('#person_id_number').val(data['person']['id_number']);
                         $('#person_email').val(data['person']['email']);
                         $('#person_last_name').val(data['person']['last_name']);
                         $('#person_first_name').val(data['person']['first_name']);
                         $('#person_status').val(data['person']['status']);
                      }
                      if(data['action'] == 'promote') {
                        alert('Person was verified with the external directory.  Please check the name and save this record.');
                      }
                      else if(data['action'] == 'merge') {
                        alert('This person already exists in this system.  You will be redirect to the person record.');
                        window.location.href = data['redirect_path']
                      }
                      else if(data['action'] == 'alert') {
                        $('#person_id_number').val('');
                        $('#person_email').val('');
                        alert('No record was found in the external directory. Please check ID or Email');
                      }
                     });
      }

      $('#lookup_btn').click(function() {
        lookup_person();
      });

      $('#submit_btn').click(function() {
        lookup_person();
        $('#person_form').submit();
      });
   });
  </script>
<%end%>

<% content_for(:box1) do %>

  <h4 class="section-header">
    <%=link_to "", {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
    New Person
  </h4>

  <%=bootstrap_form_for :person, :url => kapa_main_persons_path, :remote => true, :html => {:id => "person_form"} do %>
    <%=render :partial => "/kapa/main/person_form" %>
    <%=render :layout => "/kapa/layouts/controls"  do %>
      <%=link_to "Save", "javascript:void(0)", :class => "btn btn-default", :id => "submit_btn" %>
      <%=link_to "Lookup", "javascript:void(0)", :class => "btn btn-default", :id => "lookup_btn" %>
    <% end if @current_user.write? %>
  <% end %>

<% end %>

