<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      // Set active panel
      var focus = '<%=params[:focus]%>' || 'curriculum';
      $('#' + focus + '_detail').addClass('in');
      $("#curriculum_list > dd").first().addClass('in');
    });
  </script>
<% end %>

<% content_for(:box1) do %>
  <%=render :partial => "/kapa/main/person_detail", :locals => {:uri => {:action => :show, :id => @person}} %>

  <div class="panel-group" id="accordion">
    <% if @current_user.read?(:kapa_main_curriculums) %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#curriculum_detail">
            Programs (<%=@person.curriculums.length%>)
          </a>
        </h4>
      </div>
      <div id="curriculum_detail" class="panel-collapse collapse">
        <div class="panel-body">
          <p class="text-right"><%=bootstrap_button "New Program", new_kapa_main_curriculum_path(:id => @person), :icon => "glyphicon-plus" %></p>
            <dl id="curriculum_list">
            <% for curriculum in @curriculums %>
              <% journey = curriculum.deserialize(:journey, :as => OpenStruct) %>
              <dt>
                <h4><%=link_to("#{curriculum.code_desc}#{journey.active == 'Y' ? "*" : ""}", "#curriculum_detail_#{curriculum.id}", "data-toggle" => "collapse") %> <%=link_to "Show", kapa_main_curriculum_path(:id => curriculum), :class => "btn btn-default btn-xs" %></h4>
              </dt>
              <dd class="collapse" id="curriculum_detail_<%=curriculum.id%>">
                <table class="table table-hover">
                <tr>
                  <th>Term</th>
                  <th>Transition Point</th>
                  <th>Latest Action</th>
                  <th></th>
                </tr>
                <% for transition_point in curriculum.transition_points.eager_load(:last_transition_action, :term).order("terms.sequence DESC, transition_points.id DESC") %>
                  <tr>
                    <td><%=h transition_point.term_desc %></td>
                    <td><%=h transition_point.type_desc %></td>
                    <td><%=h transition_point.last_transition_action.action_desc if transition_point.last_transition_action %></td>
                    <td class="right"><%=link_to "Show", kapa_main_transition_point_path(:id => transition_point), :class => "btn btn-default btn-xs" %></td>
                  </tr>
                <% end %>
                </table>
              </dd>
            <% end %>
            </dl>
        </div>
      </div>
    </div>
    <% end %>

    <% if @current_user.read?(:kapa_document_files) %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#document_detail">
            Documents (<%=@documents.length%>)
          </a>
        </h4>
      </div>
      <div id="document_detail" class="panel-collapse collapse">
        <div class="panel-body">
          <p class="text-right">
            <%=bootstrap_button "New File", nil, "data-toggle" => "modal", "data-target" => "#document_dialog", :icon => "glyphicon-plus" %>
            <%=bootstrap_button "New Form", nil, "data-toggle" => "modal", "data-target" => "#form_dialog", :icon => "glyphicon-plus" %>
          </p>
          <table class="table table-hover">
           <tr>
             <th>Type</th>
             <th>Name</th>
             <th>Date</th>
             <th></th>
           </tr>
           <% @documents.sort_by {|d| d.created_at}.reverse_each do |d| %>
             <tr>
               <td><%=document_icon d%></td>
               <td><%=d.name%></td>
               <td><%=format_date d.date %></td>
               <td class="right"><%= link_to "Show", document_path(d), :target => "_blank", :class => "btn btn-default btn-xs" %></td>
             </tr>
           <% end %>
          </table>
        </div>
      </div>
    </div>
    <% end %>

    <% if @current_user.read?(:kapa_advising_sessions) %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#advising_detail">
            Advising (<%=@advising_sessions.length%>)
          </a>
        </h4>
      </div>
      <div id="advising_detail" class="panel-collapse collapse">
        <div class="panel-body">
          <p class="text-right"><%=bootstrap_button "New Advising Session", new_kapa_advising_session_path(:id => @person), :icon => "glyphicon-plus" %></p>
          <table class="table table-hover">
            <tr>
              <th>Date</th>
              <th>Type</th>
              <th>Task</th>
              <th>Note</th>
              <th></th>
            </tr>
            <% for advising_session in @advising_sessions %>
              <tr>
                <td><%=format_date advising_session.session_date %></td>
                <td><%=h advising_session.session_type.to_s.capitalize %></td>
                <td><%=h advising_session.task.to_s.capitalize %></td>
                <td><%=abbr advising_session.note, 30 %></td>
                <td class="right"><%=link_to "Show", kapa_advising_session_path(:id => advising_session), :class => "btn btn-default btn-xs" %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    <% end %>

    <% if @current_user.read?(:kapa_course_registrations) %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#course_detail">
            Courses (<%=@course_registrations.length%>)
          </a>
        </h4>
      </div>
      <div id="course_detail" class="panel-collapse collapse">
        <div class="panel-body">
          <p class="text-right"><%=bootstrap_button "New Course", new_kapa_course_registration_path(:id => @person), :icon => "glyphicon-plus" %></p>
          <table class="table table-hover">
            <tr>
              <th>Term</th>
              <th>Name</th>
              <th>Title</th>
              <th>Instructor</th>
              <th></th>
            </tr>
            <% for course_registration in @course_registrations %>
              <tr>
                <td><%=h "#{course_registration.term_desc}" %></td>
                <td><%=h "#{course_registration.course_offer.name}" %></td>
                <td><%=abbr "#{course_registration.course_offer.title}", 50 %></td>
                <td><%=abbr "#{course_registration.course_offer.instructor}", 50 %></td>
                <td class="right"><%=link_to "Show", kapa_course_registration_path(:id => course_registration), :class => "btn btn-default btn-xs" %></td>
              </tr>
            <% end %>
        </table>
        </div>
      </div>
    </div>
    <% end %>

    <% if @current_user.read?(:kapa_practicum_placements) %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#practicum_detail">
            Placements (<%=@practicum_placements.length%>)
          </a>
        </h4>
      </div>
      <div id="practicum_detail" class="panel-collapse collapse">
        <div class="panel-body">
          <p class="text-right"><%=bootstrap_button "New Placement", new_kapa_practicum_placement_path(:id => @person), :icon => "glyphicon-plus" %></p>
          <table class="table table-hover">
            <tr>
              <th>Term</th>
              <th>Site</th>
              <th>Mentor</th>
              <th>Status</th>
              <th></th>
            </tr>
            <% for practicum_placement in @practicum_placements %>
              <tr>
                <td><%=practicum_placement.term_desc %></td>
                <td><%=practicum_placement.practicum_site.name if practicum_placement.practicum_site.present? %></td>
                <td><%=practicum_placement.mentor_person_id %></td>
                <td><%=practicum_placement.status %></td>
                <td class="right"><%=link_to "Show", kapa_practicum_placement_path(:id=> practicum_placement), :class => "btn btn-default btn-xs" %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    <% end %>

  </div>
<% end %>
