<% content_for(:dialog) do %>

<% end %>

<% content_for(:box1) do %>

  <h3>Bulk Messages</h3>

  <div class="row">
    <div class="col-sm-12 text-right">
      <%=button_to_link "New", {:action => :new}, :icon => "glyphicon-plus" %>
      <%=button_to_link "Download", {:action => :export}, :icon => "glyphicon-download" %>
      <%=button_to_link "Search", nil, "data-toggle" => "modal", "data-target" => "#filter_dialog", :icon => "glyphicon-search" %>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @bulk_messages.each do |bulk_message| %>
        <tr>
          <td><%=abbr bulk_message.name, 30 %></td>
          <td><%=bulk_message.status %></td>
          <td class="right"><%=link_to "Show", {:action => :show, :id => bulk_message}, :class => "btn btn-default btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
