<%=bootstrap_fields_for :course do |c| %>
  <div class="row">
    <div class="col-sm-6">
      <%=c.term_select :term_id, {:label => "Term"}, :disabled => true %>
      <%=c.text_field :name, :disabled => true  %>
      <%=c.text_field :crn, :disabled => true  %>
      <%=c.text_field :title, :disabled => true  %>
      <%=c.text_field :instructor, :disabled => true %>
      <%=c.text_field :status, :disabled => true  %>
    </div>
  </div>
<% end %>