<% content_for(:dialog) do %>
  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "change_program_dialog", :modal_title => "Change Program", :modal_form_id => "change_program_form"} do %>
    <%=bootstrap_form_for(:curriculum, :url => kapa_curriculum_path(:id => @curriculum), :html => {:method => :put, :id => "change_program_form"}) do |t| %>
      <%=t.program_select :program_id, :value => :id, :depts => @current_user.depts, :label => "Program" %>
    <% end %>
    <p>Changing academic program will reset major, distribution, location, and track options to default values.</p>
  <% end %>
<% end %>

<%=bootstrap_fields_for :curriculum do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group"><%=label :program, :description, "Program" %>
        <p class="form-control-static"><span><%=@program.description %></span>
          <% if @current_user.manage? %>
            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#change_program_dialog"><span class="glyphicon glyphicon-pencil"></span></button>
          <% end %>
        </p>
      </div>
      <%=f.property_select :second_degree, {:include_blank => true} %>
      <%=f.property_select :major_primary, {:name => :major, :label => "Primary Major/Concentration", :include_code => true, :program => @program} %>
      <%=f.property_select :major_secondary, {:name => :major, :label => "Secondary Major/Concentration", :include_code => true, :include_blank => true} %>
      <%=f.static :cohort, :content => @curriculum.cohort %>
    </div>

    <div class="col-sm-6">
      <%=f.property_select :track, {:include_blank => true, :program => @program} %>
      <%=f.property_select :distribution, {:label =>"Program Distribution", :program => @program} %>
      <%=f.property_select :location, {:include_blank => true, :label =>"Program Location"} %>
      <%=f.user_select :user_ids, {:label => t(:kapa_global_user_ids)}, {:multiple => true} %>
    </div>
  </div>
  <%=f.hidden_field :person_id %>
<% end %>
