<% content_for(:box1) do %>
  <h4 class="section-header">
    <%=link_to "", {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
    <%=h @term.description %>
  </h4>

  <div>
    <%=bootstrap_form_for :term, :url => kapa_admin_term_path(:id => @term), :remote => true, :html => {:method => :put} do %>
      <%=render :partial => "/kapa/admin/term_form" %>
      <%=render :partial => '/kapa/layouts/controls', :locals => {:delete_path => kapa_admin_term_path(:id => @term)} if @current_user.write? %>
    <% end %>
  </div>
<% end %>
