<% label_fields_for(:mentor) do |p|%>
  <%=hidden_field_tag :id, params[:practicum_assignment_id] %>
  <%=hidden_field_tag :practicum_placement_id, params[:practicum_placement_id] %>
  <%=hidden_field_tag :person_id, params[:person_id] %>
  <table>
    <tr>
      <td>
        <%=p.text_field :last_name, :tabindex => 1 %>
        <%=p.text_field :email, :tabindex => 3 %>
      </td>
      <td>
        <%=p.text_field :first_name, :tabindex => 2 %>
      </td>
    </tr>
  </table>
<% end %>
