<%= label_fields_for :practicum_profile do |p| %>
  <table>
    <tr>
      <td width="33%">
        <%=p.select :curriculum_id, @curriculums.collect {|c| ["#{c.code} - #{c.academic_period_desc}", c.id]}, :include_blank => true, :label => {:text => "Program"} %>
        <%=p.history_select :cohort, :include_blank => true  %>
        <%=p.hidden_text_area :note, :size => "35x10" %>
      </td>
      <td width="33%">
        <%=p.history_select :bgc, :label => "Fingerprint" ,:include_blank => true %>
        <%=p.date_picker :bgc_date, :label => "Fingerprint date" %>
        <%=p.history_select :insurance ,:include_blank => true  %>
        <%=p.text_field :insurance_effective_period, :size => 10 %>
      </td>
      <td width="33%">
        <%= label_fields_for :practicum_profile_ext do |practicum_profile_ext| %>
          <%=practicum_profile_ext.select "off_sequence", [["Yes", "Y"]], :label => "Off Sequence" ,:include_blank => "No" %>
          <% ["ite401", "ite402", "ite404", "ite405"].each do |c| %>
            <%=practicum_profile_ext.property_select "#{c}", :name => :academic_period, :label => "#{c} completed semester" ,:include_blank => true %>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>
  <%=p.hidden_field :person_id %>
<% end %>
