<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $('#filter_key').mouseover(function() {
        if($(this).val() == 'Please enter key...') $(this).val('');
      });
    });
  </script>
<% end %>

<% content_for(:box1) do %>

  <h4>Search Person</h4>
  <%=form_tag :action => :list do %>
    <label for="filter_key">UH ID, Email, or Name:</label>
    <%=text_field :filter, :key %>
    <%=submit_tag "Show" %>
  <% end %>
  <h6 class="notice">If you are adding a new student, you need to search with 8-digit UH ID or UH E-mail address.</h6>
<% end %>


<% content_for(:box2) do %>

  <table width="100%">
    <tr>
      <th>UH ID</th>
      <th>Name</th>
      <th>Other Names</th>
      <th>Email</th>
    </tr>
  
    <% for person in @persons %>
      <% if person.new_record? %>
      <tr class="new">
        <td><%=h person.id_number %></td>
        <td><%=h person.full_name %></td>
        <td></td>
        <td><%=mail_to person.email %></td>
        <td><%=link_to_unless person.id_number.blank?, "Add", :action => :create, :mode => :promote, "person[id_number]" => person.id_number %></td>
      </tr>
      <% else %>
      <tr>
        <td><%=link_to_id_number person %></td>
        <td><%=h person.full_name %></td>
        <td><%=abbr person.other_name, 30 %></td>
        <td><%=mail_to person.email %></td>
        <td class="right"><%=link_to "Show", :action => :show, :id => person %></td>
      </tr>
      <% end %>
    <% end %>
  </table>
 
  <br />

  <h6 class="notice"><%=flash[:notice] %> If you can't find the person, you may manually enter from <%=link_to_if @current_user.write?, "here", :action => :new %>.</h6>

<% end %>
