<% content_for(:box1) do %>

  <%=render :partial => "/main/person_detail", :locals => {:uri => {:action => :show, :id => @person}} %>

<% end %>


<% content_for(:box2) do %>
  <br>

  <div class="accordion">
    <% if @current_user.read?(:main) %>
      <h2><%=link_to_function "Academic Programs (#{@person.curriculums.length})", nil, :id => "curriculum_detail" %> </h2>
      <div>
        <table>
          <% for curriculum in @curriculums %>
            <% journey = curriculum.deserialize(:journey, :as => OpenStruct) %>
            <tr>
              <td colspan="4">
                <%=content_tag :h5, link_to("#{curriculum.code_desc}#{journey.active == 'Y' ? "*" : ""}", main_curriculums_path(:action => :show, :id => curriculum)) %>
              </td>
            </tr>
            <tr>
              <th>Semester</th>
              <th>Transition Point</th>
              <th>Latest Action</th>
            </tr>
            <% for transition_point in curriculum.transition_points.includes(:last_transition_action).order("academic_period DESC, id DESC") %>
              <tr>
                <td><%=h transition_point.academic_period_desc %></td>
                <td><%=h transition_point.type_desc %></td>
                <td><%=h transition_point.last_transition_action.action_desc if transition_point.last_transition_action %></td>
                <td class="right"><%=link_to "Show", main_transition_points_path(:action => :show, :id => transition_point) %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
        <p class="new right"><%=link_to "New Program", main_curriculums_path(:action => :new, :id => @person) %></p>

      </div>
    <% end %>

    <% if @current_user.read?(:advising) %>
      <h2><%=link_to_function "Academic Advising (#{@advising_sessions.length})", nil, :id => "advising_detail" %></h2>
      <div>
        <table>
          <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Task</th>
            <th>Note</th>
          </tr>
          <% for advising_session in @advising_sessions %>
            <tr>
              <td><%=format_date advising_session.session_date %></td>
              <td><%=h advising_session.session_type.to_s.capitalize %></td>
              <td><%=h advising_session.task.to_s.capitalize %></td>
              <td><%=abbr advising_session.note, 30 %></td>
              <td class="right"><%=link_to "Show", advising_sessions_path(:action => :show, :id => advising_session) %></td>
            </tr>
          <% end %>
        </table>
        <p class="new right"><%=link_to "New Session", advising_sessions_path(:action => :new, :id => @person) %></p>
      </div>
    <% end %>

    <% if @current_user.read?(:course) %>
      <h2><%=link_to_function "Courses (#{@assessment_course_registrations.length})", nil, :id => "course_detail" %></h2>
      <div>
        <table>
          <% @assessment_course_registrations.group_by(&:subject).each do |subject, course_registrations| %>
            <tr>
              <td colspan="4"><h5><%=subject %></h5></td>
            </tr>  
            <tr>
              <th>Semester</th>
              <th>Name</th>
              <th>Title</th>
              <th>Instructor</th>
            </tr>
            <% for course_registration in course_registrations %>
              <tr>
                <td><%=h "#{ApplicationProperty.lookup_description(:academic_period, course_registration.assessment_course.academic_period)}" %></td>
                <td><%=h "#{course_registration.assessment_course.name}" %></td>
                <td><%=abbr "#{course_registration.assessment_course.title}", 50 %></td>
                <td><%=abbr "#{course_registration.assessment_course.instructor}", 50 %></td>
                <td class="right"><%=link_to "Show", course_registrations_path(:action => :show, :id => course_registration)%></td>
              </tr>
            <% end %>
          <% end %>   
        </table>
        <p class="new right"><%#=link_to "New Course Registration", course_registrations_path(:action => :new, :id => @person) %></p>
      </div>
    <% end %>

    <% if @current_user.read?(:practicum) %>
      <h2><%=link_to_function "Field Placements (#{@practicum_profiles.length})", nil, :id => "practicum_detail" %></h2>
      <div>
        <table>
          <% for practicum_profile in @practicum_profiles %>
            <tr>
              <td colspan="4">
                <h5><%=h "#{practicum_profile.curriculum.code_desc} - #{practicum_profile.curriculum.academic_period_desc}" if practicum_profile.curriculum %></h5>
              </td>
            </tr>
            <tr>
              <th>Semester</th>
              <th>Category</th>
              <th>Sequence</th>
              <th>Classification</th>
            </tr>
            <% for practicum_placement in practicum_profile.practicum_placements %>
              <tr>
                <td><%=h practicum_placement.academic_period_desc %></td>
                <td><%=h practicum_placement.category %></td>
                <td><%=h practicum_placement.sequence %></td>
                <td><%=h practicum_placement.status %></td>
                <td class="right"><%=link_to "Show", practicum_placements_path(:action => :show, :id=> practicum_placement) %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
        <p class="new right"><%=link_to "New Placement", practicum_placements_path(:action => :new, :id => @person) %></p>
      </div>
    <% end %>
  </div>

<% end %>
