<%= bootstrap_fields_for :case_action do |a| %>
  <%= bootstrap_fields_for :case_action_ext do |e| %>
  <div class="row">
    <div class="col-sm-6">
      <%=a.hidden_field :case_id %>
      <%=a.date_picker :action_date, :label => "Action Date" %>
      <%=a.property_select "action", :name => "#{@case.type}_action" %>
      <%=a.select :person_id, @case_involvements.collect {|i| [i.person.full_name_ordered, i.person_id]}, :include_blank => true %>
      <%=a.text_field "action_specify" %>
      <%=a.user_select "user_ids", {:label => "Actioned by", :depts => @current_user.depts}, {:multiple => true} if @current_user.manage? %>
    </div>

    <div class="col-sm-6">
      <%=a.text_area "note", :style => "width:100%; height:200px" %>
    </div>
  </div>
  <% end %>
<% end %>
