<% content_for(:head) do %>
  <style type="text/css">
    #authors-rows tr {
      cursor: move;
    }
    .handle {
      padding: 5px;
    }
  </style>

  <script type="text/javascript">
    jQuery(document).ready(function($) {
      // Initializes sequence values (some rows may have NULL values)
      $('#authors-rows').find('tr').each(function() {
        var index = $(this).index();
        $(this).find('input[type=hidden]').attr('value', index);
        $(this).find('.sequence').html(index);
      });

      dragula([document.querySelector('#authors-rows')])
        .on('drop', function (el) {
          $(el).siblings('tr').andSelf().each(function() {
            var index = $(this).index();
            $(this).find('input[type=hidden]').attr('value', index);
            $(this).find('.sequence').html(index);
          });
        });
    });
  </script>
<% end %>

<%= bootstrap_form_for(:publication, :url => kapa_faculty_publication_path(:id => @publication), :html => {:method => :put}) do |f| %>
  <table id="authors" class="table table-striped">
    <thead>
      <tr>
        <th>Order</th>
        <th>Author</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="authors-rows">
      <% for author in @authors %>
        <tr>
          <td>
            <span class="handle"><span class="glyphicon glyphicon-menu-hamburger"></span></span>
            <span class="sequence"><%= author.sequence %></span>
            <%= hidden_field :author, "order[#{author.id}]", {:value => author.sequence} %>
          </td>
          <td>
            <% if author.internal? %>
              <%= link_to author.full_name, kapa_person_path(:id => author.person_id) %>
            <% else %>
              <%= author.full_name %>
            <% end %>
          </td>
          <td class="right">
            <%#= link_to "Edit", kapa_faculty_publications_author_path(:id => author), :class => "btn btn-default btn-xs" %>
            <%= link_to "Delete", kapa_faculty_publications_author_path(:id => author, :faculty_publication_id => @publication), :method => :delete, :class => "btn btn-default btn-xs" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render :partial => "/kapa/layouts/controls" if @current_user.write? %>
<% end %>