<% content_for(:box1) do %>
  <%=render :partial => "/kapa/persons/person_detail" %>

  <h4 class="section-header divider">
    New Publication
  </h4>

  <div class="row">
    <div class="col-sm-8">
      <%=bootstrap_form_for :publication, :url => kapa_faculty_publications_path(:id => @person) do |f| %>
        <%=f.property_select :type, :name => :publication_type, :label => "Publication Type" %>
        <%=f.text_area :bibtex %>
        <%=render :partial => "/kapa/layouts/controls" if @current_user.write? %>
      <% end %>
    </div>
  </div>
<% end %>
