<% content_for(:head) do %>
  <style>
    .jumbotron {
      background-color: #eeeeee;
      color: inherit;
      margin-bottom: 0px;
      padding: 30px;
    }

    .right-col {
      padding: 200px 0 0 0;
      float: none;
      display: inline-block;
      align-items: bottom;
    }
  </style>
<% end %>

<% content_for(:box1) do %>
  <div class="row">
    <div class="col-md-8">
      <div class="jumbotron">
        <%=t :kapa_welcome_html%>
      </div>
    </div>

    <div class="col-md-4 right-col">
      <p class="text-center">
        <%=button_to_link t(:kapa_login_cas), Kapa::Cas.login_url(kapa_user_session_validate_url), :class => "btn btn-primary btn-lg" if Kapa::Cas.defined? %>
        <%=button_to_link t(:kapa_login_local), nil, "data-toggle" => "modal", "data-target" => "#login_dialog", :class => "btn btn-default btn-lg"  if beta? %>
      </p>
    </div>
    </div>
  </div>
<% end %>

<% content_for(:dialog) do %>
  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "login_dialog", :modal_title => "Login", :modal_form_id => "login_form"} do %>
    <%=bootstrap_form_for(:user_session, :url => kapa_user_session_path, :html => {:method => :post, :id => "login_form"}) do |f| %>
      <%=f.text_field :uid, :label => "Username" %>
      <%=f.password_field :password %>
    <% end %>
  <% end if beta? %>
<% end %>
