<% content_for(:head) do %>
  <style>
    .jumbotron {
      background-color: #eeeeee;
      color: inherit;
      margin-bottom: 0px;
      padding: 30px;
    }
  </style>
<% end %>

<% content_for(:box1) do %>
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <%=t :kapa_welcome_html%>
        <p class="text-right">
          <% if Kapa::Cas.defined? %>
            <%=button_to_link t(:kapa_login_cas), Kapa::Cas.login_url(kapa_user_session_validate_url), :class => "btn btn-primary btn-lg"  %>
            <%=button_to_link t(:kapa_login_local), nil, "data-toggle" => "modal", "data-target" => "#login_dialog", :class => "btn btn-default btn-lg" if beta? %>
          <% else %>
            <%=button_to_link t(:kapa_login_local), nil, "data-toggle" => "modal", "data-target" => "#login_dialog", :class => "btn btn-primary btn-lg" %>
          <% end %>
        </p>
      </div>
    </div>

    </div>
  </div>
<% end %>

<% content_for(:dialog) do %>
  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "login_dialog", :modal_title => "Login", :modal_form_id => "login_form"} do %>
    <%=bootstrap_form_for(:user_session, :url => kapa_user_session_path, :html => {:method => :post, :id => "login_form"}) do |f| %>
      <%=f.text_field :uid, :label => "Username" %>
      <%=f.password_field :password %>
    <% end %>
  <% end if beta? %>
<% end %>
