<%= bootstrap_fields_for :service_activity do |f| %>

  <div class="col-sm-6">
    <%= f.property_select :service_type, :name => :service_type, :label => "Type of Service" %>
    <%= f.date_picker :service_date_start, :label => "Service Date Start" %>
    <%= f.date_picker :service_date_end, :label => "Service Date End" %>

    <%= f.text_field :affiliation, :label => "Affiliation" %>
    <span id="affiliation_help" class="help-block">
      Name of organization, institution, university, publication, etc.
    </span>

    <%= f.text_area :role, :label => "Role" %>
    <%= f.text_field :name, :label => "Name of Award/Journal/Committee/Service Activity" %>
    <%= f.select :compensation, [["Unpaid", "unpaid"], ["Paid", "paid"], ["Honoraria (token, not full value of your time)", "honoraria"]], :label => "Compensation" %>
    <%= f.select :context, [["University", "university"], ["Professional", "professional"], ["Community", "community"]], :label => "Context" %>
    <%= f.text_area :description, :label => "Short Description" %>

  </div>

  <div class="col-sm-6">
    <% if @service_activity && @service_activity.image.exists? %>
      <p>
        You have already uploaded an image named <strong><%= @service_activity.image_file_name %></strong>. To replace it, choose a new file below.
      </p>
    <% end %>
   <%= f.file_field :image, :label => "Image" %>
    <span id="thumbnail_help" class="help-block">
      <p>
        Descriptive image for web site presentation (.jpg, .gif, or .png).
      </p>
      </p>
    </span>
    <%= f.select :public, [["Yes", "Y"], ["No", "N"]], {:label => "Display publicly"} %>
    <%= f.check_box :relevant, {:label => "Service is relevant to professional area"}, 1, 0 %>
    <%= f.hidden_field :person_id  %>
  </div>

<% end %>