<% content_for(:dialog) do %>

  <%= render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "filter_dialog", :modal_title => "Search", :modal_form_id => "filter_form"} do %>
    <%= bootstrap_form_for(:filter, :url => kapa_faculty_service_activities_path, :html => {:method => :get, :id => "filter_form"}) do |f| %>
      <%= f.property_select :service_type, :name => :service_type, :label => "Type", :include_blank => "Any" %>
      <%= f.select :context, [["University", "university"], ["Professional", "professional"], ["Community", "community"]], :label => "Context", :include_blank => "Any" %>
      <%= f.text_field :name, :label => "Name of Award/Journal/Committee/Service Activity" %>
      <%= f.text_field :affiliation, :label => "Affiliation" %>
      <div class="form-group">
        <%= label_tag "filter_date_start", "Service Date Start" %>
        <%= date_picker :filter, :service_date_start %>
      </div>
      <div class="form-group">
        <%= label_tag "filter_date_end", "Service Date End" %>
        <%= date_picker :filter, :service_date_end %>
      </div>
      <%= f.select :per_page, [10, 20, 30, 40, 50] %>
    <% end %>
  <% end %>

<% end %>

<% content_for(:box1) do %>

  <h3>Service Activities</h3>

  <div class="row">
    <div class="col-sm-12 text-right">
      <%=bootstrap_button "Download", {:action => :export}, :icon => "glyphicon-download" %>
      <%=bootstrap_button "Search", nil, "data-toggle" => "modal", "data-target" => "#filter_dialog", :icon => "glyphicon-search" %>
    </div>
  </div>

  <table id="advising_list" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Name</th>
        <th>Affiliation</th>
        <th>Context</th>
        <th></th>
      </tr>
    </thead>
      <% for service_activity in @service_activities %>
        <tr>
          <td><%= service_activity.person.id_number if service_activity.person %></td>
          <td><%= link_to abbr(service_activity.person.full_name), kapa_person_path(:id => service_activity.person_id) if service_activity.person %></td>
          <td><%= Kapa::Property.lookup_description(:service_type, service_activity.service_type) %></td>
          <td><%= abbr service_activity.name, 25 %></td>
          <td><%= abbr service_activity.affiliation, 25 %></td>
          <td><%= service_activity.context %></td>
          <td class="right"><%=link_to "Show", kapa_faculty_service_activity_path(:id => service_activity), :class => "btn btn-default btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center"><%=will_paginate @service_activities, :renderer => BootstrapPagination::Rails %></div>

<% end %>
