<%= bootstrap_fields_for :data_set do |f| %>

  <div class="row">
    <div class="col-sm-6">
      <%= f.text_field :name %>
      <%= f.select :type, [["Internal","internal"], ["External","external"]] %>
      <%= f.select :data_source_id, @data_sources.collect {|d| [d.name, d.id]} %>
    </div>
    <div class="col-sm-6">
      <%= f.text_area :query %>
    </div>
  </div>

<% end %>
