<%= bootstrap_fields_for :data_source do |f| %>

  <div class="row">
    <div class="col-sm-6">
      <%= f.text_field :name %>
      <%= f.select :type, [["Database", "database"],["LDAP","ldap"]] %>
    </div>
    <div class="col-sm-6">
      <%= f.text_field :user, :label => "Username" %>
      <%= f.text_field :password %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <%= f.text_field :url, :label => "Connection String" %>
    </div>
  </div>

<% end %>