<%= bootstrap_fields_for :dataset_param do |f| %>

  <div class="row">
    <div class="col-sm-6">
      <%= f.select :name, @attr_options, :label => "Name" %>
      <%= f.select :type, [["Text Field", "text_field"], ["Select", "select"], ["Property Select", "property_select"], ["Term Select", "term_select"], ["Program Select", "program_select"], ["User Select", "user_select"], ["Datepicker", "date_picker"], ["Checkbox", "check_box"]], :label => "Type" %>
    </div>
    <div class="col-sm-6">
      <%= f.text_field :label, :label => "Label" %>
      <%= f.text_field :default, :label => "Default" %>
      <%= f.check_box :active, {:label => "Active"}, "Y", "N" %>
    </div>
  </div>

<% end %>
