<%= bootstrap_fields_for :parameters do |f| %>

  <div class="row">
    <div class="col-sm-6">
      <%= f.text_field :name %>
      <%= f.select :type, [["Text Field", "text_field"], ["Select", "select"], ["Property Select", "property_select"], ["Term Select", "term_select"], ["Program Select", "program_select"], ["History Select", "history_select"], ["User Select", "user_select"], ["Model Select", "model_select"], ["Datepicker", "datepicker"], ["Checkbox", "check_box"], ["Radio Button", "radio_button"]] %>
    </div>
    <div class="col-sm-6">
      <%= f.text_field :default %>
      <%= f.text_field :label %>
    </div>
  </div>

<% end %>
