<%=bootstrap_fields_for :case_involvement do |a| %>
  <%=bootstrap_fields_for :case_involvement_profile do |p| %>
    <%=bootstrap_fields_for :case_involvement_contact do |c| %>
      <div class="row">
        <div class="col-sm-6">
          <%=a.property_select :type, :name => "case_involvement_type" %>
          <%=a.property_select :affiliation %>
          <%=a.property_select :bargaining_unit, :include_blank => true %>
          <%=a.text_field :job_title %>
        </div>
        <div class="col-sm-6">
          <%=a.text_area :note, :size => "10x12"%>
          <%=a.hidden_field :case_id %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
