<% content_for(:title) do %>
  <%=@case.case_number %>: <%=@case.case_name %>
<% end %>

<% content_for(:box1) do %>
  <h4 class="section-header divider">
    <%= link_to "", kapa_case_incident_path(:id => @case_incident, :anchor => :case_violations), :class => "glyphicon glyphicon-chevron-left" %>
    New Violation
  </h4>
  <%=bootstrap_form_for :case_violation, :url => kapa_case_violations_path(:case_incident_id => @case_incident) do |f| %>
    <%=render :partial => "case_violation_form" %>
    <%=render :partial => "/kapa/layouts/controls" if @current_user.write? %>
  <% end %>
<%end%>