<% content_for(:box1) do %>

  <h3>Datasets</h3>

  <div class="row">
    <div class="col-sm-12 text-right">
      <%= link_to t('.new', :default => t("helpers.links.new")), new_kapa_admin_dataset_path, :class => 'btn btn-default' %>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Source</th>
      <th>Category</th>
      <th>Table Name</th>
      <th>Record Count</th>
      <th>Last Load</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @datasets.each do |dataset| %>
      <tr>
        <td><%= dataset.id %></td>
        <td><%= dataset.name %></td>
        <td><%= dataset.datasource %></td>
        <td><%= dataset.category %></td>
        <td><%= dataset.cache_id %></td>
        <td><%= dataset.record_count %></td>
        <td><%= dataset.loaded_at %></td>
        <td class="right">
          <%= link_to "Show", kapa_admin_dataset_path(dataset), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>
