<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      // Set active tab and pane
      var focus = '<%=params[:focus]%>' || 'dataset_profile';
      $('a[href="#' + focus + '_tab"]').parent().addClass('active');
      $('#' + focus + '_tab').addClass('active');
    });
  </script>
<% end %>

<% content_for(:box1) do %>

  <h4 class="section-header">
    <%= link_to "", {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
    <%= h @dataset.name %>
  </h4>

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li><a href="#dataset_profile_tab" data-toggle="tab">Profile</a></li>
      <li><a href="#query_tab" data-toggle="tab">Query</a></li>
      <li><a href="#parameters_tab" data-toggle="tab">Parameters</a></li>
    </ul>

    <div class="tab-content">
      <div id="dataset_profile_tab" class="tab-pane">
        <%= bootstrap_form_for :dataset, :url => kapa_admin_dataset_path(:id => @dataset), :html => {:method => :put} do |f| %>
          <%= render :partial => '/kapa/admin/dataset_form' %>
          <%= render :layout => "/kapa/layouts/controls" do %>
          <% end %>
        <% end %>
      </div>

      <div id="query_tab" class="tab-pane">
        <%= bootstrap_form_for :dataset, :url => kapa_admin_datasets_load_path(:id => @dataset, :focus => :query), :html => {:multipart => true, :method => :put} do |f| %>
          <%= render :partial => '/kapa/admin/query_form' %>
          <%= f.submit "Load", :class => "btn btn-default" %>
          <%= link_to "Feed", kapa_admin_datasets_feed_path(:id => @dataset), :class => "btn btn-default" %>
      <% end %>
      </div>

      <div id="parameters_tab" class="tab-pane">

        <div id="accordion" class="panel-group">
          <% @parameters.each_pair do |parameter_id, p| %>
            <% @parameter = OpenStruct.new(p) %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#parameter_<%= parameter_id %>"><span class="strong"><%= parameter_id %>
                    . <%= @parameter.name %></span></a>
                </h3>
              </div>
              <div id="parameter_<%= parameter_id %>" class="panel-collapse collapse">
                <div class="panel-body">
                  <%= bootstrap_form_for :dataset, :url => kapa_admin_dataset_path(:id => @dataset, :parameter_id => parameter_id, :focus => :parameters), :html => {:method => :put} do |f| %>
                    <%= render :partial => "/kapa/admin/parameter_form" %>
                    <%= render :partial => "/kapa/layouts/controls" if @current_user.write? %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

          <% @parameter = OpenStruct.new %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#new_parameter"><span class="new">New Parameter</span></a>
              </h3>
            </div>

            <div id="new_parameter" class="panel-collapse collapse">
              <div class="panel-body">
                <%= bootstrap_form_for :dataset, :url => kapa_admin_dataset_path(:id => @dataset, :focus => :parameters), :html => {:method => :put} do |f| %>
                  <%= render :partial => "/kapa/admin/parameter_form" %>
                  <%= render :partial => "/kapa/layouts/controls" if @current_user.write? %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

<% end %>
