<%=bootstrap_fields_for :program do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <%=f.text_field :code %>
      <%=f.text_field :description  %>
      <%=f.text_field :description_short %>
      <%=f.text_field :category %>
      <%=f.property_select :dept, {:name => :dept, :label => t(:kapa_global_dept)}, {:multiple => true} %>
      <%=f.check_box :active, {}, 1, 0 %>
    </div>

    <div class="col-sm-6">
      <%=f.property_select :degree, {:include_code => true, :label => "Degree", :include_blank => true} %>
      <%=f.property_select :major, {:include_code => true, :label => "Default Major", :include_blank => true} %>
      <%=f.property_select :available_major, {:name => :major,:include_code => true, :label => "Available Majors"}, {:multiple => true} %>
      <%=f.property_select :distribution, {:include_code => true, :label =>"Default Distribution", :include_blank => true} %>
      <%=f.property_select :available_distribution, {:name => :distribution, :include_code => true, :label =>"Available Distributions"}, {:multiple => true} %>
      <%=f.property_select :track, {:include_code => true, :label => "Default Track", :include_blank => true} %>
      <%=f.property_select :available_track, {:name => :track, :include_code => true, :label => "Available Tracks"}, {:multiple => true} %>
    </div>
  </div>
<% end %>
