<%=bootstrap_fields_for :program_offer do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <%=f.text_field :description %>
      <%=f.term_select :start_term_id, :include_blank => true, :label => "Effective From" %>
      <%=f.term_select :end_term_id, :include_blank => true, :label => "Effective To" %>
    </div>
    <div class="col-sm-6">
      <%=f.property_select :distribution, {:conditions => {:code => @program.available_distribution}}, {} %>
      <%=f.property_select :available_major, {:name => :major,:include_code => true, :label => "Available Majors", :conditions => {:code => @program.available_major}}, {:multiple => true} %>
      <%=f.check_box :active, {}, 1, 0 %>
    </div>
  </div>
<% end %>
