<% content_for(:dialog) do %>

  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "filter_dialog", :modal_title => "Search", :modal_form_id => "filter_form"} do %>
    <%=bootstrap_form_for(:filter, :url => kapa_programs_path, :html => {:method => :get, :id => "filter_form"}) do |f| %>
      <%= f.property_select :dept, :label => t(:kapa_global_dept), :include_blank => "Any" %>
      <%= f.select :active, [["Active", "1"],["In-Active","0"]], :include_blank => "Any" %>
      <%= f.select :per_page, [10, 20, 30, 40, 50] %>
    <% end %>
  <% end %>

<% end %>

<% content_for(:box1) do %>

  <h3>Programs</h3>

  <div class="row">
    <div class="col-sm-12 text-right">
      <%=bootstrap_button "New", {:action => :new}, :icon => "glyphicon-plus" %>
      <%=bootstrap_button "Search", nil, "data-toggle" => "modal", "data-target" => "#filter_dialog", :icon => "glyphicon-search" %>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Code</th>
        <th>Description</th>
        <th>Category</th>
        <th><%=t(:kapa_global_dept) %></th>
        <th>Sequence</th>
        <th>Active</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for program in @programs %>
        <tr>
          <td><%=h program.code %></td>
          <td><%=h program.description %></td>
          <td><%=abbr program.category, 20 %></td>
          <td><%=h program.dept.join(", ") %></td>
          <td><%=h program.sequence %></td>
          <td><%=h program.active %></td>
          <td class="right"><%=link_to "Show", {:action => :show, :id => program}, :class => "btn btn-default btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center"><%=will_paginate @programs, :renderer => BootstrapPagination::Rails %></div>

<% end %>
