<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      <% if @modal %>$('#filter_dialog').modal({show : true});<% end %>
    });
  </script>
<% end %>

<% content_for(:dialog) do %>

  <%=render :layout => '/layouts/modal', :locals => {:modal_id => "filter_dialog", :modal_title => "Filter Criteria", :modal_form_id => "filter_form"} do %>
    <%=bootstrap_form_for(:filter, :url => admin_terms_path, :html => {:method => :get, :id => "filter_form"}) do |f| %>
      <%=f.term_select :term_id, :include_blank => "Any" %>
      <div class="form-group">
        <%=label_tag "filter_start_date", "Start Date" %>
        <%=date_picker :filter, :start_date %>
      </div>
      <div class="form-group">
        <%=label_tag "filter_end_date", "End Date" %>
        <%=date_picker :filter, :end_date %>
      </div>
      <%= f.select :active, [["Active", "1"],["In-Active","0"]], :include_blank => true %>
    <% end %>
  <% end %>

<% end %>

<% content_for(:box1) do %>

  <h3>Academic Terms</h3>

  <div class="row">
    <div class="text-right">
      <%=link_to "New", {:action => :new}, :class => "btn btn-default" %>
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#filter_dialog">Filter</button>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Code</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Sequence</th>
        <th>Active</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for term in @terms %>
        <tr>
          <td><%=h term.code %></td>
          <td><%=h term.description %></td>
          <td><%=h term.start_date %></td>
          <td><%=h term.end_date %></td>
          <td><%=h term.sequence %></td>
          <td><%=h term.active %></td>
          <td class="right"><%=link_to "Show", {:action => :show, :id => term}, :class => "btn btn-default btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center"><%=will_paginate @terms, :renderer => BootstrapPagination::Rails %></div>

<%end%>
