<% content_for(:box1) do %>
  <h4 class="section-header divider">
    <%=link_to "", {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
    Contact List
  </h4>

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li><a href="#contact_list_tab" data-toggle="tab">Contact List</a></li>
      <li><a href="#members_tab" data-toggle="tab">List Members</a></li>
    </ul>

    <div class="tab-content">
      <div id="contact_list_tab" class="tab-pane">
        <%=bootstrap_form_for(:contact_list, :url => kapa_contact_list_path(:id => @contact_list), :html => {:method => :put}) do %>
          <%=render :partial => "contact_list_form" %>
          <%=render :partial => '/kapa/layouts/controls', :locals => {:delete_path => kapa_contact_list_path(:id => @contact_list, :return_path => params[:return_path])} if @current_user.write? %>
        <% end %>
      </div>

      <div id="members_tab" class="tab-pane">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @contact_list.members.each do |member| %>
              <tr>
                <td><%=member.person.full_name_ordered %></td>
                <td class="right"><%=link_to "Show", kapa_person_path(:action => :show, :id => member.person, :anchor => :messages), :class => "btn btn-default btn-xs" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
