<%
   if @form.version == 1
     codes = @form.rsend([:deserialize, :form_option, :as => OpenStruct], :curriculum, [:split, "/"])
     @program_code = "#{codes[1]}-#{codes[0]}" if codes.is_a? Array
     @declaration_curriculum = @form.deserialize(:declaration_curriculum, :as => OpenStruct)
     @declaration_background = @form.deserialize(:curriculum_admission, :as => OpenStruct)
   else
     @declaration_curriculum = @form.deserialize(:declaration_curriculum, :as => OpenStruct)
     @declaration_background = @form.deserialize(:declaration_background, :as => OpenStruct)
     program = Kapa::Program.find_by_id(@declaration_curriculum.program_id)
     @program_code = program ? program.code : "NA"
   end

   @declaration_agreement = OpenStruct.new(@form.deserialize(:declaration_agreement).each_value { |v| v.replace("Y") if v == "1" })
%>

<fieldset class="form-block">
  <legend>Program Information</legend>
  <%= bootstrap_fields_for(:declaration_curriculum) do |curriculum| %>
    <div class="row">
      <div class="col-sm-6">
        <%= curriculum.program_select(:program_id, {:model_options => {:value => :id, :conditions => "code in ('EDEL-BED', 'EDSE-BED', 'KRS-BS', 'EDSE-PCERT', 'SPED-PCERT', 'TCH-MEDT')"}, :label => "I want to pursue this program:", :exclude_current_value => true, :include_blank => true}) %>
        <%#=curriculum.property_select :degree, :locked => true, :label => "Degree" %>
        <%#=curriculum.property_select :distribution, :locked => true, :label => "Program Distribution" %>
        <%#=curriculum.property_select :track, :locked => true , :label => "Track"  %>
        <%= curriculum.select :second_degree, [["No", "N"], ["Yes", "Y"]], :class => "required", :label => "Is this going to be your second baccalaureate degree?" %>
        <%= curriculum.property_select(:major_primary, :class => "required", :label => "Please select your intended major.", :name => :major, :include_blank => true, :include_current => false) %>
      </div>
      <div class="col-sm-6">
        <%= curriculum.select(:major_secondary, [["Yes", "XHLI"]], :label => "Please indicate if you also intend to pursue Hawaiian language immersion (k-12).", :include_blank => true, :include_current => false) %>
        <%= curriculum.property_select :location, :class => "required", :label => "Please select the location from where you will be participating.", :name => :location, :include_blank => true %>
      </div>
    </div>
  <% end %>
</fieldset>

<fieldset class="form-block">
  <legend>Academic Background</legend>
  <%= bootstrap_fields_for(:declaration_background) do |declaration_background| %>
    <div class="row">
      <div class="col-sm-6">
        <%= declaration_background.select :current, [["No", "N"], ["Yes", "Y"]], :label => "Are currently attending UHM as a classified undergraduate?" %>
        <%= declaration_background.text_field :current_college, :label => "If so, what college are you in now?" %>
      </div>
      <div class="col-sm-6">
        <%= declaration_background.property_select :aa_degree, {:name => :cc_program, :include_blank => "No", :label => "Indicate if you have completed or are in progress of completing any of these UH system Community College programs."} %>
        <%= declaration_background.term_select :aa_degree_when, :name => :term_id, :conditions => "code >= '200510'", :include_blank => true, :label => "Please select the term you completed or will complete the above program." %>
      </div>
    </div>
  <% end %>
</fieldset>

<fieldset class="form-block">
  <legend>Checklist</legend>
  <%= bootstrap_fields_for(:declaration_agreement) do |declaration_agreement| %>
    <%= declaration_agreement.check_box :agreement_saf1, :class => "required", :label => "I have completed and submitted the UHM System Application Form to the Manoa Admissions Office (required for new UHM undergraduate students)." %>
  <% end %>
</fieldset>

<fieldset class="form-block form-agreement">
  <legend>Acknowledgement</legend>
  <%= bootstrap_fields_for(:declaration_agreement) do |declaration_agreement| %>
    <%= declaration_agreement.check_box :agreement, :class => "required", :label => "I hereby certify that I have completed this module and I acknowledge that it is my responsibility to be aware of all requirements.  I certify that the information submitted for this application is complete and correct.  I recognize that any intentional misrepresentation may be grounds for non-admittance or disenrollment from the College of Education.  I authorize the University of Hawaii College of Education to obtain information from my current and past employers or from any individual listed on this application form and attachments and waive the right to hold liable those persons from providing any requested information.  It is understood that such information is to be held confidential." %>

    <div class="form-block">
      <%= declaration_agreement.text_area :question, :cols => 75, :label => "Please give us any questions or comments.", :class => "form-block" %>
    </div>
  <% end %>
</fieldset>

<h6 class="form-notice form-block">Form version: <%= @form.version.to_i %>, Program: <%= @program_code %></h6>
