<% content_for(:box1) do %>
  <h4><%=flash[:notice] %></h4>
  <h4>Mentor/School Assignments</h4>
  <%= form_tag :action => "list" do %>
    <table>
      <tr class="bottom">
        <td>
          <label>Semester:<br>
          <%=property_select :filter, :academic_period, :name => :academic_period %></label>
        </td>
        <td>
          <label>School:<br>
            <%=select :filter, :practicum_school_id, @practicum_schools.collect {|c| [c.name_short, "0#{c.id}"]}, {:include_blank => "Any", :label => {:text => "School"}} %></label>
        </td>
        <td>
          <p class="center"><%=submit_tag "Show" %></p>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>

<% content_for(:box2) do %>
  <table id="student_list">
    <tr>
      <th>UH ID</th>
      <th>Name</th>
      <th>Mentor</th>
      <th>School</th>
    </tr>
    <% for practicum_assignment in @practicum_assignments %>
      <tr>
        <td><%=link_to_id_number practicum_assignment.practicum_placement.practicum_profile.person %></td>
        <td><%=link_to_if @current_user.manage?(:main, :delegate => :search), abbr(practicum_assignment.practicum_placement.practicum_profile.person.full_name), main_persons_path(:action => :show, :id => practicum_assignment.practicum_placement.practicum_profile.person, :focus => :practicum)%></td>
        <td><%=h practicum_assignment.person.full_name if practicum_assignment.person %></td>
        <td><%=link_to practicum_assignment.practicum_school.name_short, practicum_schools_path(:action => :show, :id => practicum_assignment.practicum_school) if practicum_assignment.practicum_school %></td>
        <td class="right"><%=link_to "Show", practicum_placements_path(:action => :show, :id => practicum_assignment.practicum_placement) %></td>
      </tr>
    <% end %>
  </table>
  <br>
  <div class="center"><%=will_paginate @practicum_assignments %></div>
  <p class="right"><%=link_to "Download", :action => :export, :action => :export if @current_user.manage? :practicum, :delegate => :export %></p>
<% end %>