<% content_for(:dialog) do %>

  <%= render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "filter_dialog", :modal_title => "Search", :modal_form_id => "filter_text"} do %>
    <%= bootstrap_form_for(:filter, :url => kapa_texts_path, :html => {:method => :get, :id => "filter_text"}) do |f| %>
      <%= f.select :lock, [["Locked", "Y"], ["Unlocked", "N"]], :include_blank => "Any", :label => "Lock" %>
      <%= f.select :per_page, Rails.configuration.items_per_page_selections %>
    <% end %>
  <% end %>

<% end %>

<% content_for(:box1) do %>

  <h3>Letters</h3>

  <div class="row">
    <div class="col-sm-12 text-right">
      <%=button_to_link "Download", {:action => :export}, :icon => "glyphicon-download" %>
      <%=button_to_link "Search", nil, "data-toggle" => "modal", "data-target" => "#filter_dialog", :icon => "glyphicon-search" %>
    </div>
  </div>

  <table id="text_list" class="table table-striped">
    <thead>
    <tr>
      <th>Document ID</th>
      <th>Title</th>
      <th>Person</th>
      <th>Last Updated</th>
      <th>Submitted</th>
      <th><%=t(:kapa_global_dept).pluralize %></th>
      <th>Status</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% for text in @texts %>
      <tr>
        <td><%=text.document_id%></td>
        <td><%=h text.document_title %></td>
        <td><%=link_to abbr(text.person.full_name), kapa_person_path(:id => text.person) if text.person %></td>
        <td><%=time_ago_in_words text.updated_at if text.updated_at %> ago</td>
        <td><%=format_date text.submitted_at %></td>
        <td><%=text.depts_desc %></td>
        <td><%=text.status_desc %></td>
        <td class="right"><%=button_to_link "", {:action => :show, :id => text}, :icon => "glyphicon-chevron-right", :class => "btn-default btn-xs pull-right", :target => "_blank"%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="text-center"><%= will_paginate @texts, :renderer => BootstrapPagination::Rails %></div>

<% end %>
