<% content_for(:head) do %>
  <script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
        CKEDITOR.replace('editor');
    });
  </script>
<% end %>

<% content_for(:box1) do %>

  <%=bootstrap_form_for :text, :url => kapa_text_path(:id => @text), :html => {:method => :put, :id => "text_form"} do |f| %>
    <div id="editor"><%=@text.body.to_s.html_safe %></div>
    <%=f.hidden_field :body %>
    <%= render :layout => "/kapa/layouts/controls", :locals => {:delete_path => kapa_text_path(:id => @text, :return_path => params[:return_path])} do %>
      <%= button_to_link "Setting", nil, "data-toggle" => "modal", "data-target" => "#edit_text_dialog", :icon => "glyphicon-wrench" %>
    <% end if @current_user.write? %>
  <% end %>

<% end %>
