<% content_for(:head) do %>

  <%=javascript_include_tag "kapa/ckeditor" %>

<% end %>

<% content_for(:main) do %>

  <%=bootstrap_form_for :text, :url => kapa_text_path(:id => @text), :html => {:method => :put, :id => "text_form"} do |f| %>
    <%=f.text_area :body, :id => "editor", :label => :no %>

    <div class="text-center">
      <button class="btn btn-primary" name="commit" type="submit">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save Document
      </button>
    </div>

  <% end %>

<% end %>

<% content_for(:sidebar) do %>

  <%=bootstrap_form_for(:text, :url => kapa_text_path(:id => @text), :html => {:method => :put}) do |f| %>

    <div class="row form-block">
        <%=f.text_area :note, :text => "Note", :size => "5x7" %>
        <%=f.text_field :title %>
        <%=f.property_select :dept, :name => :dept, :label => t(:kapa_global_dept) if @current_user.manage? :kapa_files %>
    </div>

    <%=render :partial => "/kapa/layouts/controls", :locals => {:delete_path => kapa_text_path(:id => @text, :return_path => params[:return_path])} if @current_user.write? %>

  <% end %>
<% end %>