<% content_for(:head) do %>

  <%=javascript_include_tag "kapa/ckeditor" %>

<% end %>

<% content_for(:main) do %>

  <%=bootstrap_form_for :text, :url => kapa_text_path(:id => @text), :html => {:method => :put, :id => "text_form"} do |f| %>
    <%=f.text_area :body, :id => "editor", :label => :no %>

    <div class="text-center">
      <button class="btn btn-primary" name="commit" type="submit">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save Document
      </button>
    </div>

  <% end %>

<% end %>

<% content_for(:sidebar) do %>

  <%=bootstrap_form_for(:text, :url => kapa_text_path(:id => @text), :html => {:method => :put}) do |f| %>

    <%=f.text_field :title %>
    <%=f.text_area :note, :text => "Note", :size => "5x7" %>
    <%=f.property_select :depts, {:name => :dept, :label => t(:kapa_global_dept).pluralize}, :multiple => true if manage? :kapa_texts %>

    <% more_actions = [] %>
    <% more_actions << link_to("Add an attachemnt", "javascript:void(0)", "data-toggle" => "modal", "data-target" => "#document_dialog") %>
    <% more_actions << link_to("Delete this file", kapa_text_path(:id => @text, :return_path => session[:return_path]), :method => :delete, "data-confirm" => "Are you sure you want to delete?") if destroy? %>
    <%=render(:layout => "/kapa/layouts/controls", :locals => {:hide_cancel => true, :more_actions => more_actions}) do %>
      <%=button_to_link "Cancel", nil, "data-close" => true %>
    <% end %>

  <% end %>
<% end %>