<% content_for(:box1) do %>
  <%= render :partial => "/kapa/persons/person_detail" %>

  <h4 class="section-header divider">
    <%=link_to "", kapa_curriculum_path(:id => @curriculum), :class => "glyphicon glyphicon-chevron-left" %>
    Enrollment - <%=@enrollment.term_desc%>
  </h4>

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li><a href="#enrollment_tab" data-toggle="tab">Enrollment</a></li>
    </ul>

    <div class="tab-content">
      <div id="enrollment_tab" class="tab-pane">
        <%= bootstrap_form_for :enrollment, :url => kapa_enrollment_path(:id => @enrollment), :html => {:method => :put} do |f| %>
          <%= render :partial => "enrollment_form"%>
          <%= render :partial => "/kapa/layouts/controls" if @current_user.write? %>
        <% end %>
      </div>

    </div>
  </div>

<% end %>
