<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      <% if @modal %>$('#filter_dialog').modal({show : true});<% end %>
    });
  </script>
<% end %>

<% content_for(:dialog) do %>

  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "filter_dialog", :modal_title => "Filter Criteria", :modal_form_id => "filter_form"} do %>
    <%=bootstrap_form_for(:filter, :url => kapa_admin_users_path, :html => {:method => :get, :id => "filter_form"}) do |f| %>
      <%= f.text_field :key, :size => 20, :label => "Name or UID" %>
      <%= f.history_select :department, :model_name => :user, :model_method => :department, :include_blank => "Any" %>
      <%= f.select :emp_status, [["0/Non-Employee", "0"],["1/Former Employee" , "1"],["2/Active Employee" , "2"],["3/Overridden" , "3"]], {:include_blank => "Any", :label => "Employment Status"} %>
      <%= f.select :status, [["0/No Access", "0"],["1/AS User" ,"1"],["3/SIS User" ,"3"]], {:include_blank => "Any", :label => "User Status"} %>
    <% end %>
  <% end %>

  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "import_dialog", :modal_title => "Import User Data", :modal_form_id => "import_user_form"} do %>
    <%=bootstrap_form_for(:data, :url => import_kapa_admin_users_path, :html => {:multipart => true, :id => "import_user_form"}) do |f|%>
      <%= f.file_field :import_file %>
    <% end %>
  <% end %>

<% end %>

<% content_for(:box1) do %>

  <h3>Users</h3>

  <div class="row">
    <div class="text-right">
      <%=link_to "New", {:action => :new}, :class => "btn btn-default" %>
      <% if @current_user.manage? :admin, :delegate => :import %>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#import_dialog">Import</button>
      <% end %>
      <%=link_to "Download", {:action => :export}, :class => "btn btn-default" %>
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#filter_dialog">Filter</button>
    </div>
  </div>

  <table id="user_list" class="table table-striped">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Auth Type</th>
        <th>ES</th>
        <th>US</th>
        <th>Department</th>
        <th>Data Access</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for user in @users %>
        <tr>
          <td><%=h user.uid %></td>
          <td><%=h user.person.full_name if user.person %></td>
          <td><%=h user.category %></td>
          <td><%=h user.emp_status %></td>
          <td><%=h user.status %></td>
          <td><%=h user.department %></td>
          <td><%=h user.dept %></td>
          <td class="right"><%=link_to "Show", {:action => "show", :id => user}, :class => "btn btn-default btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center"><%=will_paginate @users, :renderer => BootstrapPagination::Rails %></div>

<% end %>
