<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      // TODO: Uncomment out later, after undefined config issue is resolved
      // $('#person_id_number').keyup(function() {
      //   if($(this).val().match(/[\d]{8}/i)) {
      //     $.get('<%=kapa_main_persons_verify_path(:id => @person) %>',
      //     {key: $(this).val()},
      //     function(data) { $('#person_form').html(data);},
      //     'html');
      //   }
      // });

      // $('#person_email').keyup(function() {
      //   if($(this).val().match(/\w+@hawaii.edu/i)) {
      //     $.get('<%=kapa_main_persons_verify_path(:id => @person) %>',
      //     {key: $(this).val()},
      //     function(data) { $('#person_form').html(data);},
      //     'html');
      //   }
      // });
    });
  </script>
<%end%>

<% content_for(:box1) do %>

<h4 class="section-header">
  <%=link_to "", {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
  New User
</h4>

<%=label_form_for :person, :url => kapa_admin_users_path, :remote => true do %>
  <div id="person_form">
    <%=render :partial => "/kapa/main/person_form" %>
  </div>
  <%=controls if @current_user.manage? :admin, :delegate => :user %>
<% end %>

<% end %>
