<% content_for(:box1) do %>
  <%=render :partial => "/kapa/main/person_detail" %>

  <h4 class="section-header divider">
    <%=link_to "", {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
    User Record
  </h4>

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li class="<%='active' if params[:focus] == 'user_profile' || params[:focus].nil? %>"><a href="#user_profile_tab" data-toggle="tab">Profile</a></li>
      <li class="<%='active' if params[:focus] == 'role' %>"><a href="#role_tab" data-toggle="tab">Roles</a></li>
      <li class="<%='active' if params[:focus] == 'activity' %>"><a href="#activity_tab" data-toggle="tab">Activities</a></li>
      <li class="<%='active' if params[:focus] == 'other_accounts' %>"><a href="#other_accounts_tab" data-toggle="tab">Associated Accounts</a></li>
    </ul>

    <div class="tab-content">
      <div id="user_profile_tab" class="tab-pane<%=' active' if params[:focus] == 'user_profile' || params[:focus].nil? %>">
        <%=bootstrap_form_for :user, :url => kapa_admin_user_path(:id => @user), :remote => true, :html => {:method => :put} do |f| %>
          <%=render :partial => "/kapa/admin/user_form", :locals => {:f => f} %>
          <%=render :partial => "/kapa/layouts/controls" if @current_user.manage? :admin, :delegate => :user %>
        <% end %>
      </div>

      <div id="role_tab" class="tab-pane<%=' active' if params[:focus] == 'role' %>">
        <%=bootstrap_form_for :user_roles, :url => kapa_admin_user_path(:id => @user, :focus => :role), :remote => true, :html => {:method => :put}  do |f| %>
          <%=render :partial => "/kapa/admin/role_form", :locals => {:f => f} %>
          <%=render :partial => "/kapa/layouts/controls" if @current_user.manage? :admin, :delegate => :user %>
        <% end %>
      </div>

      <div id="activity_tab" class="tab-pane<%=' active' if params[:focus] == 'activity' %>">
        <%=render :partial => "/kapa/admin/activity_table" %>
      </div>

      <div id="other_accounts_tab" class="tab-pane<%=' active' if params[:focus] == 'other_accounts' %>">
        <%=render :partial => "/kapa/admin/account_table" %>
      </div>
    </div>
  </div>

<%end%>
