<% content_for(:box1) do %>

  <h3>Reports</h3>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Datasource</th>
      <th>Loaded at</th>
      <th>Record Count</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @datasets.each do |dataset| %>
      <tr>
        <td><%= dataset.id %></td>
        <td><%= dataset.name %></td>
        <td><%= dataset.datasource %></td>
        <td><%= dataset.loaded_at %></td>
        <td><%= dataset.record_count %></td>
        <td class="right">
          <%= link_to "Show", kapa_document_report_path(dataset), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>
