<% content_for(:head) do %>

  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
  <script src="https://www.google.com/jsapi"></script>
  <%= javascript_include_tag "kapa/reports" %>
  <%= stylesheet_link_tag "kapa/reports", :media => "all" %>

  <script>
    google.load("visualization", "1", {packages: ["corechart", "charteditor"]});

    jQuery(document).ready(function ($) {
      var derivers = $.pivotUtilities.derivers;
      var renderers = $.extend($.pivotUtilities.renderers, $.pivotUtilities.gchart_renderers);

      // Load report on page load
      $.getJSON('<%=kapa_admin_datasets_feed_path(:id => @dataset)%>', function (response) {
        displayReport(response);
      });

      var form = $('#filter_form');
      // Reload report on filter form submission
      form.on('submit', function () {
        $('#filter_report_dialog').modal('hide');
        $.ajax({
          type: 'GET',
          url: '<%=kapa_admin_datasets_feed_path(:id => @dataset)%>',
          data: form.serialize(),
          success: function (response) {
            displayReport(response);
          }
        });
      });

      function displayReport(response) {
        var data = response['data'];
        data.unshift(response['data_columns']);
        $("#output").pivotUI(data);
      }
    });
  </script>

<% end %>

<% content_for(:dialog) do %>

  <%= render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "filter_report_dialog", :modal_title => "Search", :modal_form_id => "filter_form"} do %>
    <%= bootstrap_form_for(:filter, :html => {:method => :get, :id => "filter_form"}) do |f| %>
      <% @parameters.each_value do |p| %>
        <% @parameter = OpenStruct.new(p) %>

        <% if @parameter.active == "Y" %>
          <% case @parameter.type %>
<% when "text_field" %>
            <%= f.text_field(:test, :label => @parameter.label) %>
          <% when "property_select" %>
            <%= f.property_select(@parameter.name, :name => @parameter.property_name, :label => @parameter.label, :include_blank => "Any") %>
          <% when "term_select", "program_select" %>
            <%= f.term_select(@parameter.name, :label => @parameter.label, :include_blank => "Any") %>
          <% when "user_select" %>
            <%= f.user_select(@parameter.name, :label => @parameter.label, :include_blank => "Any", :depts => @current_user.depts) %>
          <% when "date_picker" %>
            <div class="form-group">
              <%= label_tag "filter_#{@parameter.name}", @parameter.label %>
              <%= date_picker(:filter, @parameter.name) %>
            </div>
          <% when "check_box" %>
            <%= f.check_box(@parameter.name, {:label => @parameter.label}, "Y", "N") %>
          <% end %>
        <% end %>

      <% end %>
    <% end %>
  <% end %>
<% end %>

<% content_for(:box1) do %>

  <h4 class="section-header">
    <%= link_to "", {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
    <%= @dataset.name %>
  </h4>

  <div class="row">
    <div class="col-sm-12 text-right">
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#filter_report_dialog"><span class="glyphicon glyphicon-search"></span> Search</button>
    </div>
  </div>

  <div id="output">
    <!-- Dynamically generated content -->
  </div>

<% end %>
