<% content_for(:dialog) do %>

  <%= render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "filter_dialog", :modal_title => "Search", :modal_form_id => "filter_form"} do %>
    <%= bootstrap_form_for(:filter, :url => kapa_forms_path, :html => {:method => :get, :id => "filter_form"}) do |f| %>
      <%= f.property_select :type, :name => :form, :include_blank => "Any", :label => "Form" %>
      <%= f.term_select :form_term_id, :include_blank => "Any" %>
      <%= f.select :lock, [["Locked", "Y"], ["Unlocked", "N"]], :include_blank => "Any", :label => "Lock" %>
      <%= f.select :per_page, Rails.configuration.items_per_page_selections %>
    <% end %>
  <% end %>

<% end %>

<% content_for(:box1) do %>

  <h3>Forms</h3>

  <div class="row">
    <div class="col-sm-12 text-right">
      <%=button_to_link "Download", {:action => :export}, :icon => "glyphicon-download" %>
      <%=button_to_link "Search", nil, "data-toggle" => "modal", "data-target" => "#filter_dialog", :icon => "glyphicon-search" %>
    </div>
  </div>

  <table id="form_list" class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Form</th>
      <th>Last Update</th>
      <th>Submitted</th>
      <th>Lock</th>
      <th><%=t(:kapa_global_dept) %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% for form in @forms %>
      <tr>
        <td><%= form.person.id_number if form.person %></td>
        <td><%= link_to abbr(form.person.full_name), kapa_person_path(:id => form.person) if form.person %></td>
        <td><%= h form.name %></td>
        <td><%= time_ago_in_words form.updated_at if form.updated_at %> ago</td>
        <td><%= format_date form.submitted_at %></td>
        <td><%= h form.lock %></td>
        <td><%= h form.dept.join(", ") %></td>
        <td class="right"><%= link_to "Show", {:action => :show, :id => form}, {:target => "_blank", :class => "btn btn-default btn-xs"} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="text-center"><%= will_paginate @forms, :renderer => BootstrapPagination::Rails %></div>

<% end %>
