<% content_for(:main) do %>

  <div class="text-right">

    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-option-vertical"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%=link_to("Edit form properties", "#", "data-toggle" => "modal", "data-target" => "#edit_form_dialog") %></li>
        <li><%=link_to("Add an attachemnt", "#", "data-toggle" => "modal", "data-target" => "#add_attachment_dialog") %></li>
        <li><%=link_to("Delete", kapa_form_path(:id => @form, :return_path => session[:return_path]), :method => :delete, "data-confirm" => "Are you sure you want to delete?") if destroy? %></li>
      </ul>
    </div>
    <%#=button_to_link("Cancel", nil, "data-close" => true, :icon => "glyphicon-ban-circle") %>
    <%=button_to_link("Update", "#", "data-submit" => "#update_form_form", :icon => "glyphicon-ok-circle") %>

  </div>

  <hr/>

  <div class="well">
    <%= bootstrap_form_for :form, :url => kapa_form_path(:id => @form), :html => {:method => :put, :id => :update_form_form} do %>

      <%=render :partial => "form_container", :locals => {:form_template => @form.form_template} %>

      <% if @form.files.present? %>
          <legend>Attachments</legend>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Type</th>
              <th>Name</th>
              <th>Date</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @form.files.sort_by { |d| d.created_at }.reverse_each do |d| %>
              <tr>
                <td><%= d.type %></td>
                <td><%= d.name %></td>
                <td><%= format_date d.date %></td>
                <td class="right"><%= link_to "Show", kapa_file_path(:id => d), :target => "_blank", :class => "btn btn-default btn-xs" %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
      <% end %>

    </div>
  <% end %>


<% end %>

<% content_for(:dialog) do %>

  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "edit_form_dialog", :modal_title => "Edit form property", :modal_form_id => "edit_form_form"} do %>
    <%=bootstrap_form_for(:form, :url => kapa_form_path(:id => @form), :html => {:method => :put, :id => "edit_form_form"}) do |f| %>
      <%=f.text_area :note, :label => "Note", :size => "5x7" %>
      <div class="row form-block">
        <div class="col-sm-4">
          <%=f.select :lock, [["Lock", "Y"], ["Unlock", "N"]], :label => "Lock status" %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "add_attachment_dialog", :modal_title => "Select a document", :modal_form_id => "new_document_form"} do %>
    <%= bootstrap_form_for :file, :url => kapa_files_path(:id => @person, :return_path => url_for(:only_path => true)), :html => {:multipart => true, :id => "new_document_form"} do |f| %>
      <%= f.file_field :data, :label => "File to upload" %>
      <%= f.hidden_field :attachable_type, :value => @form.class.name %>
      <%= f.hidden_field :attachable_id, :value => @form.id %>
      <%= f.hidden_field :person_id, :value => @form.person_id %>
    <% end %>
  <% end %>

<% end %>
