<% content_for(:box1) do %>

  <h3><%= h @person.full_name %> - <%= h @form.term_desc %></h3>
  <%= bootstrap_form_for :form, :url => kapa_form_path(:id => @form), :html => {:method => :put} do %>
    <%= render :partial => "#{@form.type}_form" %>
    <%= hidden_field :form, :person_id %>
    <%= hidden_field :form, :type %>
    <%= render :layout => "/kapa/layouts/controls", :locals => {:delete_path => kapa_form_path(:id => @form)} do %>
      <%=bootstrap_button "Setting", nil, "data-toggle" => "modal", "data-target" => "#edit_form_dialog", :icon => "glyphicon-wrench" %>
    <% end if @current_user.write? %>
  <% end %>

  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "edit_form_dialog", :modal_title => "Edit form property", :modal_form_id => "edit_form_form"} do %>
    <%= bootstrap_form_for(:form, :url => kapa_form_path(:id => @form), :html => {:method => :put, :id => "edit_form_form"}) do |f| %>
      <%= f.text_area :note, :text => "Note", :size => "5x7" %>
      <div class="row form-block">
        <div class="col-sm-4">
          <%= f.select :lock, [["Lock", "Y"], ["Unlock", "N"]], :text => "Lock status" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
