<% content_for(:main) do %>
  <div class="well">
    <legend>Form</legend>

    <%= bootstrap_form_for :form, :url => kapa_form_path(:id => @form), :html => {:method => :put} do %>

      <% if @form_template.type == "complex" %>
        <%= render :partial => @form_template.template_path, :locals => {:context => :kapa} %>
      <% else %>
        <%= bootstrap_fields_for :form_ext do |f| %>
          <% @form_template.form_fields.each do |form_field| %>
            <% if form_field.type == "section" %>
              <%= content_tag :legend, form_field.label %>
            <% elsif form_field.type == "text_field" %>
              <%= f.text_field form_field.label %>
            <% elsif form_field.type == "text_area" %>
              <%= f.text_area form_field.label %>
            <% elsif form_field.type == "property_select" %>
              <%= f.property_select form_field.label, :name => form_field.type_option %>
            <% elsif form_field.type == "csv_select" %>
              <%= f.select form_field.label, form_field.type_option.to_s.split(/,\s*/) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <%= hidden_field :form, :person_id %>
      <%= hidden_field :form, :type %>

      <% if @form.files.present? %>
          <legend>Attachments</legend>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Type</th>
              <th>Name</th>
              <th>Date</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @form.files.sort_by { |d| d.created_at }.reverse_each do |d| %>
              <tr>
                <td><%= d.type %></td>
                <td><%= d.name %></td>
                <td><%= format_date d.date %></td>
                <td class="right"><%= link_to "Show", kapa_file_path(:id => d), :target => "_blank", :class => "btn btn-default btn-xs" %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
      <% end %>
    </div>
  <% end %>

<% end %>

<% content_for(:sidebar) do %>

  <div class="text-right">

  </div>

  <%= bootstrap_form_for(:form, :url => kapa_form_path(:id => @form), :html => {:method => :put}) do |f| %>

    <%= f.text_area :note, :size => "5x7" %>
    <%= f.select :lock, [["Lock", "Y"], ["Unlock", "N"]], :label => "Lock status" %>
    <%= f.property_select(:depts, {:name => :dept, :label => t(:kapa_global_dept).pluralize}, :multiple => true) if manage? :kapa_files %>

    <%=render(:layout => "/kapa/layouts/controls", :locals => {:hide_cancel => true}) do %>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-option-vertical"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%=link_to("Add an attachemnt", "javascript:void(0)", "data-toggle" => "modal", "data-target" => "#document_dialog")%></li>
          <% if destroy? %><li><%=link_to("Delete this form", kapa_form_path(:id => @form, :return_path => session[:return_path]), :method => :delete, "data-confirm" => "Are you sure you want to delete?")%></li><% end %>
        </ul>
      </div>
      <%=button_to_link "Cancel", nil, "data-close" => true %>
    <% end if update? %>
  <% end %>

<% end %>

<% content_for(:dialog) do %>

  <%= render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "document_dialog", :modal_title => "Select a document", :modal_form_id => "new_document_form"} do %>
    <%= bootstrap_form_for :file, :url => kapa_files_path(:id => @person, :return_path => url_for(:only_path => true)), :html => {:multipart => true, :id => "new_document_form"} do |f| %>
      <%= f.file_field :data, :label => "File to upload" %>
      <%= f.hidden_field :attachable_type, :value => @form.class.name %>
      <%= f.hidden_field :attachable_id, :value => @form.id %>
      <%= f.hidden_field :person_id, :value => @form.person_id %>
    <% end %>
  <% end %>

<% end %>
