<% content_for(:box1) do %>

  <h3><%= h @person.full_name if @person %> <%= h @form.term_desc %></h3>
  <%= bootstrap_form_for :form, :url => kapa_form_path(:id => @form), :html => {:method => :put} do %>
    <%= render :partial => "#{@form.type}_form" %>
    <%= hidden_field :form, :person_id %>
    <%= hidden_field :form, :type %>

    <% if @form.file %>
      <legend>File</legend>
      <%= render :partial => "/kapa/files/file_container", :locals => {:file => @form.file} %>
    <% end %>

    <%= render :layout => "/kapa/layouts/controls", :locals => {:delete_path => kapa_form_path(:id => @form, :return_path => params[:return_path])} do %>
      <%= button_to_link "Setting", nil, "data-toggle" => "modal", "data-target" => "#edit_form_dialog", :icon => "glyphicon-wrench" %>
      <% if @form.file %>
        <%= button_to_link "View File", kapa_file_path(:id => @form.file), :icon => "glyphicon-search" %>
        <%= button_to_link "Download File", kapa_file_path(:id => @form.file, :format => :file), :icon => "glyphicon-download" %>
      <% end %>
    <% end if @current_user.write? %>
  <% end %>

  <%= render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "edit_form_dialog", :modal_title => "Edit form property", :modal_form_id => "edit_form_form"} do %>
    <%= bootstrap_form_for(:form, :url => kapa_form_path(:id => @form), :html => {:method => :put, :id => "edit_form_form"}) do |f| %>
      <%= f.text_area :note, :label => "Note", :size => "5x7" %>
      <div class="row form-block">
        <div class="col-sm-4">
          <%= f.select :lock, [["Lock", "Y"], ["Unlock", "N"]], :label => "Lock status" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
