<% @show_options = true if FileTest.exists?("#{Rails.root}/app/views/admin/_#{@property.name}_form.html.erb") %>

<% content_for(:box1) do %>

  <h4><%=@property.name%>/<%=@property.code%></h4>

  <div class="tabs">
    <ul>
      <li><a href="#property_tab">Properties</a></li>
    </ul>

    <div id="property_tab">
      <%=label_form_for :property, :url => admin_property_path(:id => @property), :remote => true, :html => {:method => :put} do |f| %>
        <%=render :partial => "/admin/property_form", :locals => {:f => f} %>
        <%=controls %>
      <% end %>
    </div>

  </div>

  <%=link_to "Back", :action => :index %>

<% end %>
