<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      <% if @modal %>$('#filter_dialog').modal({show : true});<% end %>
    });
  </script>
<% end %>

<% content_for(:dialog) do %>

  <%=render :layout => '/layouts/modal', :locals => {:modal_id => "filter_dialog", :modal_title => "Filter Criteria", :modal_form_id => "filter_form"} do %>
    <%=bootstrap_form_for(:filter, :url => course_rosters_path, :html => {:method => :get, :id => "filter_form"}) do |f| %>
      <%= f.term_select :term_id, :include_blank => "Any", :label => "Term" %>
      <%= f.text_field :course_name, :label => "Filter (e.g., ITE317 or ITE317-001)" %>
    <% end %>
  <% end %>

<% end %>

<% content_for(:box1) do %>

  <h3>Course Rosters (<%=Term.find(@filter.term_id).description if @filter.term_id%>)</h3>

  <div class="row">
    <div class="text-right">
      <%=link_to "Download", {:action => :export}, :class => "btn btn-default" if @current_user.manage? :course, :delegate => :export %>
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#filter_dialog">Filter</button>
    </div>
  </div>

  <table id="course_list" class="table table-striped">
    <thead>
      <tr>
        <th>Course</th>
        <th>CRN</th>
        <th>Title</th>
        <th>Instructor</th>
        <th>Registration</th>
        <% if @current_user.manage? :course, :delegate => :export  %><th>Progress</th><% end %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for course in @courses %>
        <tr>
          <td><%=h course.name %></td>
          <td><%=h course.crn %></td>
          <td><%=h course.title %></td>
          <td><%=h course.instructor %></td>
          <td><%=h course.course_registrations.length.to_i %></td>
          <% if @current_user.manage? :course, :delegate => :export %><td><%=number_to_percentage course.progress, :precision => 2 %></td><% end %>
          <td class="right"><%=link_to "Show", course_roster_path(:id => course), :class => "btn btn-default btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center"><%=will_paginate @courses, :renderer => BootstrapPagination::Rails %></div>

<% end %>
