<% content_for(:dialog) do %>

  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "filter_dialog", :modal_title => "Search", :modal_form_id => "filter_text"} do %>
    <%=bootstrap_form_for(:filter, :url => kapa_text_templates_path, :html => {:method => :get, :id => "filter_text"}) do |f| %>
      <%= f.select :active, [["Active", "1"],["In-Active","0"]], :include_blank => "Any" %>
      <%= f.select :per_page, Rails.configuration.items_per_page_selections %>
    <% end %>
  <% end %>

<% end %>

<% content_for(:box1) do %>

  <h3>Letter Templates</h3>

  <div class="row">
    <div class="col-sm-12 text-right">
      <%=button_to_link "New", {:action => :new}, :icon => "glyphicon-plus" %>
      <%=button_to_link "Search", nil, "data-toggle" => "modal", "data-target" => "#filter_dialog", :icon => "glyphicon-search" %>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Type</th>
        <th>Title</th>
        <th>Active</th>
        <th><%=t(:kapa_global_dept).pluralize %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for text_template in @text_templates %>
        <tr>
          <td><%=text_template.type %></td>
          <td><%=text_template.title %></td>
          <td><%=text_template.active %></td>
          <td><%=text_template.depts_desc %></td>
          <td class="right"><%=button_to_link "", {:action => :show, :id => text_template}, :icon => "glyphicon-chevron-right", :class => "btn-default btn-xs pull-right" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center"><%=will_paginate @text_templates, :renderer => BootstrapPagination::Rails %></div>

<% end %>
