<% content_for(:head) do %>

  <script type="text/javascript">
    jQuery(document).ready(function($) {
      tinymce.init({
        selector: '#editor',
        theme: 'modern',
        height: 600,
        plugins: "code",
      });
    });
  </script>

<% end %>

<% content_for(:box1) do %>

  <h4 class="section-header">
    <%=link_to "", session[:return_path], :class => "glyphicon glyphicon-chevron-left" %>
    <%=@text_template.title %>
  </h4>

  <%=bootstrap_form_for :text_template, :url => kapa_text_template_path(:id => @text_template), :html => {:method => :put, :id => "text_template_form"} do |f| %>
    <%=f.text_field :title %>
    <%=f.text_area :body, :id => "editor" %>
    <%= f.select :active, [["Active", "1"], ["In-Active", "0"]] %>

    <% more_actions = [] %>
    <% more_actions << link_to("Delete", kapa_text_template_path(:id => @text_template, :return_path => session[:return_path]), :method => :delete, "data-confirm" => "Are you sure you want to delete?") if destroy? %>
    <%=render :partial => "/kapa/layouts/controls", :locals => {:more_actions => more_actions} if update? %>
  <% end %>

<% end %>
