<% content_for(:head) do %>

  <%= stylesheet_link_tag "kapa/editor" %>
  <%= javascript_include_tag "kapa/editor" %>

<% end %>

<% content_for(:box1) do %>

  <h4 class="section-header">
    <%=link_to "", session[:return_path], :class => "glyphicon glyphicon-chevron-left" %>
    <%=@text_template.title %>
  </h4>

  <%=bootstrap_form_for :text_template, :url => kapa_text_template_path(:id => @text_template), :html => {:method => :put, :id => "text_template_form"} do |f| %>
    <%=f.text_field :title %>
    <%=f.text_area :body, :id => "editor" %>
    <%=f.text_field :template_path %>
    <%=f.select :active, [["Active", "1"], ["In-Active", "0"]] %>
    <%=render :partial => "/kapa/layouts/controls", :locals => {:delete_path => kapa_text_template_path(:id => @text_template, :return_path => kapa_text_templates_path)} if update? %>
  <% end %>

<% end %>
