<%=bootstrap_fields_for :term do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <%=f.text_field :code %>
      <%=f.text_field :description %>
      <%=f.text_field :description_short %>
      <%=f.date_picker :start_date, :label => "Start Date" %>
      <%=f.date_picker :end_date, :label => "End Date" %>
    </div>
    <div class="col-sm-6">
      <%=f.text_field :sequence %>
      <%=f.text_field :academic_year %>
      <%=f.text_field :calendar_year %>
      <%=f.text_field :fiscal_year %>
      <%=f.check_box :regular_term, {}, 1, 0 %>
      <%=f.check_box :active, {}, 1, 0 %>
    </div>
  </div>
<% end %>
