<% content_for(:dialog) do %>

  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "filter_dialog", :modal_title => "Search", :modal_form_id => "filter_form"} do %>
    <%=bootstrap_form_for(:filter, :url => kapa_terms_path, :html => {:method => :get, :id => "filter_form"}) do |f| %>
      <div class="form-group">
        <%=label_tag "filter_start_date", "Start Date" %>
        <%=date_picker :filter, :start_date %>
      </div>
      <div class="form-group">
        <%=label_tag "filter_end_date", "End Date" %>
        <%=date_picker :filter, :end_date %>
      </div>
      <%= f.select :active, [["Active", "1"],["In-Active","0"]], :include_blank => "Any" %>
      <%= f.select :per_page, [10, 20, 30, 40, 50] %>
    <% end %>
  <% end %>

<% end %>

<% content_for(:box1) do %>

  <h3>Terms</h3>

  <div class="row">
    <div class="col-sm-12 text-right">
      <%=bootstrap_button "New", {:action => :new}, :icon => "glyphicon-plus" %>
      <%=bootstrap_button "Search", nil, "data-toggle" => "modal", "data-target" => "#filter_dialog", :icon => "glyphicon-search" %>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Code</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Sequence</th>
        <th>Active</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for term in @terms %>
        <tr>
          <td><%=h term.code %></td>
          <td><%=h term.description %></td>
          <td><%=h term.start_date %></td>
          <td><%=h term.end_date %></td>
          <td><%=h term.sequence %></td>
          <td><%=h term.active %></td>
          <td class="right"><%=link_to "Show", {:action => :show, :id => term}, :class => "btn btn-default btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center"><%=will_paginate @terms, :renderer => BootstrapPagination::Rails %></div>

<% end %>
