<% content_for(:dialog) do %>

  <%=render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "filter_dialog", :modal_title => "Search", :modal_form_id => "filter_form"} do %>
    <%=bootstrap_form_for(:filter, :url => kapa_terms_path, :html => {:method => :get, :id => "filter_form"}) do |f| %>
      <%= f.date_picker :start_date, :label => "Start Date" %>
      <%= f.date_picker :end_date, :label => "End Date" %>
      <%= f.select :active, [["Active", "1"],["In-Active","0"]], :include_blank => "Any" %>
      <%= f.select :per_page, Rails.configuration.items_per_page_selections %>
    <% end %>
  <% end %>

<% end %>

<% content_for(:box1) do %>

  <h3>Terms</h3>

  <div class="row">
    <div class="col-sm-12 text-right">
      <%=button_to_link "New", {:action => :new}, :icon => "glyphicon-plus" %>
      <%=button_to_link "Search", nil, "data-toggle" => "modal", "data-target" => "#filter_dialog", :icon => "glyphicon-search" %>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Code</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Sequence</th>
        <th>Active</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for term in @terms %>
        <tr>
          <td><%=h term.code %></td>
          <td><%=h term.description %></td>
          <td><%=h term.start_date %></td>
          <td><%=h term.end_date %></td>
          <td><%=h term.sequence %></td>
          <td><%=h term.active %></td>
          <td class="right"><%=link_to "Show", {:action => :show, :id => term}, :class => "btn btn-default btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center"><%=will_paginate @terms, :renderer => BootstrapPagination::Rails %></div>

<% end %>
