<% content_for(:head) do %>
  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      <% if @modal %>$('#filter_dialog').modal({show: true});
      <% end %>
    });
  </script>
<% end %>

<% content_for(:dialog) do %>

  <%= render :layout => '/kapa/layouts/modal', :locals => {:modal_id => "filter_dialog", :modal_title => "Filter Criteria", :modal_form_id => "filter_form"} do %>
    <%= bootstrap_form_for(:filter, :url => kapa_admin_properties_path, :html => {:method => :get, :id => "filter_form"}) do |f| %>
      <%= f.history_select :name, :model_class => Kapa::Property, :model_method => :name %>
      <%= f.select :active, [["Active", "1"], ["In-Active", "0"]], :include_blank => "Any" %>
      <%= f.select :per_page, [10, 20, 30, 40, 50] %>
    <% end %>
  <% end %>

<% end %>

<% content_for(:box1) do %>

  <h3>System Properties</h3>

  <div class="row">
    <div class="col-sm-12 text-right">
      <%= link_to "New", {:action => :new}, :class => "btn btn-default" %>
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#filter_dialog">Filter</button>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th>Category</th>
      <th>Dept</th>
      <th>Sequence</th>
      <th>Active</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% for property in @properties %>
      <tr>
        <td><%= h property.code %></td>
        <td><%= h property.description %></td>
        <td><%= abbr property.category, 20 %></td>
        <td><%= h property.dept %></td>
        <td><%= h property.sequence %></td>
        <td><%= h property.active %></td>
        <td class="right"><%= link_to "Show", {:action => :show, :id => property}, :class => "btn btn-default btn-xs" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="text-center"><%= will_paginate @properties, :renderer => BootstrapPagination::Rails %></div>

<% end %>
