<%=bootstrap_fields_for :assessment_rubric do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <%=f.text_field :title %>
      <%=f.property_select :dept, {:name => :dept}, {:multiple => true} %>
      <%=f.term_select :start_term_id, :include_blank => true, :label => "Effective From" %>
      <%=f.term_select :end_term_id, :include_blank => true, :label => "Effective To" %>
    </div>

    <div class="col-sm-6">
      <%=f.program_select :program, {}, {:multiple => true, :size => "10", :selectedlist => 1} %>
      <%=f.property_select :course, {:name => :assessment_course}, {:multiple => true, :size => "10"} %>
      <%=f.property_select :transition_point, {:name => :transition_point}, {:multiple => true, :size => "10"} %>
    </div>
  </div>
<% end %>
